<ion-content>

  <!-- logged in -->
  <ng-template #loggedInTemplate>
    <ion-list>
      <ion-list-header>{{ "popover.loggedInText" | translate}}:<br /><span *ngIf="userInformation">{{ userInformation.name }} ({{userInformation.sub}})</span><span *ngIf="!userInformation">{{username}}</span></ion-list-header>
      <button ion-item (click)="toAppInfo()">
        <ion-icon name="information-circle"></ion-icon>
        {{ "page.appInfo.title" | translate }}
      </button>
      <button ion-item (click)="toSettings()">
        <ion-icon name="settings"></ion-icon>
        {{ "page.settings.title" | translate }}
      </button>
      <button ion-item (click)="toLogout()">
        <ion-icon name="log-out"></ion-icon>
        {{ "button.logout" | translate }}
      </button>
    </ion-list>
  </ng-template>

  <!-- not logged in -->
  <ng-template #notLoggedInTemplate>
    <ion-list>
      <ion-list-header>{{ "popover.notLoggedInText" | translate}}</ion-list-header>
      <button ion-item (click)="toAppInfo()">
        <ion-icon name="information-circle"></ion-icon>
        {{ "page.appInfo.title" | translate }}
      </button>
      <button ion-item (click)="toSettings()">
        <ion-icon name="settings"></ion-icon>
        {{ "page.settings.title" | translate }}
      </button>
      <button ion-item (click)="toLogin()">
        <ion-icon name="log-in"></ion-icon>
        {{ "button.login" | translate }}
      </button>
    </ion-list>
  </ng-template>

  <ng-container *ngIf="loggedIn; then loggedInTemplate; else notLoggedInTemplate "></ng-container>

</ion-content>