<ion-toolbar>
  <ion-segment>
  <button class="tabButtons" ion-button color="primary" clear icon-left (click)="openPage(0)">
      <ion-icon name="home"></ion-icon>
      {{ "page.home.title" | translate }}
  </button>
  <button class="tabButtons" ion-button color="primary" clear icon-left (click)="openPage(1)">
      <ion-icon name="settings"></ion-icon>
      {{ "page.settings.title" | translate }}
  </button>
  <button class="tabButtons" ion-button color="primary" clear icon-left (click)="openPage(2)">
      <ion-icon name="information-circle"></ion-icon>
      {{ "page.imprint.title" | translate }}
  </button>
  </ion-segment>
</ion-toolbar>