<ion-toolbar>
  <ion-segment>
    <button class="tabButtons" ion-button color="primary" clear icon-left (click)="openPage(0)">
        <div>
        <ion-icon class="tabIcon" name="home"></ion-icon><br>
        {{ "page.home.title" | translate }}
        </div>
    </button>
    <button class="tabButtons" ion-button color="primary" clear icon-left (click)="openPage(1)">
        <div>
            <ion-icon class="tabIcon" name="information-circle"></ion-icon><br>
            {{ "page.imprint.title" | translate }}
        </div>
    </button>
  </ion-segment>
</ion-toolbar>
