<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="loadMenu(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.mensa2.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="isLoaded && !networkError">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <app-date-picker
            [compactMode]="true"
            [inputDate]="selectedDate"
            (momentObjectEmitter)="pickDate($event)"
          ></app-date-picker>
        </ion-col>
        <ion-col size="6">
          <ion-item class="mensaFilter" mode="md" lines="none">
            <ion-label>Filter</ion-label>
            <ion-select
              multiple="true"
              (ionChange)="filterMenus($event)"
              okText="{{ 'button.ok' | translate }}"
              cancelText="{{ 'button.cancel'  | translate }}"
              [disabled]="filterKeywords.length === 0"
            >
              <ion-select-option *ngFor="let filter of filterKeywords"
                >{{ filter }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="loadMenu($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>
</ion-content>
