<ion-card>

  <ion-card-header *ngIf="hintTextI18nKey">
    <ion-icon [name]="hintIcon" margin-right></ion-icon> {{ hintTypeI18nKey | translate }}
  </ion-card-header>

  <ion-card-content [ngClass]="disableTextCentering ? '' : 'ion-text-center'">
    <div [innerHTML]="translate.instant(hintTextI18nKey)"></div>

    <ng-container *ngIf="secondHintTextI18nKey">
      <br>
      <div [innerHTML]="translate.instant(secondHintTextI18nKey)"></div>
    </ng-container>
  </ion-card-content>

</ion-card>
