ion-card {
  border: 2px solid var(--ion-color-light-shade);
}

ion-card-header {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-dark);
  padding: 5px;
}

ion-card-content {
  color: var(--ion-color-dark);
  margin: 0;
  padding: 5px !important;
}
