ion-card {
  border: 2px solid var(--ion-color-medium);
}

ion-card-header {
  background-color: var(--ion-color-secondary);
  color: #000;
  padding: 5px;
}

ion-card-content {
  color: #000;
  margin: 0;
  padding: 5px !important;
}
