<ion-header>
  <ion-navbar>
    <ion-title>{{ "page.appInfo.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list class="showSysInfo">

    <ion-item (click)="showContactPerson = !showContactPerson">
      <b>{{ "page.appInfo.contact" | translate }}</b>
      <ion-icon *ngIf="!showContactPerson" item-end name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="showContactPerson" item-end name="arrow-dropup"></ion-icon>
    </ion-item>
    <span *ngIf="showContactPerson">
      <ion-item>...</ion-item>
    </span>
    <ion-item (click)="showParticipationInfo = !showParticipationInfo">
      <b>{{ "page.appInfo.participate" | translate }}</b>
      <ion-icon *ngIf="!showParticipationInfo" item-end name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="showParticipationInfo" item-end name="arrow-dropup"></ion-icon>
    </ion-item>
    <span *ngIf="showParticipationInfo">
      <ion-item>...</ion-item>
    </span>
    <ion-item (click)="showLibraryInfo = !showLibraryInfo">
      <b>{{ "page.appInfo.libraries" | translate }}</b>
      <ion-icon *ngIf="!showLibraryInfo" item-end name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="showLibraryInfo" item-end name="arrow-dropup"></ion-icon>
    </ion-item>
    <span *ngIf="showLibraryInfo">
      <ion-item>...</ion-item>
    </span>

    <ion-item class="sysHeader" (click)="showSysInfo = !showSysInfo" *ngIf="deviceInfo.cordovaVersion || deviceInfo.appVersion || deviceInfo.osPlatform || deviceInfo.osVersion || deviceInfo.uuid || deviceInfo.deviceManufacturer || deviceInfo.deviceModel">
      <b>{{ "page.appInfo.app" | translate }}</b>
      <ion-icon *ngIf="!showSysInfo" item-end name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="showSysInfo" item-end name="arrow-dropup"></ion-icon>
    </ion-item>
    <span *ngIf="showSysInfo">
      <ion-item *ngIf="deviceInfo.cordovaVersion">
        <ion-label item-start>Cordova Version:</ion-label>{{ deviceInfo.cordovaVersion }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.appVersion">
        <ion-label item-start>{{ "page.appInfo.version" | translate }}:</ion-label>{{ deviceInfo.appVersion }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.osPlatform">
        <ion-label item-start>{{ "page.appInfo.platform" | translate }}:</ion-label>{{ deviceInfo.osPlatform }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.osVersion">
        <ion-label item-start>Platform Version:</ion-label>{{ deviceInfo.osVersion }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.uuid">
        <ion-label item-start>{{ "page.appInfo.uuid" | translate }}:</ion-label>{{ deviceInfo.uuid }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.deviceManufacturer">
        <ion-label item-start>{{ "page.appInfo.manufacturer" | translate }}:</ion-label>{{ deviceInfo.deviceManufacturer }}
      </ion-item>
      <ion-item *ngIf="deviceInfo.deviceModel">
        <ion-label item-start>{{ "page.appInfo.model" | translate }}:</ion-label>{{ deviceInfo.deviceModel }}
      </ion-item>
    </span>
  </ion-list>

<ion-footer>
    <tab-bar></tab-bar>
</ion-footer>