.expandedRootItem {
  --background: var(--ion-color-secondary);

  border-radius: 0;
  color: var(--ion-color-primary);
  font-size: 0.75rem;
}

.rootItem {
  border-radius: 0;
  color: var(--ion-color-dark);
  font-size: 0.75rem;
}

.expandedItem,
.expandedCourse {
  --background: var(--ion-color-secondary);

  border-radius: 0;
  color: var(--ion-color-primary);
  font-size: 0.75rem;
  margin-left: 0.5%;
}

.subTreeItem {
  --background: var(--ion-color-light);

  border-radius: 0;
  font-size: 0.75rem;
  margin-left: 0.5%;
}

.courseItem {
  --background: var(--ion-color-light);

  border-radius: 0;
  font-size: 0.75rem;
  margin-left: 0.5%;
}

.courseData {
  border-radius: 0;
  font-size: 0.75rem;
  margin-left: 0.5%;
  margin-right: 0;
  padding: 0;

  p {
    color: var(--ion-color-primary);
    font-size: 0.75rem;
  }
}

.courseKeywords {
  font-weight: bold;
}

.noCourses {
  --background: var(--ion-color-light);

  border-radius: 0;
  color: var(--ion-color-dark);
  font-size: 0.75rem;
  margin-left: 0.5%;
}

/*
  Generic Styling, for Desktops/Laptops
  */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: var(--ion-color-light-shade);
}

th {
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
  font-size: 0.75rem;
  font-weight: bold;
}

td,
th {
  border: 1px solid var(--ion-color-dark-shade);
  padding: 6px;
  text-align: left;
}

/*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 0.75rem;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  tr {
    border: 1px solid var(--ion-color-dark-shade);
  }

  tr.emptyRow {
    border: 0 solid var(--ion-color-dark-shade);
  }

  td {
    /* Behave  like a "row" */
    border: 0 none;
    border-bottom: 1px solid var(--ion-color-dark-shade);
    position: relative;
  }

  td::before {
    left: 6px;
    padding-right: 10px;

    /* Now like a table header */
    position: relative;

    /* Top/left values mimic padding */
    top: 0;
    white-space: nowrap;
    width: 45%;
  }

  /*
      Label the data
      */
  td:nth-of-type(1)::before {
    content: "Tag:";
  }

  td:nth-of-type(2)::before {
    content: "Zeit:";
  }

  td:nth-of-type(3)::before {
    content: "Rhythmus:";
  }

  td:nth-of-type(4)::before {
    content: "Dauer:";
  }

  td:nth-of-type(5)::before {
    content: "Raum:";
  }

  td:nth-of-type(6)::before {
    content: "Lehrperson:";
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0;
    padding: 0;
    width: 320px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
}
