<div align="center" *ngIf="!isLoaded && !networkError" class="ion-padding">
  <ion-spinner name="dots"></ion-spinner>
</div>
<app-hint-box
  *ngIf="networkError"
  hintTypeI18nKey="hints.type.hint"
  hintTextI18nKey="alert.httpErrorStatus.generic"
></app-hint-box>
<ion-list
  *ngIf="
    lectureSchedule &&
    lectureSchedule.lectureScheduleRoot &&
    lectureSchedule.lectureScheduleRoot.rootNode &&
    lectureSchedule.lectureScheduleRoot.rootNode.childNodes &&
    lectureSchedule.lectureScheduleRoot.rootNode.childNodes.childNode
  "
>
  <div
    *ngFor="
      let childNode of convertToArray(
        lectureSchedule.lectureScheduleRoot.rootNode.childNodes.childNode
      )
    "
    [ngClass]="
      !isExpanded[childNode.headerId] ? 'rootItem' : 'expandedRootItem'
    "
  >
    <ion-item
      mode="md"
      [ngClass]="
        !isExpanded[childNode.headerId] ? 'rootItem' : 'expandedRootItem'
      "
      button
      (click)="expandChild(childNode)"
    >
      <ion-label class="ion-text-wrap">
        {{ htmlDecode(childNode.headerName) }}
      </ion-label>
      <ion-icon
        *ngIf="childNode.headerId"
        [name]="
          !isExpanded[childNode.headerId] ? 'caret-forward' : 'caret-down'
        "
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
    <app-lecture-list
      *ngIf="childNode.headerId && isExpanded[childNode.headerId]"
      [headerIdInput]="headerId"
      [hasSubTreeInput]="hasSubTree"
    ></app-lecture-list>
  </div>
</ion-list>
<div
  *ngIf="
    lectureSchedule &&
    lectureSchedule.lectureScheduleSubTree &&
    lectureSchedule.lectureScheduleSubTree.currentNode &&
    lectureSchedule.lectureScheduleSubTree.currentNode.childNodes &&
    lectureSchedule.lectureScheduleSubTree.currentNode.childNodes.childNode
  "
>
  <div
    *ngFor="
      let childNode of convertToArray(
        lectureSchedule.lectureScheduleSubTree.currentNode.childNodes.childNode
      );
      let last = last
    "
    [ngClass]="!isExpanded[childNode.headerId] ? 'subTreeItem' : 'expandedItem'"
  >
    <ion-item
      mode="md"
      [ngClass]="
        !isExpanded[childNode.headerId] ? 'subTreeItem' : 'expandedItem'
      "
      button
      (click)="expandChild(childNode)"
    >
      <ion-label class="ion-text-wrap">
        {{ htmlDecode(childNode.headerName) }}
      </ion-label>
      <ion-icon
        *ngIf="childNode.headerId"
        [name]="
          !isExpanded[childNode.headerId] ? 'caret-forward' : 'caret-down'
        "
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
    <app-lecture-list
      *ngIf="childNode.headerId && isExpanded[childNode.headerId]"
      [headerIdInput]="headerId"
      [hasSubTreeInput]="hasSubTree"
    ></app-lecture-list>
  </div>
</div>
<div
  *ngIf="
    lectureSchedule &&
    lectureSchedule.lectureScheduleCourses &&
    lectureSchedule.lectureScheduleCourses.currentNode &&
    lectureSchedule.lectureScheduleCourses.currentNode.courses &&
    lectureSchedule.lectureScheduleCourses.currentNode.courses.course
  "
>
  <div
    *ngFor="
      let course of convertToArray(
        lectureSchedule.lectureScheduleCourses.currentNode.courses.course
      );
      let last = last
    "
    [ngClass]="
      !isExpandedCourse[course.courseId] ? 'courseItem' : 'expandedItem'
    "
  >
    <ion-item
      mode="md"
      [ngClass]="
        !isExpandedCourse[course.courseId] ? 'courseItem' : 'expandedItem'
      "
      button
      (click)="expandCourse(course)"
    >
      <ion-label class="ion-text-wrap">
        {{ course.courseType }}: {{ htmlDecode(course.courseName) }}
      </ion-label>
      <ion-icon
        *ngIf="course.courseId"
        [name]="
          !isExpandedCourse[course.courseId] ? 'caret-forward' : 'caret-down'
        "
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
    <app-course-data
      *ngIf="isExpandedCourse[course.courseId]"
      [course]="course"
    ></app-course-data>
  </div>
</div>
<div
  *ngIf="
    lectureSchedule &&
    lectureSchedule.lectureScheduleCourses &&
    lectureSchedule.lectureScheduleCourses.currentNode &&
    (!lectureSchedule.lectureScheduleCourses.currentNode.courses ||
      (lectureSchedule.lectureScheduleCourses.currentNode.courses &&
        !lectureSchedule.lectureScheduleCourses.currentNode.courses.course))
  "
  class="courseItem"
>
  <div class="noCourses">
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="page.lectures.noCourses"
    ></app-hint-box>
  </div>
</div>
