<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>{{"page.login.title"|translate}}</ion-title>
        <ion-buttons end>
          <button ion-button (tap)="abort()">
            <span ion-text color="primary" showWhen="ios">{{ "button.cancel" | translate }}</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="assets/imgs/logo/logo_uni_potsdam.svg"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!alreadyLoggedIn">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input
                  autocapitalize="none"
                  type="text"
                  [placeholder]="'page.login.placeHolder.username' | translate"
                  name="id"
                  [(ngModel)]="loginCredentials.username"
                  required
                ></ion-input>
              </ion-item>

            <ion-item>
              <ion-input
                clearOnEdit="false"
                type="password"
                [placeholder]="'page.login.placeHolder.password' |translate"
                name="password"
                [(ngModel)]="loginCredentials.password"
                required
              ></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" full type="submit">
            {{ "button.login" | translate }}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full type="button" (click)="abort()">
            {{ "button.cancel" | translate }}
          </button>
        </ion-col>
      </ion-row>
     </ion-grid>
    </form>
  </div>

  <hint hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.login-hint"></hint>

  <div align="center" *ngIf="alreadyLoggedIn" padding>
    {{ "page.login.alreadyLoggedIn" | translate }}
  </div>
</ion-content>