<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <app-connection-indicator slot="end"></app-connection-indicator>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.person-search.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="search()"
      debounce="750"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" (ionScrollStart)="onScrollListener()">
  <p *ngIf="!response_received && query.length > 0" style="text-align: center">
    <ion-spinner name="dots"></ion-spinner>
  </p>

  <div
    *ngIf="noResults && query.length > 0 && (response_received && personsFound.length == 0 && error == null)"
  >
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
  </div>

  <ion-list *ngIf="!error" lines="none">
    <span *ngFor="let person of personsFound">
      <ion-item-sliding>
        <ion-item
          button
          (click)="expandPerson(person)"
          [ngClass]="{'noborder': person.expanded}"
        >
          <ion-icon color="primary" slot="start" name="person"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h2>
              {{person.Initials}} {{person.First_Name}} {{person.Last_Name}}
            </h2>
            <p *ngIf="person.Department != ''">{{person.Department}}</p>
          </ion-label>
          <ion-icon
            *ngIf="(person.Room_Name || person.Extension || person.Email)"
            [name]="!person.expanded ? 'caret-forward' : 'caret-down'"
            slot="end"
          ></ion-icon>
        </ion-item>

        <ion-item-options slot="end">
          <ion-item-option
            button
            (click)="openMail(person.Email)"
            color="primary"
            *ngIf="person.Email != ''"
          >
            <a class="notUnderlined whiteFont">Mail</a>
          </ion-item-option>
          <ion-item-option
            button
            (click)="callContact(person.Extension)"
            color="secondary"
            *ngIf="person.Extension != ''"
          >
            <!-- <ion-icon name="call" ios="ios-call" md="md-call"></ion-icon> -->
            <a class="notUnderlined">{{ "button.call" | translate }} </a>
          </ion-item-option>
          <!-- <ion-item-option
            button
            (click)="exportContact(person)"
            color="medium"
            *ngIf="cordova"
          >
            <ion-icon name="person-add"></ion-icon>
            <a class="notUnderlined">{{ "button.add" | translate }}</a>
          </ion-item-option> -->
        </ion-item-options>
      </ion-item-sliding>

      <ion-item
        *ngIf="person.expanded && ((person.Email != '') || (person.Extension != '') || (person.Room_Name != ''))"
      >
        <ion-icon slot="start"></ion-icon>
        <ion-label class="ion-no-margin ion-text-wrap">
          <ion-grid>
            <ion-row *ngIf="person.Email != ''">
              <ion-col size="auto"
                ><ion-icon
                  color="primary"
                  name="mail"
                  margin-right
                ></ion-icon></ion-col
              ><ion-col
                ><a href="mailto:{{person.Email}}">{{person.Email}}</a></ion-col
              >
            </ion-row>
            <ion-row *ngIf="person.Extension != ''">
              <ion-col size="auto"
                ><ion-icon color="primary" name="call" margin-right></ion-icon
              ></ion-col>
              <ion-col>
                <a
                  class="linkItem"
                  (click)="callContact(person.Extension)"
                  style="text-decoration: underline"
                  >{{person.Extension}}</a
                >
              </ion-col>
            </ion-row>
            <ion-row *ngIf="person.Room_Name != ''">
              <ion-col size="auto"
                ><ion-icon
                  color="primary"
                  name="home"
                  margin-right
                ></ion-icon></ion-col
              ><ion-col>{{person.Room_Name}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>

  <app-network-error-hint *ngIf="error"></app-network-error-hint>
</ion-content>
