<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.person-search.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="search()"
      debounce="750"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-no-padding"
  [scrollEvents]="true"
  (ionScrollStart)="onScrollListener()"
>
  <p *ngIf="!response_received && query.length > 0" style="text-align: center">
    <ion-spinner name="dots"></ion-spinner>
  </p>

  <div
    *ngIf="noResults && query.length > 0 && (response_received && personsFound.length == 0 && error == null)"
  >
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
  </div>

  <span *ngFor="let person of personsFound">
    <app-custom-card
      [cardTitle]="getNameString(person)"
      [cardSubTitle]="person.Department && person.Department !== '' ? person.Department : null"
      [footerFirstString]="person.Extension && person.Extension !== '' ? translate.instant('button.call') : null"
      [footerFirstIcon]="person.Extension && person.Extension !== '' ? 'call' : null"
      (footerFirstIconCallback)="person.Extension && person.Extension !== '' ? callContact(person.Extension) : null"
      [footerSecondString]="person.Email && person.Email !== '' ? 'Mail' : null"
      [footerSecondIcon]="person.Email && person.Email !== ''? 'mail' : null"
      (footerSecondIconCallback)="person.Email && person.Email !== '' ? openMail(person.Email) : null"
      [footerThirdString]="person.Room_Name  && person.Room_Name !== '' ? person.Room_Name : null"
      [footerThirdIcon]="person.Room_Name && person.Room_Name !== '' ? 'home' : null"
    ></app-custom-card>
  </span>

  <app-hint-box
    *ngIf="error"
    hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="alert.httpErrorStatus.generic"
  ></app-hint-box>
</ion-content>
