ion-item ion-thumbnail {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    img {
      min-width: 3rem;
      min-height: 3rem;
      max-width: 3rem;
      max-height: 3rem;
    }
}

ion-thumbnail[item-start] {
    margin: 8px 0px 8px 0 !important;
}

ion-col {
    font-size: 1.3rem;
}

.link {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.notUnderlined {
    text-transform: capitalize;
    text-decoration: none;
}

.whiteFont {
    color: white;
}

ion-icon {
    color: var(--ion-color-primary);
}

ion-col {
    font-size: 0.95rem!important;
}