gridster {
  background-color: var(--ion-item-background);
}

gridster-item {
  background-color: var(--ion-color-secondary);
  margin: 0 !important;
}

.favoritesItem {
  --min-height: 10px;

  font-size: 0.9em;

  ion-icon {
    font-size: 0.9em;
  }

  ion-icon.editingIcon {
    font-size: 1.3em;
  }
}
