gridster {
  background-color: var(--ion-item-background);
}

gridster-item {
  background-color: var(--ion-color-secondary);
  height: 120px;
  margin: 0 !important;
  max-height: 120px;
  max-width: 120px;
  min-height: 120px;
  min-width: 120px;
  width: 120px;
}
