<gridster [options]="options">
  <ng-container *ngFor="let module of modules">
    <gridster-item *ngIf="module.selected" [item]="module">
      <ng-template [ngTemplateOutlet]="template"
                   [ngTemplateOutletContext]="{module: module}">
      </ng-template>
    </gridster-item>
  </ng-container>
</gridster>

<!--  <gridster [options]="gridsterOptions">-->
<!--    <gridster-item [item]="module" *ngFor="let module of sortedModules| orderBy: 'translation'"-->
<!--                   (click)="openModule(module)" [id]="module.selected ? icon_selected : icon_not_selected">-->
<!--      <ion-icon class="centered" color="primary" *ngIf="module.icon" [name]="module.icon"></ion-icon>-->
<!--      <ion-icon class="centered" color="primary" *ngIf="module.customIcon" [src]="module.customIcon"></ion-icon>-->
<!--      <ion-label *ngIf="module.selected" class="centered">-->
<!--        <div align="center" class="hyphen">{{ module.i18nKey | translate }}</div>-->
<!--      </ion-label>-->
<!--    </gridster-item>-->
<!--  </gridster>-->
