.reorder-button {
  --padding-top: 18px;

  ion-icon {
    color: var(--ion-color-dark);
  }
}

ion-segment-button {
  --padding-end: 5px;
  --padding-start: 5px;
  --margin-end: 0;
  --margin-start: 0;
}
