<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="ulfSelected && !(platform.is('ios') || platform.is('android'))"
      (click)="loadMenu(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.mensa.title" | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar mode="md">
    <ion-segment value="mensen">
      <ion-segment-button (click)="selectTab('mensen')" value="mensen">
        <ion-label>{{ "page.mensa.mensen" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="selectTab('ulfscoffee')" value="ulfscoffee">
        <ion-label>{{ "page.mensa.ulfscafe" | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar *ngIf="ulfSelected && isLoaded && !networkError">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <app-date-picker
            [compactMode]="true"
            [inputDate]="selectedDate"
            (momentObjectEmitter)="pickDate($event)"
          ></app-date-picker>
        </ion-col>
        <ion-col size="6">
          <ion-item class="mensaFilter" mode="md" lines="none">
            <ion-label>Filter</ion-label>
            <ion-select
              multiple="true"
              (ionChange)="filterMenus($event)"
              okText="{{ 'button.ok' | translate }}"
              cancelText="{{ 'button.cancel'  | translate }}"
              [disabled]="filterKeywords.length === 0"
            >
              <ion-select-option *ngFor="let filter of filterKeywords"
                >{{ filter }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div *ngIf="ulfSelected && isLoaded && !networkError">
    <ion-refresher
      *ngIf="platform.is('ios') || platform.is('android')"
      slot="fixed"
      (ionRefresh)="loadMenu($event)"
    >
      <ion-refresher-content
        pullingIcon="refresh"
        refreshingSpinner="dots"
      ></ion-refresher-content>
    </ion-refresher>

    <div align="center" *ngIf="!isLoaded" class="ion-padding">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>

  <div *ngIf="ulfSelected && isLoaded && !networkError">
    <app-mensa-meal
      *ngIf="ulfMeals && !noUlfMealsForDate"
      [meals]="displayedUlfMeals"
      [mealForDate]="ulfMealForDate"
      [iconMapping]="ulfIconMapping"
    ></app-mensa-meal>
  </div>

  <div *ngIf="mensenSelected && !networkError">
    <p style="text-align: center; font-size: 24px">
      {{ "page.mensa.mensaAPINotAvailable1" | translate }}<a
        href="https://swp.webspeiseplan.de/"
        >{{"page.mensa.mensaLinktext" | translate}}</a
      >{{ "page.mensa.mensaAPINotAvailable2" | translate }}
    </p>
  </div>
</ion-content>
