<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button *ngIf="!(platform.is('ios') || platform.is('android'))" (click)="loadCampusMenu(true)" slot="end" fill="clear">
      <ion-icon style="font-size: x-large;" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.mensa.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-campus-tab (campusChanged)="changeCampus($event)"></app-campus-tab>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" (swipe)="campusTabComponent.handleSwipeEvent($event)">

  <ion-refresher *ngIf="platform.is('ios') || platform.is('android')" slot="fixed" (ionRefresh)="loadCampusMenu($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <app-hint-box *ngIf="isLoaded && !mensaIsOpen && !networkError && !noMensaForLocation" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.mensa.mensaClosed"></app-hint-box>
  <app-hint-box *ngIf="noMensaForLocation" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.functionNotAvailable"></app-hint-box>

  <ion-grid *ngIf="isLoaded && !noMensaForLocation && !networkError">
    <ion-row>
      <ion-col size="6">
        <app-date-picker [compactMode]="true" [inputDate]="selectedDate" (momentObjectEmitter)="pickDate($event)"></app-date-picker>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Filter</ion-label>
          <ion-select multiple="true" (ionChange)="filterMenus($event)" okText="{{ 'button.ok' | translate }}" cancelText="{{ 'button.cancel'  | translate }}" [disabled]="filterKeywords.length === 0">
            <ion-select-option *ngFor="let filter of filterKeywords">{{ filter }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isLoaded && !noMensaForLocation && !networkError">
    <ion-list lines="none" [ngClass]="showBasicCalendar ? 'calendarExpanded' : 'calendarCollapsed' ">
      <app-mensa-meal *ngIf="!noMealsForDate"
      [meals]="displayedMeals"
      [mealForDate]="mealForDate"
      [iconMapping]="iconMapping"></app-mensa-meal>

      <ion-item-divider *ngIf="ulfMeals && !noUlfMealsForDate" color="light">
        <ion-label>
          Ulf's Café
        </ion-label>
      </ion-item-divider>

      <app-mensa-meal *ngIf="ulfMeals && !noUlfMealsForDate"
      [meals]="displayedUlfMeals"
      [mealForDate]="ulfMealForDate"
      [iconMapping]="ulfIconMapping"></app-mensa-meal>
    </ion-list>
  </div>

  <div *ngIf="isLoaded && noMealsForDate && noUlfMealsForDate && !networkError && mensaIsOpen && !noMensaForLocation">
    <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.mensa-nomeals-hint"></app-hint-box>
  </div>
  <app-hint-box *ngIf="isLoaded && networkError && !noMensaForLocation" hintTypeI18nKey="alert.title.httpError" hintTextI18nKey="alert.network"></app-hint-box>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer-disclaimer disclaimerReference="page.mensa.disclaimer"></app-footer-disclaimer>
  </ion-toolbar>
</ion-footer>
