#footer-title {
  color: var(--ion-color-primary);
}

ion-grid {
  padding: 0;
}

ion-item {
  --background: var(--ion-card-background);
  --min-height: 10px;

  min-height: 10px;
}

.mensaFilter {
  --background: var(--ion-toolbar-background);
}
