#footerTitle {
    color:var(--ion-color-primary);
}

.calendarButton {
    --background: var(--ion-color-secondary);
    color: var(--ion-color-primary);
    width: 30%;
}

.activeCalendarButton {
    --background: var(--ion-color-primary);
    color:#fff;
    width: 30%;
}

ion-calendar {
    background-color: var(--ion-color-medium);
    .title .switch-btn {
        color: #000;
    }
}


ion-calendar-month .primary .days .marked p, ion-calendar-month .primary .days .today p,
ion-calendar-month .primary button.days-btn small {
    color: var(--ion-color-primary);
}

ion-calendar-month .primary .days .on-selected, ion-calendar-month .primary .endSelection button.days-btn,
ion-calendar-month .primary .startSelection button.days-btn {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary);
}

ion-calendar-month .primary .startSelection:after,
ion-calendar-month .primary .between button.days-btn,
ion-calendar-month .primary .endSelection:after  {
    background-color: var(--ion-color-secondary);
}

ion-calendar-month .primary .days .marked.on-selected p, ion-calendar-month .primary .days .today.on-selected p,
ion-calendar-month .primary .endSelection button.days-btn p {
    color: var(--ion-color-secondary);
}

ion-calendar-month .primary .between button.days-btn p {
    color: var(--ion-color-primary);
}

.list {
    margin-top:10px;
}

.calendarExpanded {
    margin-top:10px
}

.calendarCollapsed {
    margin-top:0px
}

.card-md, .card, .card-ios {
    box-shadow: none;
    -webkit-box-shadow:none;
}