platforms/**/
node_modules/
/.project
.settings/
.DS_Store

plugins/org.apache.cordova.inappbrowser/
plugins/org.apache.cordova.splashscreen/
plugins/nl.x-services.plugins.calendar/
plugins/org.apache.cordova.dialogs/
plugins/org.apache.cordova.device/

plugins/android.json
plugins/ios.json
