// Cordova project
platforms/**/
node_modules/
/.project
.settings/
.DS_Store
.cordova/
.idea/
plugins/
config.json

// Files from ionic branch
.sourcemaps/
www/assets/
www/build/
www/manifest.json
www/service-worker.js