<?xml version='1.0' encoding='utf-8'?>
<widget
    id="de.floriangoessler.upapp"
    android-packageName="de.floriangoessler.upapp"
    version="5.1.0"
    android-versionCode="51000"
    ios-CFBundleVersion="201712121306"
    ios-CFBundleIdentifier="com.floriangoessler.Uni-Potsdam"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Mobile.UP</name>
    <description>Offizielle App der Universität Potsdam</description>
    <author email="mobileup-service@uni-potsdam.de" href="http://www.uni-potsdam.de/elis/">eLiS-Team</author>

    <!-- Platforms -->
    <plugin name="cordova-custom-config" spec="^2.0.3" />
    <engine name="android" spec="~5.2.2" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-manifest/@android:installLocation" value="auto" />
    </platform>
    <engine name="ios" spec="~4.3.0" />
    <platform name="ios">
    </platform>

    <!-- Fullscreen and status bar -->
    <plugin name="cordova-plugin-statusbar" spec="^2.2.2" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="ios">
        <preference name="Fullscreen" value="true" />
        <preference name="StatusBarStyle" value="blackopaque" />
    </platform>
    <platform name="android">
        <preference name="Fullscreen" value="false" />
        <preference name="StatusBarBackgroundColor" value="#012333" />
    </platform>

    <!-- App icons -->
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
    </platform>
    <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon height="180" width="180" src="res/icon/ios/icon-60@3x.png" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon height="60"  width="60"  src="res/icon/ios/icon-60.png" />
        <icon height="120" width="120" src="res/icon/ios/icon-60@2x.png" />
        <!-- iPad -->
        <icon height="76"  width="76"  src="res/icon/ios/icon-76.png" />
        <icon height="152" width="152" src="res/icon/ios/icon-76@2x.png" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon height="40"  width="40"  src="res/icon/ios/icon-40.png" />
        <icon height="80"  width="80"  src="res/icon/ios/icon-40@2x.png" />
        <!-- iPhone / iPod Touch -->
        <icon height="57"  width="57"  src="res/icon/ios/icon-57.png" />
        <icon height="114" width="114" src="res/icon/ios/icon-57@2x.png" />
        <!-- iPad -->
        <icon height="72"  width="72"  src="res/icon/ios/icon-72.png" />
        <icon height="144" width="144" src="res/icon/ios/icon-72@2x.png" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon height="29"  width="29"  src="res/icon/ios/icon-29.png" />
        <icon height="58"  width="58"  src="res/icon/ios/icon-29@2x.png" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon height="50"  width="50"  src="res/icon/ios/icon-50.png" />
        <icon height="100" width="100" src="res/icon/ios/icon-50@2x.png" />
    </platform>

    <!-- Splash screens -->
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="FadeSplashScreen" value="true"/>
    <preference name="FadeSplashScreenDuration" value="500"/>
    <platform name="android">
        <splash density="port-ldpi"  src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi"  src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-hdpi"  src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="land-ldpi"  src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi"  src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-hdpi"  src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
    </platform>
    <platform name="ios">
        <splash width="320"  height="480"  src="res/screen/ios/screen-iphone-portrait.png" />
        <splash width="640"  height="960"  src="res/screen/ios/screen-iphone-portrait-2x.png" />
        <splash width="640"  height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />
        <splash width="750"  height="1334" src="res/screen/ios/screen-iphone-portrait-750.png" />
        <splash width="1242" height="2208" src="res/screen/ios/screen-iphone-portrait-1242.png" />
        <splash width="2208" height="1242" src="res/screen/ios/screen-iphone-landscape-2208.png" />
        <splash width="768"  height="1024" src="res/screen/ios/screen-ipad-portrait.png" />
        <splash width="1024" height="768"  src="res/screen/ios/screen-ipad-landscape.png" />
        <splash width="1536" height="2048" src="res/screen/ios/screen-ipad-portrait-2x.png" />
        <splash width="2048" height="1536" src="res/screen/ios/screen-ipad-landscape-2x.png" />
    </platform>

    <!-- File download (Moodle) -->
    <plugin name="cordova-plugin-file" spec="^4.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.5.1" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>

    <!-- Whitelist -->
    <plugin name="cordova-plugin-whitelist" spec="^1.2.2" />
    <access origin="*" />

    <!-- for iOS -->
    <feature name="Launcher">
        <param name="ios-package" value="Launcher" />
    </feature>
    <!-- for Android -->
    <feature name="Launcher">
        <param name="android-package" value="com.hutchind.cordova.plugins.launcher.Launcher" />
    </feature>

    <!-- Start page and access whitelist -->
    <content src="index.html" />

    <!-- Remaining plugins -->
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.2" />
    <plugin name="cordova-plugin-calendar" spec="^4.5.5" />
    <plugin name="cordova-plugin-device" spec="^1.1.5" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.2" />
    <plugin name="com.borismus.webintent" spec="https://github.com/InQBarna/WebIntent.git" />
    <plugin name="cordova-plugin-x-toast" spec="^2.5.2" />
    <plugin name="cordova-plugin-console" spec="^1.0.6" />
    <plugin name="cordova-plugin-app-launcher" spec="https://github.com/mmey3k/cordova-plugin-app-launcher.git" />
    <plugin name="cordova-plugin-queries-schemes" spec="^0.1.1" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />

    <!-- Hooks -->
    <hook type="after_clean" src="scripts/removePluginsAndPlatforms.js" />
    <hook type="before_build" src="scripts/checkForBuildConfig.js" />
    <hook type="before_compile" src="scripts/optimizeJavascript.js" />
    <platform name="ios">
        <hook type="after_prepare" src="scripts/addPlistEntries.js" />
    </platform>

    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>Positionsbestimmung für eigenen Standort auf Lageplan</string>
    </edit-config>
</widget>
