<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="loadOpeningHours(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.opening-hours.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!networkError">
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="filterItems($event)"
      debounce="500"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="onScrollListener()">
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="loadOpeningHours($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="isLoaded && openingHours.length === 0">
    <app-hint-box
      *ngIf="!networkError"
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
    <app-hint-box
      *ngIf="networkError"
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="alert.httpErrorStatus.generic"
    ></app-hint-box>
  </div>

  <ion-list>
    <span *ngFor="let item of openingHours; let i = index">
      <ion-card
        mode="ios"
        class="linkItem"
        (click)="item.isExpanded = !item.isExpanded"
      >
        <ion-card-header *ngIf="!item.unknownState">
          <ng-container *ngIf="item.state; else closedLocation">
            <ion-item mode="md" lines="none">
              <ion-icon name="ellipse" color="success" slot="start"></ion-icon>
              <ion-label>
                <h3 class="ion-text-wrap">{{ splitItemName(item.name)[0] }}</h3>
                <h3 class="ion-text-wrap">{{ splitItemName(item.name)[1] }}</h3>
                <p>
                  <ng-container *ngIf="openUntil(i) !== ''"
                    >{{ openUntil(i) }}</ng-container
                  >
                </p>
              </ion-label>
              <ion-icon
                *ngIf="(getComment(i) !== '' || item.itv.length > 0)"
                [name]="!item.isExpanded ? 'caret-forward' : 'caret-down'"
                size="small"
                slot="end"
              ></ion-icon>
            </ion-item>
          </ng-container>

          <ng-template #closedLocation>
            <ion-item mode="md" lines="none">
              <ion-icon name="ellipse" color="danger" slot="start"></ion-icon>
              <ion-label>
                <h3 class="ion-text-wrap">{{ splitItemName(item.name)[0] }}</h3>
                <h3 class="ion-text-wrap">{{ splitItemName(item.name)[1] }}</h3>
                <p>
                  <ng-container *ngIf="closedUntil(i) !== ''"
                    >{{ closedUntil(i) }}</ng-container
                  >
                </p>
              </ion-label>
              <ion-icon
                *ngIf="(getComment(i) !== '' || item.itv.length > 0)"
                [name]="!item.isExpanded ? 'caret-forward' : 'caret-down'"
                size="small"
                slot="end"
              ></ion-icon>
            </ion-item>
          </ng-template>
        </ion-card-header>

        <ion-card-header *ngIf="item.unknownState">
          <ion-item mode="md" lines="none">
            <ion-icon name="ellipse" color="warning" slot="start"></ion-icon>
            <ion-label>
              <h3 class="ion-text-wrap">{{ splitItemName(item.name)[0] }}</h3>
              <h3 class="ion-text-wrap">{{ splitItemName(item.name)[1] }}</h3>
            </ion-label>
            <ion-icon
              *ngIf="(getComment(i) !== '' || item.itv.length > 0)"
              [name]="!item.isExpanded ? 'caret-forward' : 'caret-down'"
              size="small"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-card-header>

        <ion-card-content
          *ngIf="item.isExpanded && (getComment(i) !== '' || item.itv.length > 0)"
        >
          <ng-container *ngIf="getComment(i) !== ''">
            <ion-item mode="md" lines="none" style="padding-left: 6px">
              <ion-label class="ion-text-wrap">
                <h2>{{ "page.opening-hours.comment" | translate }}</h2>

                <p>
                  <span class="smallerText">{{ getComment(i) }}</span>
                </p>
              </ion-label>
            </ion-item>
          </ng-container>

          <ng-container>
            <ion-list
              class="openingDetails"
              *ngIf="item.itv.length > 0"
              style="padding-left: 6px"
            >
              <ion-item mode="md" *ngFor="let interval of item.itv">
                <ion-label class="ion-text-wrap">
                  <ng-container
                    *ngFor="let timespot of interval; let i = index"
                  >
                    <h2 *ngIf="i === 0">{{ timespot }}</h2>
                    <p *ngIf="i !== 0">{{ timespot }}</p>
                  </ng-container>
                </ion-label>
              </ion-item>

              <ion-item
                mode="md"
                lines="none"
                *ngIf="item.intervals.length > 0 && !item.parsedOpening.isWeekStable()"
              >
                <ion-label class="ion-text-wrap smallerText">
                  <p>
                    <span class="smallerText"
                      >{{ "hints.text.openings-planCanChange-hint" | translate
                      }}</span
                    >
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-container>
        </ion-card-content>

        <ion-footer class="footerItem">
          <ion-row nowrap>
            <ion-col
              *ngIf="item.telephone"
              align="center"
              (click)="callContact($event, item.telephone)"
            >
              <div class="footerButton">
                <ion-icon name="call"></ion-icon>
                <div>{{ 'button.call' | translate }}</div>
              </div>
            </ion-col>
            <ion-col
              *ngIf="item.mail"
              align="center"
              (click)="openMail($event, item.mail)"
            >
              <div class="footerButton">
                <ion-icon name="mail"></ion-icon>
                <div>Mail</div>
              </div>
            </ion-col>
            <ion-col
              *ngIf="item.link"
              align="center"
              (click)="openURL($event, item.link)"
            >
              <div class="footerButton">
                <ion-icon name="globe"></ion-icon>
                <div>Website</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </span>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer-disclaimer
      disclaimerReference="page.opening-hours.noGuarantee"
    ></app-footer-disclaimer>
  </ion-toolbar>
</ion-footer>
