<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="loadOpeningHours(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <app-connection-indicator slot="end"></app-connection-indicator>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.opening-hours.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!networkError">
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="filterItems($event)"
      debounce="500"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="onScrollListener()"
  [ngClass]="modalOpen ? 'modalOpened' : 'modalClosed'"
>
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="loadOpeningHours($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="isLoaded && openingHours.length == 0">
    <app-hint-box
      *ngIf="!networkError"
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
    <app-network-error-hint *ngIf="networkError"></app-network-error-hint>
  </div>

  <ion-list>
    <span *ngFor="let item of openingHours; let i = index">
      <ng-container *ngIf="!item.unknownState">
        <ion-item
          mode="md"
          detail
          *ngIf="item.state; else closedLocation"
          button
          (click)="itemSelected(item)"
        >
          <ion-label>
            <h3>{{ item.name }}</h3>
            <p style="color: var(--ion-color-success)">
              <ng-container
                >{{ "page.opening-hours.open" | translate }}</ng-container
              >
              <ng-container *ngIf="openUntil(i) != ''"
                >, {{ openUntil(i) }}</ng-container
              >
              <ng-container *ngIf="getComment(i) != ''"
                >, {{ getComment(i) }}</ng-container
              >
            </p>
          </ion-label>
        </ion-item>
        <ng-template #closedLocation>
          <ion-item mode="md" detail button (click)="itemSelected(item)">
            <ion-label>
              <h3>{{ item.name }}</h3>
              <p style="color: var(--ion-color-danger)">
                <ng-container
                  >{{ "page.opening-hours.closed" | translate }}</ng-container
                >
                <ng-container *ngIf="closedUntil(i) != ''"
                  >, {{ closedUntil(i) }}</ng-container
                >
                <ng-container *ngIf="getComment(i) != ''"
                  >, {{ getComment(i) }}</ng-container
                >
              </p>
            </ion-label>
          </ion-item>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="item.unknownState">
        <ion-item mode="md" detail button (click)="itemSelected(item)">
          <ion-label>
            <h3>{{ item.name }}</h3>
            <p style="color: var(--ion-color-warning)">
              <ng-container
                >{{ "page.opening-hours.unknown" | translate }}</ng-container
              >
              <ng-container *ngIf="getComment(i) != ''"
                >, {{ getComment(i) }}</ng-container
              >
            </p>
          </ion-label>
        </ion-item>
      </ng-container>
    </span>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer-disclaimer
      disclaimerReference="page.opening-hours.noGuarantee"
    ></app-footer-disclaimer>
  </ion-toolbar>
</ion-footer>
