
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.persons.title" | translate }}</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'page.persons.placeholder.search' | translate"
    (ionInput)="search(query)">
  </ion-searchbar>
</ion-header>

<ion-content padding>

  <p *ngIf="waiting_for_response == true" style="text-align: center">
    <ion-spinner></ion-spinner>
  </p>

  <p *ngIf="waiting_for_response == false && personsFound.length == 0" style="text-align: center">
    {{ "page.persons.no_results" | translate }}
  </p>

  <ion-list>
    <ion-item *ngFor="let person of personsFound" (click)="expandPerson(person)">
      <h2 >{{person.Titel}} {{person.Vorname}} {{person.Nachname}}</h2>
      <p *ngIf="person.Abteilung != ''; else unknown_filed" >{{person.Abteilung}}</p>
      <expandable [expanded]="person.expanded">
        <p *ngIf="person.Email != ''; else unknown_filed"><ion-icon name="mail"></ion-icon> <a href="mailto:{{person.Email}}">{{person.Email}}</a></p>
        <p *ngIf="person.Telefon != ''; else unknown_filed"><ion-icon name="call"></ion-icon> (0331 977-) {{person.Telefon}}</p>
        <p *ngIf="person.Raum != '';"><ion-icon name="home"></ion-icon> {{person.Raum}}</p>
      </expandable>
    </ion-item>
  </ion-list>

  <ng-template #unknown_filed>
  </ng-template>

</ion-content>
