mensa-meal {
    .item ion-thumbnail {
        min-width: 3rem;
        min-height: 3rem;
        max-width: 3rem;
        max-height: 3rem;
        img {
          min-width: 3rem;
          min-height: 3rem;
          max-width: 3rem;
          max-height: 3rem;
        }
    }

    .mealDescription {
        font-size: 1.5rem!important;
        color: color($colors, primary);
        padding-bottom: 5px;
    }

    .item-block {
        border-bottom:1px solid color($colors, upgrey) !important;
  
        .label {
            font-size:80%;
            margin-top:5px;
            margin-bottom:0;
        }
    }

    .item-block.noborder {
        border-width:0 !important;
    }

    .mealtitle {
        font-size:80%;
        color:#000;
  
        span {
            color:#016c69;
            font-weight:bold;
        }
    }
}
