.news-date {
  color: var(--ion-color-medium);
  font-size: 0.8em;
}

ion-row {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

ion-card {
  margin: 0;
  padding: 0;
  width: 100% !important;

  h3 {
    color: var(--ion-color-primary);
    font-size: 0.9rem;
  }
}

ion-card-header {
  padding-bottom: 0;
  padding-top: 0;
}

ion-card-content {
  font-size: 0.8rem;
}
