<!-- Auslagerung in Template -->
  <h3>
    <span class="marker <%= opening.statusOpenNow %>"></span><%= opening.name %>
  </h3>
  <% if (!_.isUndefined(opening.mail) || !_.isUndefined(opening.telephone) || !_.isUndefined(opening.link)) { %>
  <table data-role="table" data-mode="reflow" class="ui-responsive">
  	<thead>
  		<tr>
  			<th></th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
      <tr><th>Name:</th><td>
      <% if (opening.link) { %>
          <a href="<%= opening.link %>" target="_blank" rel="external"><%= opening.name %></a></td></tr>
        <% }else{ %>
        <%= opening.name %></a></td></tr>
        <% } %>
  		<%= (opening.mail) ? '<tr><th>E-Mail:</th><td><a href="mailto:'+opening.mail+'" data-rel="external">'+opening.mail+'</a></td></tr>' : ''  %>
  		<%= (opening.telephone) ? '<tr><th>Tel:</th><td><a href="tel:'+opening.telephone.replace(/[\s-]/g, '').replace(/\+/g, '00')+'">'+opening.telephone+'</a></td></tr>' : '' %>

  	</tbody>
  </table>
  <% } %>
  <%= opening.table %>
  <!--
  <a href="#" data-role="button" data-theme="a" data-icon="location">
    Auf der Karte finden</a>
    -->