<meta name="title" content="Öffnungszeiten" />
    <!-- Start Main - Navigation -->
    <div data-role="content" data-theme="c">
      <form>
        <input data-type="search" id="searchForOpening" placeholder="Eintr&auml;ge filtern" />
      </form>

      <div id="loadingSpinner"></div>

      <div data-role="collapsible-set" data-theme="c" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" id="opening-list" data-filter="true" data-input="#searchForOpening">
      </div>
    </div>