<meta name="title" content="Neuigkeiten" />

<!-- Start Main - Navigation -->
<div id="news" data-role="content" data-theme="c">
	<div class="test1"></div>
	<div style="margin-top:40px;" class="up-loadingSpinner">
		<img src="img/loadingspinner.gif"></img>
	</div>
</div>
<!-- End Main - Navigation -->