<meta name="title" content="<%= name %>" />
<meta name="back" content="tipp" />

<!-- Start Main - Navigation -->
<div id="tipp-content" data-role="content" data-theme="c" class="ui-content ui-body-c tipps"></div>