<li>
	<% if (typeof tipplink.link == 'string') { %>
		<a href="<%= tipplink.link %>"> <%= tipplink.name %> </a>
	<% } else { %>
		<% if (window.device.platform === "iOS") { %>
			<a href="<%= tipplink.link.ios %>"> <%= tipplink.name %> </a>
		<% } else { %>
			<a href="<%= tipplink.link.android %>"> <%= tipplink.name %> </a>
		<% } %>
	<% } %>
</li>

<% %>