<li class='blau'  id='<%= tipp.name %>'><h3>
  	<a href="#tipp/detail/<% print(encodeURIComponent(tipp.name)); %>" data-role="button" data-iconpos="right" data-icon="arrow-darkblue" data-transition="slidefade">
    	<%= tipp.name %>
  	</a></h3>
</li>