<ion-content>

  <!-- logged in -->
  <ng-template #loggedInTemplate>
    Logged in as {{ userInformation.name }}

    <button (click)="toLogout()">
      <ion-icon name="log-out"></ion-icon>
      {{ "logout" | translate }}
    </button>
  </ng-template>

  <!-- not logged in -->
  <ng-template #notLoggedInTemplate>
    {{ "notLoggedInText" | translate }}

    <button (click)="toLogin()">
      <ion-icon name="log-in"></ion-icon>
      {{ "login" | translate }}
    </button>
  </ng-template>

  <ng-container *ngIf="userInformation!=null; then loggedInTemplate; else notLoggedInTemplate ">
  </ng-container>

</ion-content>
