<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ "page.library.titleDetail" | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateLocation($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <book-list-view [book]="book" text-wrap (mediaType)="setMediaType($event)"></book-list-view>
  <p *ngIf="bookDetails.mediaType == 'mediatype_o'" class="copyright-info" padding-horizontal>
    {{ "page.library.copyright" | translate }}
    <br><br>
    {{ "page.library.electronicUsage" | translate }}
  </p>
  <p *ngIf="book.originInfo && book.originInfo.issuance && (book.originInfo.issuance.indexOf('multipart') != -1)" class="copyright-info" padding-horizontal>
    {{ "page.library.bookSet" | translate }}
  </p>
  <ion-segment [(ngModel)]="activeSegment">
    <ion-segment-button value="location" (click)="showLocation = true; showDetails = false;">{{ "page.library.location" | translate }}</ion-segment-button>
    <ion-segment-button value="details" (click)="showDetails = true; showLocation = false;">{{ "page.library.details" | translate }}</ion-segment-button>
  </ion-segment>

  <div *ngIf="showLocation" padding-top>
    <span *ngFor="let department of bookLocationList">
      <ion-list no-lines>
        <ion-item class="department">
          {{ department.department }}
          <ion-icon item-end name="information-circle" tappable (click)="webIntent.permissionPromptWebsite(department.departmentURL)"></ion-icon>
        </ion-item>
        <ion-item *ngIf="department.url; else noUrl" class="itemStatus">
          <span tappable (click)="webIntent.permissionPromptWebsite(department.url)" style="text-decoration: underline">{{ department.item[0] }}</span>
        </ion-item>
        <ng-template #noUrl>
          <ion-item class="itemStatus">
            <ion-icon style="color: darkred" *ngIf="department.item[0] && (department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)" name="ios-remove-circle"></ion-icon>
            <ion-icon style="color: darkgreen" *ngIf="department.item[0] && department.department && (department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)" name="ios-contrast"></ion-icon>
            <ion-icon style="color: darkgreen" *ngIf="!(department.item[0] && ((department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)) || department.item[0] && department.department && ((department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)))" name="ios-checkmark-circle"></ion-icon>
            {{ department.item[0] }}
            <span *ngIf="department.label && department.item[0] && department.label != department.item[0]" style="font-size: small" item-end>{{ department.label }}</span>
          </ion-item>
          <ion-item class="itemStatus" *ngIf="department.item[0] && department.item[0] == 'Präsenzbestand'">
            <p style="color: black; font-size: small">{{ "page.library.referenceLib" | translate }}</p>
          </ion-item>
        </ng-template>
      </ion-list>
    </span>
  </div>

  <div *ngIf="showDetails" padding>
    <div *ngIf="bookDetails.abstract && bookDetails.abstract.length != 0">
      <h3>Abstract</h3>
      <div *ngIf="!shortAbstract || !showShortAbstract" style="text-align: justify">{{ bookDetails.abstract }}</div>
      <div *ngIf="shortAbstract && showShortAbstract" style="text-align: justify">{{ bookDetails.shortAbstract }}</div>
      <div *ngIf="shortAbstract" align="right">
        <button ion-button small clear (click)="showShortAbstract = !showShortAbstract">
          <span *ngIf="showShortAbstract">{{ "button.showMore" | translate }}</span>
          <span *ngIf="!showShortAbstract">{{ "button.showLess" | translate }}</span>
        </button>
      </div>
    </div>
    <div *ngIf="bookDetails.keywords && bookDetails.keywords.length != 0" padding-top>
      <h3>{{ "page.library.keywords" | translate }}</h3>
      <ul class="list" *ngFor="let keyword of bookDetails.keywords">
        <li class="link item" tappable (click)="webIntent.permissionPromptWebsite('https://opac.ub.uni-potsdam.de/DB=1/SET=25/TTL=2/CMD?ACT=SRCHA&IKT=46&SRT=YOP&TRM='+keyword)">{{ keyword }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.toc && bookDetails.toc.length != 0" padding-top>
      <h3>{{ "page.library.toc" | translate }}</h3>
      <ul class="list" *ngFor="let chapter of bookDetails.toc; let i = index">
        <li class="item" *ngIf="!showFullTOC && i < 3">{{ chapter }}</li>
        <li class="item" *ngIf="showFullTOC">{{ chapter }}</li>
      </ul>
      <div *ngIf="bookDetails.toc.length > 3" align="right">
        <button ion-button small clear (click)="showFullTOC = !showFullTOC">
          <span *ngIf="showFullTOC">{{ "button.showLess" | translate }}</span>
          <span *ngIf="!showFullTOC">{{ "button.showMore" | translate }}</span>
        </button>
      </div>
    </div>
    <div *ngIf="bookDetails.notes && bookDetails.notes.length != 0" padding-top>
      <h3>{{ "page.library.annotations" | translate }}</h3>
      <ul class="list" *ngFor="let note of bookDetails.notes">
        <li class="item">{{ note }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.series && bookDetails.series.length != 0" padding-top>
      <h3>{{ "page.library.serie" | translate }}</h3>
      <ul class="list" *ngFor="let serie of bookDetails.series">
        <li class="item">{{ serie }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.isbn && bookDetails.isbn.length != 0" padding-top>
      <h3>ISBN</h3>
      <ul class="list" *ngFor="let isbn of bookDetails.isbn">
        <li class="item">{{ isbn }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.extent && bookDetails.extent.length != 0" padding-top>
      <h3>{{ "page.library.extent" | translate }}</h3>
      <ul class="list" *ngFor="let extent of bookDetails.extent">
        <li class="item">{{ extent }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.noDetails" align="center" padding-top>
      {{ "page.library.noDetails" | translate }}
    </div>
  </div>
</ion-content>
