<ion-header>

  <ion-navbar>
    <ion-title>
      Detailansicht
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <book-list-view [book]="book" text-wrap (mediaType)="setMediaType($event)"></book-list-view>
  <p *ngIf="bookDetails.mediaType == 'mediatype_o'" class="copyright-info" padding-horizontal>
    Vervielfältigungen (z.B. Kopien, Downloads) sind nur von einzelnen Kapiteln oder Seiten und nur zum eigenen wissenschaftlichen Gebrauch erlaubt. Keine Weitergabe an Dritte. Kein systematisiertes Downloaden.
    <br><br>
    Zur Nutzung der elektronischen Ressourcen müssen Sie sich im IP-Bereich (LAN, WLAN, VPN) der Universität befinden. 
  </p>
  <p *ngIf="book.originInfo && book.originInfo.issuance && (book.originInfo.issuance.indexOf('multipart') != -1)" class="copyright-info" padding-horizontal>
    Hierbei handelt es sich um einen übergeordneten Titel. Bitte recherchieren Sie nach Teilbänden.
  </p>
  <ion-segment [(ngModel)]="activeSegment">
    <ion-segment-button value="location" (click)="showLocation = true; showDetails = false;">Standort</ion-segment-button>
    <ion-segment-button value="details" (click)="showDetails = true; showLocation = false;">Details</ion-segment-button>
  </ion-segment>

  <div *ngIf="showLocation" padding-top>
    <span *ngFor="let department of bookLocationList">
      <ion-list no-lines>
        <ion-item class="department">
          {{ department.department }}
          <ion-icon item-end name="information-circle" tappable (click)="openWebsite(department.departmentURL)"></ion-icon>
        </ion-item>
        <ion-item *ngIf="department.url; else noUrl" class="itemStatus">
          <span tappable (click)="openWebsite(department.url)" style="text-decoration: underline">{{ department.item[0] }}</span>
        </ion-item>
        <ng-template #noUrl>
          <ion-item class="itemStatus">
            <ion-icon style="color: darkred" *ngIf="(department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)" name="ios-remove-circle"></ion-icon>
            <ion-icon style="color: darkgreen" *ngIf="(department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)" name="ios-contrast"></ion-icon>
            <ion-icon style="color: darkgreen" *ngIf="!(((department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)) || ((department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)))" name="ios-checkmark-circle"></ion-icon>
            {{ department.item[0] }}
            <span *ngIf="department.label != department.item[0]" style="font-size: small" item-end>{{ department.label }}</span>
          </ion-item>
          <ion-item class="itemStatus" *ngIf="department.item[0] == 'Präsenzbestand'">
            <p style="color: black; font-size: small">Bitte nutzen Sie diesen Bestand nur vor Ort.</p>
          </ion-item>
        </ng-template>
      </ion-list>
    </span>
  </div>

  <div *ngIf="showDetails" padding>
    <div *ngIf="bookDetails.abstract.length != 0">
      <h3>Abstract</h3>
      <div *ngIf="!shortAbstract || !showShortAbstract" style="text-align: justify">{{ bookDetails.abstract }}</div>
      <div *ngIf="shortAbstract && showShortAbstract" style="text-align: justify">{{ bookDetails.shortAbstract }}</div>
      <div *ngIf="shortAbstract" align="right">
        <button ion-button small clear (click)="showShortAbstract = !showShortAbstract">
          <span *ngIf="showShortAbstract">Mehr anzeigen</span>
          <span *ngIf="!showShortAbstract">Weniger anzeigen</span>
        </button>
      </div>
    </div>
    <div *ngIf="bookDetails.keywords.length != 0" padding-top>
      <h3>Schlagwörter</h3>
      <ul *ngFor="let keyword of bookDetails.keywords">
        <li class="link" tappable (click)="openWebsite('https://opac.ub.uni-potsdam.de/DB=1/SET=25/TTL=2/CMD?ACT=SRCHA&IKT=46&SRT=YOP&TRM='+keyword)">{{ keyword }}</li> 
      </ul>
    </div>
    <div *ngIf="bookDetails.toc.length != 0" padding-top>
      <h3>Inhaltsverzeichnis</h3>
      <ul *ngFor="let chapter of bookDetails.toc; let i = index">
        <li *ngIf="!showFullTOC && i < 3">{{ chapter }}</li>
        <li *ngIf="showFullTOC">{{ chapter }}</li>
      </ul>
      <div *ngIf="bookDetails.toc.length > 3" align="right">
        <button ion-button small clear (click)="showFullTOC = !showFullTOC">
          <span *ngIf="showFullTOC">Weniger anzeigen</span>
          <span *ngIf="!showFullTOC">Mehr anzeigen</span>
        </button>
      </div> 
    </div>
    <div *ngIf="bookDetails.notes.length != 0" padding-top>
      <h3>Anmerkungen</h3>
      <ul *ngFor="let note of bookDetails.notes">
        <li>{{ note }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.series.length != 0" padding-top>
      <h3>Serie</h3>
      <ul *ngFor="let serie of bookDetails.series">
        <li>{{ serie }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.isbn.length != 0" padding-top>
      <h3>ISBN</h3>
      <ul *ngFor="let isbn of bookDetails.isbn">
        <li>{{ isbn }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.extent.length != 0" padding-top>
      <h3>Umfang</h3>
      <ul *ngFor="let extent of bookDetails.extent">
        <li>{{ extent }}</li>
      </ul>
    </div>
    <div *ngIf="bookDetails.noDetails" align="center" padding-top>
      Keine weiteren Details verfügbar.
    </div>
  </div>
</ion-content>
