<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <app-connection-indicator slot="end"></app-connection-indicator>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.campus-map.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <app-campus-tab
      (campusChanged)="selectCampus($event)"
      [selectedCampusNoEmit]="currentCampus"
    ></app-campus-tab>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="search()"
      debounce="750"
    >
    </ion-searchbar>
    <ion-button
      class="locationButton"
      mode="md"
      slot="end"
      fill="clear"
      (click)="toggleGeolocation()"
    >
      <ion-icon
        [name]="geoLocationEnabled ? 'close-circle' : 'locate'"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100%; width: 100%; max-height: none"></div>
</ion-content>
