<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <app-connection-indicator slot="end"></app-connection-indicator>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.campus-map.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-campus-tab (campusChanged)="selectCampus($event)"
                    [selectedCampusNoEmit]="currentCampus"></app-campus-tab>
  </ion-toolbar>
  <ion-toolbar *ngIf="!networkIndicator || (networkIndicator && networkIndicator.onLine)">
    <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'placeholder.search' | translate"
    (ionChange)="search()"
    debounce="750">
    </ion-searchbar>
    <ion-button slot="end" fill="clear" (click)="toggleGeolocation()">
      <ion-icon [name]="geoLocationEnabled ? 'close-circle' : 'locate'"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!networkIndicator || (networkIndicator && networkIndicator.onLine)" id="map" style="height: 100%; width: 100%;"></div>
  <app-network-error-hint *ngIf="networkIndicator && !networkIndicator.onLine"></app-network-error-hint>
</ion-content>
