<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      button
      (click)="loadEmergencyCalls(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.emergency.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="filterItems($event)"
      debounce="500"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-no-padding"
  [scrollEvents]="true"
  (ionScrollStart)="onScrollListener()"
>
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="loadEmergencyCalls($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoaded && displayedList.length == 0">
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
  </div>

  <!-- list of emergencyCalls -->
  <ion-list lines="none">
    <span *ngFor="let emergencyCall of displayedList">
      <app-custom-card
        [cardTitle]="emergencyCall.name ? emergencyCall.name : null"
        [cardContent]="emergencyCall.description ? emergencyCall.description : null"
        [footerFirstString]="emergencyCall.contact.telephone ? translate.instant('button.call') : null"
        [footerFirstIcon]="emergencyCall.contact.telephone ? 'call' : null"
        (footerFirstIconCallback)="emergencyCall.contact.telephone ? callContact(emergencyCall.contact.telephone) : null"
        [footerSecondString]="emergencyCall.contact.mail ? 'Mail' : null"
        [footerSecondIcon]="emergencyCall.contact.mail ? 'mail' : null"
        (footerSecondIconCallback)="emergencyCall.contact.mail ? openMail(emergencyCall.contact.mail) : null"
        [footerThirdString]="emergencyCall.address ? translate.instant('page.library-search.location') : null"
        [footerThirdIcon]="emergencyCall.address ? 'pin' : null"
        (footerThirdIconCallback)="emergencyCall.address ? callMap(emergencyCall) : null"
      ></app-custom-card>
    </span>
  </ion-list>
</ion-content>
