ion-icon {
    color: var(--ion-color-primary);
    margin-inline-end: 10px;
}

ion-item {
    --padding-start: 5px;
}

ion-col {
    font-size: 0.9rem;
}

.link {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.notUnderlined {
    text-transform: capitalize;
    text-decoration: none;
}

.whiteFont {
    color: white;
}