ion-icon {
  margin-inline-end: 10px;
}

ion-item {
  --padding-start: 5px;

  border-bottom: 1px solid var(--ion-color-light-shade) !important;
}

ion-col {
  font-size: 0.9rem;
}

.link {
  color: var(--ion-color-primary);
  text-decoration: underline;
}

.notUnderlined {
  text-decoration: none;
  text-transform: capitalize;
}

.whiteFont {
  color: var(--ion-color-light);
}

ion-item.noborder {
  border-width: 0 !important;
}
