ion-icon {
    margin-inline-end: 10px;
}

ion-item {
    --padding-start: 5px;
    border-bottom:1px solid var(--ion-color-medium) !important;
}

ion-col {
    font-size: 0.9rem;
}

.link {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.notUnderlined {
    text-transform: capitalize;
    text-decoration: none;
}

.whiteFont {
    color: white;
}

ion-item.noborder {
    border-width:0 !important;
}