ion-icon {
    color: var(--ion-color-primary);
}

ion-col {
    font-size: 0.9rem;
}

.link {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.notUnderlined {
    text-transform: capitalize;
    text-decoration: none;
}

.whiteFont {
    color: white;
}