<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.emergency.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'placeholder.search' | translate"
    (ionChange)="filterItems($event)"
    debounce="500">
  </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding (ionScrollStart)="onScrollListener()">

  <ion-refresher slot="fixed" (ionRefresh)="loadEmergencyCalls($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="isLoaded && displayedList.length == 0">
    <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.noResults-hint"></app-hint-box>
  </div>
  <!-- list of emergencyCalls -->
  <ion-list lines="none">
    <span *ngFor="let emergencyCall of displayedList">
      <ion-item-sliding>
        <!-- template for emergencyCalls -->
        <ion-item (click)="expand(emergencyCall)" [ngClass]="{'noborder': emergencyCall.expanded}">
          <ion-icon color="primary" name="person" slot="start"></ion-icon>
          <ion-label text-wrap>
            <h2>{{emergencyCall.name}}</h2>
            <p *ngIf="emergencyCall.description">{{emergencyCall.description}}</p>
          </ion-label>
          <ion-icon [name]="!emergencyCall.expanded ? 'arrow-dropright' : 'arrow-dropdown'" *ngIf="(emergencyCall.address || emergencyCall.contact)" slot="end"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="openMail(emergencyCall.contact.mail)" color="primary" *ngIf="emergencyCall.contact.mail">
            <!-- <ion-icon name="mail" style="color: white"></ion-icon> -->
            <a class="notUnderlined whiteFont">Mail</a>
          </ion-item-option>
          <ion-item-option (click)="callContact(emergencyCall.contact.telephone)" color="secondary" *ngIf="emergencyCall.contact.telephone">
            <!-- <ion-icon name="call"></ion-icon> -->
            <a class="notUnderlined">{{ "button.call" | translate }}</a>
          </ion-item-option>
          <ion-item-option (click)="exportContact(emergencyCall)" color="medium" *ngIf="cordova">
            <!-- <ion-icon name="person-add"></ion-icon> -->
            <a class="notUnderlined">{{ "button.add" | translate }}</a>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item *ngIf="emergencyCall.expanded">
        <ion-icon slot="start"></ion-icon>
        <ion-label no-margin text-wrap>
          <ion-grid>
            <ion-row *ngIf="emergencyCall.contact.mail">
              <ion-col size="auto">
                <ion-icon color="primary" name="mail"></ion-icon>
              </ion-col>
              <ion-col>
                <a href="mailto:{{emergencyCall.contact.mail}}">{{emergencyCall.contact.mail}}</a>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="emergencyCall.contact.telephone">
              <ion-col size="auto">
                <ion-icon color="primary" name="call" ios="ios-call" md="md-call"></ion-icon>
              </ion-col>
              <ion-col>
                <a (click)="callContact(emergencyCall.contact.telephone)" style="text-decoration: underline">{{emergencyCall.contact.telephone}}</a>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="emergencyCall.address && (emergencyCall.address.street || emergencyCall.address.postal)">
              <ion-col size="auto">
                <ion-icon color="primary" name="home"></ion-icon>
              </ion-col>
              <ion-col>
                <a (click)="callMap(emergencyCall)" class="link" text-wrap>
                  <span *ngIf="emergencyCall.address.street">{{emergencyCall.address.street}}</span>
                  <span *ngIf="emergencyCall.address.postal && emergencyCall.address.street">, </span>
                  <span *ngIf="emergencyCall.address.postal">{{emergencyCall.address.postal}}</span>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

    </span>
  </ion-list>
</ion-content>
