<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button *ngIf="activeSegment === 'favorites' && !(platform.is('ios') || platform.is('android'))" (click)="checkFavorites(true)" slot="end" fill="clear">
      <ion-icon style="font-size: x-large;" name="refresh"></ion-icon>
    </ion-button>
    <app-connection-indicator slot="end"></app-connection-indicator>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.library-search.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="activeSegment">
      <ion-segment-button value="search" (click)="activeSegment = 'search'">
        <ion-label>{{ "button.search" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="activeSegment = 'favorites'">
        <ion-label>
            {{ "button.favorites" | translate }}
            <ion-badge *ngIf="isLoadedFavorites && allFavorites.length > 0" slot="end" mode="ios">{{ allFavorites.length }}</ion-badge>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'placeholder.search' | translate"
    (ionChange)="searchLibrary(true, $event)"
    debounce="750">
    </ion-searchbar>
    <ion-button *ngIf="activeSegment === 'favorites'"
    fill="clear" slot="end" (click)="clearAllFavorites()"
    [disabled]="allFavorites.length === 0">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content (ionScrollStart)="onScrollListener()" [ngClass]="modalOpen ? 'modalOpened' : 'modalClosed'">

  <ion-refresher *ngIf="activeSegment === 'favorites' && (platform.is('ios') || platform.is('android'))" slot="fixed" (ionRefresh)="checkFavorites($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded && query && query.length > 0 && activeSegment === 'search'" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <div align="center" *ngIf="!isLoadedFavorites && activeSegment === 'favorites'" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="isLoaded && activeSegment === 'search'">
    <ion-item>
      <ion-label>
        <p>{{ "page.library-search.allResults" | translate}}:</p>
        <b>{{ resultIndex() }}</b> {{ "words.of" | translate}} <b>{{ numberOfRecords }}</b> {{ "words.results" | translate}}
      </ion-label>
    </ion-item>
    <ion-list *ngIf="bookList && bookList.length > 0">
      <span *ngFor="let book of bookList; let i = index">
        <ion-item-sliding #slidingItem>
            <app-book-list class="linkItem" (click)="bookDetailView(book)"
            [book]="book" [i]="i+1"></app-book-list>
            <ion-item-options>
              <ion-item-option button (click)="makeFavorite(book, slidingItem)">
                  <!-- <ion-icon name="star"></ion-icon> -->
                  <span class="notUnderlined">{{ "button.fav" | translate }}</span>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </span>
    </ion-list>
    <div *ngIf="!bookList || bookList.length == 0">
      <app-hint-box *ngIf="!networkError" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.noResults-hint"></app-hint-box>
      <app-network-error-hint *ngIf="networkError"></app-network-error-hint>
    </div>

    <ion-infinite-scroll *ngIf="!isEnd()" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="isLoadedFavorites && activeSegment === 'favorites'">
    <ion-list *ngIf="displayedFavorites && displayedFavorites.length > 0">
      <span *ngFor="let book of displayedFavorites; let i = index">
        <ion-item-sliding>
            <app-book-list class="linkItem" (click)="bookDetailView(book)"
            [book]="book" [i]="i+1"></app-book-list>
            <ion-item-options>
              <ion-item-option color="secondary" class="removeFavButton" button (click)="removeFavorite(book)">
                  <!-- <ion-icon name="star-outline"></ion-icon> -->
                  <span class="notUnderlined">{{ "button.remove" | translate }}</span>
              </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </span>
    </ion-list>
    <div *ngIf="displayedFavorites.length == 0">
      <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.noFavorites"></app-hint-box>
    </div>
  </div>
</ion-content>
