<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.library-account.title" | translate }}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="bibSession">
    <ion-segment [value]="activeSegment">
      <ion-segment-button value="loan" (click)="activeSegment = 'loan'">
        <ion-label>{{ "page.library-account.loan" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reservation" (click)="activeSegment = 'reservation'">
        <ion-label>{{ "page.library-account.reservation" | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-refresher *ngIf="bibSession" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding" align="center" *ngIf="bibSession && !(userLoaded && feesLoaded && itemsLoaded)">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="!bibSession">
    <form (ngSubmit)="loginUB()" #registerForm="ngForm" [formGroup]="loginForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list inset>

            <ion-item>
              <ion-input
                autocapitalize="none"
                autofocus="true"
                clearInput="true"
                type="text"
                [placeholder]="'placeholder.usernameBib' | translate"
                name="id"
                [formControl]="loginForm.controls['username']"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                clearOnEdit="false"
                clearInput="true"
                type="password"
                [placeholder]="'placeholder.password' |translate"
                name="password"
                [formControl]="loginForm.controls['password']"
                required
              ></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" type="button" (click)="abort()">
            {{ "button.cancel" | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="submit-btn" [disabled]="!loginForm.valid" type="submit">
            {{ "button.login" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </form>

    <app-hint-box hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="hints.text.login-hint-bib"
    secondHintTextI18nKey="hints.text.login-hint-bib-firstlogin"
    disableTextCentering="true"></app-hint-box>
  </div>

  <div *ngIf="bibSession">
    <ion-item *ngIf="userLoaded" lines="none">
      <ion-label><b *ngIf="user.name">{{ user.name }}</b> <span class="patronID" *ngIf="bibSession && bibSession.oidcTokenObject && bibSession.oidcTokenObject.patron">{{ bibSession.oidcTokenObject.patron }}</span></ion-label>
      <ion-button (click)="logoutUB()" color="secondary" slot="end">
        <ion-icon color="primary" name="log-out"></ion-icon>
        <ion-label color="primary">
          {{ "button.logout" | translate }}
        </ion-label>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="feesLoaded && activeSegment == 'loan' && fees && fees.amount" lines="none" (click)="feesExpanded = !feesExpanded">
      <ion-label>{{ "page.library-account.fees" | translate }}: <span class="feeAmount">{{ fees.amount }}</span></ion-label>
      <ion-icon *ngIf="fees && fees.fee && fees.fee.length > 0" [name]="!feesExpanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
    </ion-item>
    <ng-container *ngIf="feesExpanded && fees && fees.fee && fees.fee.length > 0">
      <ion-card *ngFor="let fee of fees.fee">
        <ion-card-content>
          <b *ngIf="fee.about">{{ fee.about }}</b><br *ngIf="fee.about"><br *ngIf="fee.about">
          <p *ngIf="fee.amount">{{ "page.library-account.fees" | translate }}: <span class="feeAmount">{{ fee.amount }}</span></p>
          <p *ngIf="fee.feetype">{{ "page.library-account.feeType" | translate }}: {{ fee.feetype }}</p>
          <p *ngIf="fee.date">{{ "page.roomplan.date" | translate }}: {{ formatDate(fee.date) }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  
    <span *ngIf="itemsLoaded && !noLoanItems">
      <ion-list>
        <ion-item-divider color="light" lines="none">
          <ion-label *ngIf="activeSegment == 'loan'">{{ "page.library-account.loanItems" | translate }}</ion-label>
          <ion-label *ngIf="activeSegment == 'reservation'">{{ "page.library-account.reservedItems" | translate }}</ion-label>
          <ion-label class="ion-padding-end" slot="end">{{ "page.library-account.days" | translate }}</ion-label>
        </ion-item-divider>
        <span *ngFor="let item of items.doc; let i = index">
          <ion-item *ngIf="item.status === 3 && !(activeSegment == 'reservation' && !itemStatus[i].isRenewable)" lines="none">
            <ion-checkbox slot="start" [disabled]="!itemStatus[i].isRenewable" [(ngModel)]="itemStatus[i].isChecked"></ion-checkbox>
            <ion-label class="ion-text-wrap">
              {{ item.about }}
              <p>
                {{ "page.library-account.returnUntil" | translate }}: {{ formatItemDates(item.endtime) }}
              </p>
            </ion-label>
            <ion-chip *ngIf="itemStatus[i].status === 0" color="success">{{ itemStatus[i].daysToReturn }}</ion-chip>
            <ion-chip *ngIf="itemStatus[i].status === 1" color="warning">{{ itemStatus[i].daysToReturn }}</ion-chip>
            <ion-chip *ngIf="itemStatus[i].status === 2" color="danger">{{ itemStatus[i].daysToReturn }}</ion-chip>
          </ion-item>
        </span>
      </ion-list>
      <ion-button *ngIf="activeSegment == 'loan'" (click)="renewItems()" class="ion-padding-start" [disabled]="validateCheckboxes()">{{ "button.renew" | translate }}</ion-button>
      <ion-button *ngIf="activeSegment == 'reservation'" (click)="renewItems()" class="ion-padding-start" [disabled]="validateCheckboxes()">{{ "button.stornieren" | translate }}</ion-button>
      <app-hint-box *ngIf="grayedOutItemsHint && activeSegment == 'loan'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.notRenewable"></app-hint-box>
    </span>
    <app-hint-box *ngIf="itemsLoaded && noLoanItems && activeSegment == 'loan'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.noLoanItems"></app-hint-box>
    <app-hint-box *ngIf="itemsLoaded && noLoanItems && activeSegment == 'reservation'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.noReservedItems"></app-hint-box>
  </div>
</ion-content>
