ion-checkbox {
  margin-inline-end: 10px;
  --webkit-margin-end: 10px;
}

.feeAmount {
  color: red;
  font-weight: bold;
}

.noFeeAmount {
  font-weight: bold;
}

ion-button {
  --border-radius: 0;
}

ion-card {
  --background: var(--ion-color-secondary);
  padding: 5px;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-card-content {
  padding: 5px;
}

.patronID {
  padding-left: 5px;
  font-size: 0.8em;
  opacity: 0.8;
}

ion-button.changePassword {
  padding-left: 10px;
}

.accountDetails {
  font-size: smaller;
}
