<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.library-account.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="bibSession">
    <ion-segment [value]="activeSegment">
      <ion-segment-button value="loan" (click)="activeSegment = 'loan'">
        <ion-label>{{ "page.library-account.loan" | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reservation" (click)="activeSegment = 'reservation'">
        <ion-label>{{ "page.library-account.reservation" | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher *ngIf="bibSession" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding" align="center" *ngIf="bibSession && !(userLoaded && feesLoaded && itemsLoaded)">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="!bibSession && showLoginScreen">
    <form (ngSubmit)="loginUB()" #registerForm="ngForm" [formGroup]="loginForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list inset>

            <ion-item>
              <ion-input
                autocapitalize="none"
                autofocus="true"
                clearInput="true"
                type="text"
                [placeholder]="'placeholder.usernameBib' | translate"
                name="id"
                [formControl]="loginForm.controls['username']"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                clearOnEdit="false"
                clearInput="true"
                type="password"
                [placeholder]="'placeholder.password' |translate"
                name="password"
                [formControl]="loginForm.controls['password']"
                required
              ></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" type="button" (click)="abort()">
            {{ "button.cancel" | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="submit-btn" [disabled]="!loginForm.valid" type="submit">
            {{ "button.login" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </form>

    <app-hint-box hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="hints.text.login-hint-bib"
    secondHintTextI18nKey="hints.text.login-hint-bib-firstlogin"
    disableTextCentering="true"></app-hint-box>
  </div>

  <div *ngIf="bibSession">
    <app-hint-box *ngIf="userError || feesError || itemsError"
    hintTypeI18nKey="alert.title.httpError" hintTextI18nKey="page.library-account.errorLoadingItems"></app-hint-box>
    <ion-item *ngIf="userLoaded && !userError" (click)="userExpanded = !userExpanded" lines="none">
      <ion-label><b *ngIf="user.name">{{ user.name.trim() }}</b> <span class="patronID" *ngIf="bibSession && bibSession.oidcTokenObject && bibSession.oidcTokenObject.patron">{{ bibSession.oidcTokenObject.patron }}</span></ion-label>
      <ion-icon [name]="!userExpanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
    </ion-item>
    <ion-item *ngIf="userExpanded" lines="none">
      <ion-label>
        <ng-container *ngIf="user.address"><b>{{ "page.library-account.address" | translate }}: </b> {{ user.address }}<br></ng-container>
        <ng-container *ngIf="user.expires"><b>{{ "page.library-account.expires" | translate }}: </b> {{ user.expires }}<br></ng-container>
        <ng-container *ngIf="user.email"><b>Email: </b> {{ user.email }}<br></ng-container>
        <ng-container *ngIf="user.status"><b>Status: </b> {{ getAccountStatus(user.status) }}</ng-container>
      </ion-label>
    </ion-item>
    <ion-button *ngIf="userExpanded" class="changePassword" size="small">{{ "page.library-account.changePassword" | translate }}</ion-button>
    <ion-item *ngIf="feesLoaded && !feesError && activeSegment == 'loan' && fees && fees.amount" lines="none" (click)="feesExpanded = !feesExpanded">
      <ion-label>{{ "page.library-account.fees" | translate }}: <span [ngClass]="fees.amount !== '0.00 EUR' ?  'feeAmount' : 'noFeeAmount'">{{ fees.amount }}</span></ion-label>
      <ion-icon *ngIf="fees && fees.fee && fees.fee.length > 0" [name]="!feesExpanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
    </ion-item>
    <ng-container *ngIf="feesExpanded && fees && fees.fee && fees.fee.length > 0">
      <ion-card *ngFor="let fee of fees.fee">
        <ion-card-content>
          <b *ngIf="fee.about">{{ fee.about }}</b><br *ngIf="fee.about"><br *ngIf="fee.about">
          <p *ngIf="fee.amount">{{ "page.library-account.fees" | translate }}: <span class="feeAmount">{{ fee.amount }}</span></p>
          <p *ngIf="fee.feetype">{{ "page.library-account.feeType" | translate }}: {{ fee.feetype }}</p>
          <p *ngIf="fee.date">{{ "page.roomplan.date" | translate }}: {{ formatDate(fee.date) }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <span *ngIf="itemsLoaded && !itemsError && ((!noLoanItems && activeSegment == 'loan') || (!noReservedItems && activeSegment == 'reservation'))">
      <ion-list>
        <ion-item-divider color="light" lines="none">
          <ion-label *ngIf="activeSegment == 'loan'">{{ "page.library-account.loanItems" | translate }}</ion-label>
          <ion-label *ngIf="activeSegment == 'reservation'">{{ "page.library-account.reservedItems" | translate }}</ion-label>
          <ion-label class="ion-padding-end" slot="end">{{ "page.library-account.daysToReturn" | translate }}</ion-label>
        </ion-item-divider>
        <span *ngFor="let item of items.doc; let i = index">

          <!-- Loans -->
          <ion-item *ngIf="((item.status === 4) || (item.status === 3) || (item.status === 2)) && activeSegment == 'loan'" lines="none">
            <ion-checkbox slot="start" [disabled]="!itemStatus[i].canRenew" [(ngModel)]="itemStatus[i].isCheckedToRenew"></ion-checkbox>
            <ion-label class="ion-text-wrap">
              <h2 *ngIf="item.about">{{ item.about }}</h2>

              <p *ngIf="item.status === 2" style="color: red;">
                {{ "page.library-account.ordered" | translate }} <ng-container *ngIf="item.storage">({{ item.storage }})</ng-container>
              </p>
              <p *ngIf="item.status === 3" style="color: green;">
                {{ "page.library-account.loaned" | translate }} <ng-container *ngIf="item.storage">({{ item.storage }})</ng-container>
              </p>
              <p *ngIf="item.status === 4" style="color: red;">
                {{ "page.library-account.provided" | translate }} <ng-container *ngIf="item.storage">({{ item.storage }})</ng-container>
              </p>
              <p *ngIf="item.label">{{ "page.library-account.shelfMark" | translate }}: {{ item.label }}</p>
              <p *ngIf="item.endtime">{{ "page.library-account.expectedUntil" | translate }}: {{ formatItemDates(item.endtime) }}</p>
            </ion-label>
            <ng-container *ngIf="itemStatus[i].daysToReturn">
              <ion-chip *ngIf="itemStatus[i].status === 0" color="success">{{ itemStatus[i].daysToReturn }}</ion-chip>
              <ion-chip *ngIf="itemStatus[i].status === 1" color="warning">{{ itemStatus[i].daysToReturn }}</ion-chip>
              <ion-chip *ngIf="itemStatus[i].status === 2" color="danger">{{ itemStatus[i].daysToReturn }}</ion-chip>
            </ng-container>
          </ion-item>

          <!-- Reservations -->
          <ion-item *ngIf="item.status === 1 && activeSegment == 'reservation'" lines="none">
            <ion-checkbox slot="start" [disabled]="!itemStatus[i].canCancel" [(ngModel)]="itemStatus[i].isCheckedToCancel"></ion-checkbox>
            <ion-label class="ion-text-wrap">
              <h2 *ngIf="item.about">{{ item.about }}</h2>
              <p>{{ "page.library-account.reserved" | translate }} <ng-container *ngIf="item.storage">({{ item.storage }})</ng-container></p>
              <p *ngIf="item.label">{{ "page.library-account.shelfMark" | translate }}: {{ item.label }}</p>
              <p *ngIf="item.endtime">{{ "page.library-account.expectedUntil" | translate }}: {{ formatItemDates(item.endtime) }}</p>
            </ion-label>
            <ion-chip *ngIf="itemStatus[i].daysToReturn">{{ itemStatus[i].daysToReturn }}</ion-chip>
          </ion-item>

        </span>
      </ion-list>
      <ion-button *ngIf="activeSegment == 'loan'" (click)="renewItems()" class="ion-padding-start" [disabled]="validateCheckboxesRenew()">{{ "button.renew" | translate }}</ion-button>
      <ion-button *ngIf="activeSegment == 'reservation'" (click)="cancelItems()" class="ion-padding-start" [disabled]="validateCheckboxesCancel()">{{ "button.stornieren" | translate }}</ion-button>
      <app-hint-box *ngIf="grayedOutItemsHintRenew && activeSegment == 'loan'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.notRenewable"></app-hint-box>
      <app-hint-box *ngIf="grayedOutItemsHintCancel && activeSegment == 'reservation'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.notCancable"></app-hint-box>
    </span>
    <app-hint-box *ngIf="itemsLoaded && !itemsError && noLoanItems && activeSegment == 'loan'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.noLoanItems"></app-hint-box>
    <app-hint-box *ngIf="itemsLoaded && !itemsError && noReservedItems && activeSegment == 'reservation'" hintTypeI18nKey="hints.type.hint" hintTextI18nKey="page.library-account.noReservedItems"></app-hint-box>
  </div>
</ion-content>
