<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="loadNews(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.news.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar
    mode="md"
    *ngIf="sourcesList && sourcesList.length > 0 && !networkError"
  >
    <ion-segment class="ion-nowrap" mode="md">
      <ion-segment color="primary" scrollable="true" [value]="selectedCategory">
        <ion-segment-button
          (click)="setNewsSource(i)"
          *ngFor="let category of categories; let i = index"
          [value]="i"
        >
          {{ category }}
        </ion-segment-button>
      </ion-segment>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="loadNews($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <app-hint-box
    *ngIf="networkError"
    hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="alert.httpErrorStatus.generic"
  ></app-hint-box>

  <div *ngFor="let article of newsList" class="news-article">
    <app-custom-card
      *ngIf="article.NewsSource.name == sourcesList[newsSource]"
      [headerNote]="article.News.DateString ? article.News.DateString : null"
      [cardTitle]="article.News.headline ? article.News.headline : null"
      [cardContent]="article.News.description ? article.News.description : null"
      [url]="article.News.link ? article.News.link : null"
    ></app-custom-card>
  </div>

  <div *ngIf="isLoaded && newsList && newsList.length == 0 && !networkError">
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noNews"
    ></app-hint-box>
  </div>
</ion-content>
