<ion-segment *ngIf="isDualDegree[i]" [(ngModel)]="currentProfession" color="primary">
  <ion-segment-button *ngFor="let profession of gradeArray; let j = index" value="{{j}}">
    <span *ngIf="profession.fieldName">{{ profession.fieldName }}</span>
  </ion-segment-button>
</ion-segment>

<ion-grid *ngIf="gradeArray && gradeArray[currentProfession] && gradeArray[currentProfession].credits && gradeArray[currentProfession].credits.accountCredits">
  <ion-row *ngFor="let ac of convertToArray(gradeArray[currentProfession].credits.accountCredits)" class="creditPoints" nowrap no-padding>
    <ion-col text-left col-8>
      <b *ngIf="ac.description">
        {{ ac.description }}
      </b>
    </ion-col>
    <ion-col text-right>
      <b *ngIf="ac.actualCreditPoints && ac.targetCreditPoints">
        {{ ac.actualCreditPoints }}/{{ ac.targetCreditPoints }}
      </b>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="gradeArray[currentProfession].hint && !studentDetails.hint">
    <ion-col>{{ gradeArray[currentProfession].hint }}</ion-col>
  </ion-row>
  <ion-row *ngIf="studentDetails.hint">
    <ion-col>{{ studentDetails.hint }}</ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="gradeArray && gradeArray[currentProfession] && gradeArray[currentProfession].module; else noAchievements" class="gradeTable">
  <ion-grid>
    <ion-row class="tableHead" nowrap no-padding>
      <ion-col col-8>
        {{ "page.grades.bezeichnung" | translate }}
      </ion-col>
      <ion-col>
        {{ "page.grades.note" | translate }}
      </ion-col>
      <ion-col>
        {{ "page.grades.pv" | translate }}
      </ion-col>
      <ion-col>
        {{ "page.grades.lp" | translate }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="moduleGroup" *ngFor="let moduleGroup of convertToArray(gradeArray[currentProfession].module)">
    <ion-grid>
      <ion-row class="moduleGroupHead">
        <ion-col text-left col-8>
          <b *ngIf="moduleGroup.examDesc">{{ moduleGroup.examDesc }}</b>
        </ion-col>
        <ion-col>
          <b *ngIf="moduleGroup.grade && moduleGroup.grade != 'unbenotet'">{{ moduleGroup.grade }}</b>
          <b *ngIf="moduleGroup.grade && moduleGroup.grade == 'unbenotet'">-</b>
        </ion-col>
        <ion-col>
          <b *ngIf="moduleGroup.examStatus">{{ moduleGroup.examStatus }}</b>
        </ion-col>
        <ion-col>
          <b *ngIf="moduleGroup.actualCreditPoints && moduleGroup.examNumber != 4000">{{ moduleGroup.actualCreditPoints }}</b><b *ngIf="moduleGroup.targetCreditPoints && moduleGroup.examNumber != 4000">/{{ moduleGroup.targetCreditPoints }}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
    <span *ngIf="moduleGroup.module">
      <div *ngFor="let module of convertToArray(moduleGroup.module)">
        <ion-grid>
          <ion-row class="moduleHead">
            <ion-col class="moduleHead" text-left col-8>
              <b *ngIf="module.examDesc">{{ module.examDesc }}</b>
            </ion-col>
            <ion-col class="moduleHead">
              <b *ngIf="module.grade && module.grade != 'unbenotet'">{{ module.grade }}</b>
              <b *ngIf="module.grade && module.grade == 'unbenotet'">-</b>
            </ion-col>
            <ion-col class="moduleHead">
              <b *ngIf="module.examStatus">{{ module.examStatus }}</b>
            </ion-col>
            <ion-col class="moduleHead">
              <b *ngIf="module.actualCreditPoints && module.examNumber != 4000">{{ module.actualCreditPoints }}</b><b *ngIf="module.targetCreditPoints && moduleGroup.examNumber != 4000">/{{ module.targetCreditPoints }}</b>
            </ion-col>
          </ion-row>
          <div class="examination" *ngIf="module.examination">
            <div *ngIf="module.examination.graded">
              <ion-row *ngFor="let studyPerformance of convertToArray(module.examination.graded)">
                <ion-col col-8 text-left>
                  <span *ngIf="studyPerformance.courseType && studyPerformance.courseName">{{ studyPerformance.courseType }}: {{ unescapeHTML(studyPerformance.courseName) }}</span>
                  <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && studyPerformance.additionT">{{ studyPerformance.additionT}}</span>
                  <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && !studyPerformance.additionT && studyPerformance.desc">{{ studyPerformance.desc}}</span>
                  <i *ngIf="studyPerformance.additionA">{{ studyPerformance.additionA }}</i>
                </ion-col>
                <ion-col>
                  <div *ngIf="studyPerformance.grade && studyPerformance.grade == 'unbenotet'">-</div>
                  <div *ngIf="studyPerformance.grade && studyPerformance.grade != 'unbenotet'">{{ studyPerformance.grade }}</div>
                </ion-col>
                <ion-col>
                  <b *ngIf="studyPerformance.status && studyPerformance.status == 'BE'" style="color: green">{{ studyPerformance.status }}</b>
                  <b *ngIf="studyPerformance.status && studyPerformance.status == ('NB' || 'EN')" style="color: red">{{ studyPerformance.status }}</b>
                  <b *ngIf="studyPerformance.status && studyPerformance.status == 'AN'" style="color: orange">{{ studyPerformance.status }}</b>
                </ion-col>
                <ion-col>
                  <div *ngIf="studyPerformance.creditPoints">{{ studyPerformance.creditPoints }}</div>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="module.examination.nonGraded">
              <ion-row *ngFor="let studyPerformance of convertToArray(module.examination.nonGraded)">
                <ion-col col-8 text-left >
                  <span *ngIf="studyPerformance.courseType && studyPerformance.courseName">{{ studyPerformance.courseType }}: {{ unescapeHTML(studyPerformance.courseName) }}</span>
                  <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && studyPerformance.additionT">{{ studyPerformance.additionT}}</span>
                  <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && !studyPerformance.additionT && studyPerformance.desc">{{ studyPerformance.desc}}</span>
                  <i *ngIf="studyPerformance.additionA">{{ studyPerformance.additionA }}</i>
                </ion-col>
                <ion-col>
                  {{ "page.grades.studienleistung" | translate }}
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div *ngIf="module.module">
            <div *ngFor="let submodule of convertToArray(module.module)">
              <ion-row class="submoduleHead">
                <ion-col class="submoduleHead" text-left col-8>
                  <b *ngIf="submodule.examDesc">{{ submodule.examDesc }}</b>
                </ion-col>
                <ion-col class="submoduleHead">
                  <b *ngIf="submodule.grade && submodule.grade != 'unbenotet'">{{ submodule.grade }}</b>
                  <b *ngIf="submodule.grade && submodule.grade == 'unbenotet'">-</b>
                </ion-col>
                <ion-col class="submoduleHead">
                  <b *ngIf="submodule.examStatus">{{ submodule.examStatus }}</b>
                </ion-col>
                <ion-col class="submoduleHead">
                  <b *ngIf="submodule.actualCreditPoints && submodule.examNumber != 4000">{{ submodule.actualCreditPoints }}</b><b *ngIf="submodule.targetCreditPoints && moduleGroup.examNumber != 4000">/{{ submodule.targetCreditPoints }}</b>
                </ion-col>
              </ion-row>
              <div class="examination" *ngIf="submodule.examination">
                <div *ngIf="submodule.examination.graded">
                  <ion-row *ngFor="let studyPerformance of convertToArray(submodule.examination.graded)">
                    <ion-col col-8 text-left >
                      <span *ngIf="studyPerformance.courseType && studyPerformance.courseName">{{ studyPerformance.courseType }}: {{ unescapeHTML(studyPerformance.courseName) }}</span>
                      <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && studyPerformance.additionT">{{ studyPerformance.additionT}}</span>
                      <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && !studyPerformance.additionT && studyPerformance.desc">{{ studyPerformance.desc}}</span>
                      <i *ngIf="studyPerformance.additionA">{{ studyPerformance.additionA }}</i>
                    </ion-col>
                    <ion-col>
                      <div *ngIf="studyPerformance.grade && studyPerformance.grade == 'unbenotet'">-</div>
                      <div *ngIf="studyPerformance.grade && studyPerformance.grade != 'unbenotet'">{{ studyPerformance.grade }}</div>
                    </ion-col>
                    <ion-col>
                      <b *ngIf="studyPerformance.status && studyPerformance.status == 'BE'" style="color: green">{{ studyPerformance.status }}</b>
                      <b *ngIf="studyPerformance.status && studyPerformance.status == ('NB' || 'EN')" style="color: red">{{ studyPerformance.status }}</b>
                      <b *ngIf="studyPerformance.status && studyPerformance.status == 'AN'" style="color: orange">{{ studyPerformance.status }}</b>
                    </ion-col>
                    <ion-col>
                      <div *ngIf="studyPerformance.creditPoints">{{ studyPerformance.creditPoints }}</div>
                    </ion-col>
                  </ion-row>
                </div>
                <div *ngIf="submodule.examination.nonGraded">
                  <ion-row *ngFor="let studyPerformance of convertToArray(submodule.examination.nonGraded)">
                    <ion-col col-8 text-left >
                        <span *ngIf="studyPerformance.courseType && studyPerformance.courseName">{{ studyPerformance.courseType }}: {{ unescapeHTML(studyPerformance.courseName) }}</span>
                        <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && studyPerformance.additionT">{{ studyPerformance.additionT}}</span>
                        <span *ngIf="!(studyPerformance.courseType && studyPerformance.courseName) && !studyPerformance.additionT && studyPerformance.desc">{{ studyPerformance.desc}}</span>
                        <i *ngIf="studyPerformance.additionA">{{ studyPerformance.additionA }}</i>
                    </ion-col>
                    <ion-col>
                      {{ "page.grades.studienleistung" | translate }}
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </div>
          </div>
        </ion-grid>
      </div>
    </span>
  </div>
</div>
<ion-grid *ngIf="gradeArray && gradeArray[currentProfession] && gradeArray[currentProfession].credits && gradeArray[currentProfession].credits.accountCredits">
  <ion-row *ngFor="let ac of convertToArray(gradeArray[currentProfession].credits.accountCredits)" class="creditPoints" nowrap no-padding>
    <ion-col text-left col-8>
      <b *ngIf="ac.description">
        {{ ac.description }}
      </b>
    </ion-col>
    <ion-col text-right>
      <b *ngIf="ac.actualCreditPoints && ac.targetCreditPoints">
        {{ ac.actualCreditPoints }}/{{ ac.targetCreditPoints }}
      </b>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="gradeArray[currentProfession].hint">
    <ion-col>{{ gradeArray[currentProfession].hint }}</ion-col>
  </ion-row>
</ion-grid>
<ng-template #noAchievements>
  <hint hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-noGrades-hint"></hint>
</ng-template>