<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.settings.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="settings_initializes" no-padding>
    <div *ngFor="let setting of settings" style="border-bottom:solid #f4f4f4 2px !important" id="test_div">
      <ion-item lines="none" *ngIf="getSettingType(setting) == 'boolean'">
        <ion-icon name="{{setting.icon}}" slot="start"></ion-icon>
        <ion-label text-wrap>{{ "page.settings.setting." + setting.key + ".lbl" | translate }}</ion-label>
        <ion-toggle slot="end" checked="{{setting.value}}" (ionChange)="changeBoolSetting(setting)"></ion-toggle>
      </ion-item>

      <ion-item-divider color="light" *ngIf="getSettingType(setting) == 'placeholder'">
        <ion-label text-wrap>{{ "page.settings.setting." + setting.key + ".lbl" | translate }}</ion-label>
      </ion-item-divider>

      <ion-item detail lines="none" *ngIf="getSettingType(setting) != 'boolean' && getSettingType(setting) != 'placeholder'" (click)="openPrompt(setting)">
        <ion-icon name="{{setting.icon}}" slot="start"></ion-icon>
        <ion-label text-wrap>{{ "page.settings.setting." + setting.key + ".lbl" | translate }}</ion-label>
        <div slot="end" text-wrap>{{ getValueLabel(setting) }}</div>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
