<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.settings.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="settings_initializes" class="ion-no-padding">
    <div *ngFor="let setting of settings" id="test_div">
      <div
        class="settingsDiv"
        *ngIf="!(setting.mobileOnly && !(platform.is('ios') || platform.is('android')))"
      >
        <ion-item
          mode="md"
          lines="none"
          *ngIf="getSettingType(setting) === 'boolean'"
        >
          <ion-icon
            color="primary"
            name="{{ setting.icon }}"
            slot="start"
          ></ion-icon>
          <ion-label class="ion-text-wrap"
            >{{ "page.settings.setting." + setting.key + ".lbl" | translate
            }}</ion-label
          >
          <ion-toggle
            mode="md"
            size="small"
            slot="end"
            checked="{{ setting.value }}"
            (ionChange)="changeBoolSetting(setting)"
          ></ion-toggle>
        </ion-item>

        <ion-item-divider
          mode="md"
          color="light"
          *ngIf="getSettingType(setting) == 'placeholder'"
        >
          <ion-label class="ion-text-wrap"
            >{{ "page.settings.setting." + setting.key + ".lbl" | translate
            }}</ion-label
          >
        </ion-item-divider>

        <ion-item
          mode="md"
          *ngIf="getSettingType(setting) !== 'boolean' && getSettingType(setting) !== 'placeholder'"
          lines="none"
        >
          <ion-icon
            color="primary"
            name="{{ setting.icon }}"
            slot="start"
          ></ion-icon>
          <ion-label class="ion-text-wrap"
            >{{ "page.settings.setting." + setting.key + ".lbl" | translate
            }}</ion-label
          >
          <ion-select
            [value]="setting.value"
            [multiple]="setting.type === 5 ? 'true' : 'false'"
            (ionChange)="setIonSelectSetting($event, setting)"
            [interfaceOptions]="customAlertOptions(setting)"
            okText="{{ 'button.ok' | translate }}"
            cancelText="{{ 'button.cancel'  | translate }}"
          >
            <ion-select-option
              *ngFor="let option of setting.options"
              [value]="option.key"
              >{{ getOptionLabel(setting, option) }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
