@media (prefers-color-scheme: dark) {
  ion-card {
    --ion-card-background: var(--ion-color-light-shade) !important;
  }
}

ion-card-title {
  font-size: large;
}

ion-item {
  --background: var(--ion-card-background);
}

ion-note {
  font-size: smaller;
}

.cardHeaderRemoveTopPadding {
  padding-top: 0;
}

.headerItem {
  padding-top: 20px;
}

.headerIconButton {
  margin: 0;
  padding: 0;
}

.headerTitle {
  padding-left: 10px;
}

.footerButton {
  background-color: var(--ion-card-background);
}

.footerItem {
  border-top: 1px solid var(--ion-color-light-shade);
  padding: 5px;
}
