<form method="POST" id="query-form">
	<input type="search" name="query" id="query" placeholder="Suchbegriff eingeben..." value="<%= keyword %>" />
	<input type="submit" value="Suchen" data-theme="a" data-icon="search" data-iconpos="right"/>
</form>
<div id="search-results"></div>