<h2><%= book.get('title') %></h2>
<div>Subtitle <%= book.get('subtitle') %></div>
<div>authors <%= book.get('authors') %></div>
<div>publisher <%= book.get('publisher') %></div>
<div>isbn <%= book.get('isbn') %></div>
<p> Abstract <%= book.get('abstract') %></p>
<div>
  <h3>Contents</h3>
  <ul>
    <% _.each(book.get('toc'), function(chapter){ %>
    <li><%= chapter %></li>
  <%});%>
  </ul>
</div>