<% _.each(locations, function(location) { %>
<div>
	<h3><%= location.department %></h3>
	<span class="available"></span> <!--Alternativen: lent, prebook -->
	<%= (location.label) ? "<p>"+location.label+"<br>" : "" %>

   

	<%= location.availableitems %></p>
	 
</div>
<% }); %>