<% console.log('search', search); %>
<h2>
  <span>Liste aller Ausgaben:</span><br>
  <span class="numberOfListEntries blau"><%= search.results.length %></span> von <span class="numberOfRecords"><%= search.numberOfRecords %></span> Einträgen
</h2>

<ul class="booklist" data-role="listview" data-inset="true">
    <% _.each(booklist, function(book) { %>

    <li class="book-short" data-icon="arrow-darkblue" id="<%= book.get('recordId') %>">
      <a href="#">
        <div class="<%= book.get('mediaType') %>"></div>
        <h2>
          <%= (book.get('title')) ? book.get('title')+'</h2>' : ''%>
          <%= (book.get('subtitle')) ? '<h3>'+ book.get('subtitle')+'</h3>' : ''%>
        </h2>
        <p>
          <%= (book.get('authors')) ? '<b>'+book.get('authors')+'</b><br/>' : ''%>
          <%= _.compact([book.get('publisher'), book.get('dateIssued')]).join(', ') %>
        </p>
      </a>
    </li>
    <% }); %>
</ul>
<a href="#loadNext" data-role="button" data-theme="a" class="pagination-button">Lade Ergebnisse <%= search.results.length +1 %> - <%= search.results.length + 10 %></a>