<form method="POST" id="query-form">
	<input type="search" name="query" id="query" placeholder="Suchbegriff eingeben..." value="java" />
	<input type="submit" value="Search" data-theme="a"/>
</form>
<div id="search-results"></div>