	<% console.log(CoursesForDay); %>
    <ul data-role="listview" data-inset="true" data-theme="c">
        <li>
            <a href="" data-role="button" data-transition="slidefade">
                <h2>08:00 bis 10:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>10:00 bis 12:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>12:00 bis 14:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>14:00 bis 16:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>16:00 bis 18:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>18:00 bis 20:00</h2>
            </a>
        </li>
        <li>
            <a href="calendar/timestamp" data-role="button" data-transition="slidefade">
                <h2>20:00 bis 22:00</h2>
            </a>
        </li>
    </ul>
