<ul data-role="listview" data-inset="true" data-theme="c">
    <li data-role="list-divider"><%= day.locale('de').format('LLLL')%></li>
    <% _.each(CourseSlots.models, function(courseSlot){ %>
        <li data-role="list-divider"><%= moment(courseSlot.get('timeslotbegin'), 'HH:mm').format('HH:mm') %> - <%= moment(courseSlot.get('timeslotend'), 'HH:mm').format('HH:mm') %></li>
        <% if (courseSlot.get('model').length != 0){
            var course = courseSlot.get('model');
            var currentDate = course.get('currentDate');
        %>
        <li data-role="collapsible" data-iconpos="left" id="<%= course.cid %>">
            <h2>
                <%= moment(course.get('dates')[currentDate].begin, 'HH:mm').format('HH:mm') %> - <%=moment(course.get('dates')[currentDate].end, 'HH:mm').format('HH:mm') %>
                <%= course.get('name') %><br /><%= course.get('dates')[currentDate].lecturer %><br /><%= course.get('dates')[currentDate].room %>

            </h2>
            <p>
                Titel: <%= course.get('name') %><br />
                Raum: <%= course.get('dates')[currentDate].room %><br />

                Zeit: <%= course.get('dates')[currentDate].time %><br />
                Zeitspanne: <%= course.get('dates')[currentDate].timespan %><br />
                Status: <%= course.get('status') %><br />
                Rhythmus: <%= course.get('dates')[currentDate].rythm %><br />
                Zeitspanne: <%= course.get('dates')[currentDate].timespan %><br />
                Dozent: <%= course.get('dates')[currentDate].lecturer %><br />
                Webseite: <%= course.get('weblink') %><br />
            </p>
        </li>
        <% } %>
    <% }); %>
</ul>
