<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="javascript:history.back()" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back ui-btn ui-btn-inline ui-link ui-shadow ui-corner-all">Menue</a>
	
	<% if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Stundenplanexport </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %>
    <h1>Stundenplanexport</h1>
    <% } %>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" id="calendarexport">
	<div><p>Bitte wähle einen Kalender aus, in den alle Veranstaltungen exportiert werden sollen, um den Export zu starten.</p></dvi>

	<div id="loadingSpinner"></div>
	<div id="loadingError"></div>

	<% if (!calendars.isEmpty()) { %>
	<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
	<% calendars.each(function(calendar) { %>
		<li><a href="#<%= calendar.attributes.id %>" class="calendar-link"><%= calendar.attributes.name %></a></li>
	<% }) %>
	</ul>
	<% } %>
</div> <!-- ende content -->
