<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton ui-btn ui-btn-inline ui-link ui-shadow ui-corner-all">Menue</a>
	
	<%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Stundenplan </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %>
    <h1>Stundenplan</h1>
    <% } %>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" id="calendar">
	<div id="loadingSpinner"></div>
    <div id="coursesForDay"></div>
</div> <!-- ende content -->

<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="footer calendar-footer">
	<div data-role="navbar" data-tap-toggle="false">
		<ul>
			<li><a href="#calendar/<%= moment(day).add(-1, 'd').format('YYYY-MM-DD') %>" data-icon="arrow-l" data-role="button" data-direction="reverse">Vorheriger Tag</a></li>
			<% if (window.cordova || true) { %>
			<li><a href="#calendar" data-icon="arrow-d" data-role="button" id="export">Export</a></li>
			<% } %>
			<li><a href="#calendar/<%= moment(day).add(1, 'd').format('YYYY-MM-DD') %>" data-icon="arrow-r" data-role="button">Nächster Tag</a></li>
		</ul>
	</div>
</div>