<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#home" data-role="button" data-icon="false" data-iconpos="left" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
    <h1>Campus
    <%  if(store.get('up.session.authenticated')){ %>
       <a href="#options" class="settings" data-role="button"data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } %>
    </h1>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content">
    <ul data-role="listview" data-inset="true" data-theme="c" id="campus-navigation">
        <li class="sitemaps">
            <a href="#sitemap" data-role="button" data-transition="slidefade">
                <h2>Lagepläne</h2>
                <p>Lagepläne</p>
            </a>
        </li>
        <li class="rooms">
            <a href="#room" data-role="button" data-transition="slidefade">
                <h2>Raumbelegung</h2>
                <p>Raumbelegung</p>
            </a>
        </li>
        <li class="opening">
            <a href="#opening" data-role="button" data-transition="slidefade">
                <h2>Öffnungszeiten</h2>
                <p>Öffnungszeiten</p>
            </a>
        </li>
        <li class="travel">
            <a href="#transport" data-role="button" data-transition="slidefade">
                <h2>Bus &amp; Bahn</h2>
                <p>Bus &amp; Bahn</p>
            </a>
        </li>
        <li class="mensa">
            <a href="#mensa" data-role="button" data-transition="slidefade">
                <h2>Mensen &amp; Speisepläne</h2>
                <p>Mensen &amp; Speisepläne</p>
            </a>
        </li>
        <li class="emergency">
            <a href="#emergency" data-role="button" data-transition="slidefade">
                <h2>Notrufnummern</h2>
                <p>Notrufnummern</p>
            </a>
        </li>
        <li class="sports">
            <a href="http://hochschulsport-potsdam.de" target="_blank" rel="external" data-role="button" data-transition="slidefade">
                <h2>Hochschulsport</h2>
                <p>Angebote des Hochschulsports</p>
            </a>
        </li>
    </ul>
</div>
<!-- End Main - Navigation -->