<li data-role="collapsible" data-collapsed-icon="arrow-down"
  data-expanded-icon="arrow-up" data-iconpos="right">

  <h3>
    <span>ab 11:15 Griebnitzsee Bhf</span>
    <span>an 11:21 Golm Bhf</span>
  </h3>

  <table data-role="table" data-mode="reflow"
    class="ui-responsive table-stripe ">
    <thead>
      <tr>
        <th></th>
        <th>Uhrzeit</th>
        <th>Bahnhof</th>
        <th>Gleis</th>
        <th>Nr.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><span class="marker closed"></span></th>
        <td>ab 11:15</td>
        <td>Golm</td>
        <td>Gleis 3</td>
        <td>RE12345</td>
      </tr>
      <tr>
        <th><span class="marker closed"></span></th>
        <td>an 11:18</td>
        <td>Park Sanssouci</td>
        <td>Gleis 4</td>
        <td></td>
      </tr>
      <tr>
        <th>Arrow down</th>
        <td>Feet</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th><span class="marker open"></span></th>
        <td>ab 11:19</td>
        <td>Park Sanssouci</td>
        <td></td>
        <td><div title="Richtung: Wissenschaftspark Golm">
            <a href="#">Bus 222</a>
          </div></td>
      </tr>
      <tr>
        <th><span class="marker open"></span></th>
        <td>an 11:25</td>
        <td>Hauptbahnhof</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</li>