Titel: <%= course.get('name') %><br />
Raum: <%= course.get('dates')[0].room %><br />

Zeit: <%= course.get('dates')[0].time %><br />
Zeitspanne: <%= course.get('dates')[0].timespan %><br />
Status: <%= course.get('status') %><br />
Rhythmus: <%= course.get('dates')[0].rhythm %><br />
Zeitspanne: <%= course.get('dates')[0].timespan %><br />
Dozent: <%= course.get('dates')[0].lecturer %><br />
Webseite: <%= course.get('weblink') %><br />