<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton">Menue</a>
	<a href="#campus" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
	<h1>Notrufnummern
	<%  if(store.get('up.session.authenticated')){ %>
        <a href="#options" class="settings" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a></h1>
    <%  }else{ %>
        <a href="#options" class="settings" data-role="button" data-icon="false" title="login" alt="login">Login</a></h1>
    <%  } %>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-iconpos="left" data-theme="c"	id="emergencies">
	<form>
		<input data-type="search" id="searchForEmergency" placeholder="Eintr&auml;ge filtern" />
	</form>

	<div data-role="collapsible-set" data-theme="c" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" id="emergency-list" data-filter="true" data-input="#searchForEmergency">
	</div>
</div>
<!-- End Main - Navigation -->