<h3>
	<span class="blau"><%= emergency.name %></span><br />
	<span class="black normal"><%= emergency.description %></span><br />
	<%= (emergency.mail) ? '<a href="mailto:'+emergency.mail+'"><span class="mail">'+emergency.mail+'</span></a><br />' : '' %>
	<a href="tel:<%= emergency.telephone %>"><span class="phone"><%= emergency.telephone %></span></a><br />
</h3>
<div>
	<p>
		<%= (emergency.street) ? '<p>'+emergency.street+'</p>' : '' %>
		<%= (emergency.postal) ? '<p>'+emergency.postal+'</p>' : '' %>
	</p>
</div>