<meta name="title" content="Leistungsübersicht" />

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">

 	<div id="loadingSpinner"></div>
 	<div id="gradesHost"></div>

 	<div id="averageData" class="gradeAverages"></div>
	<div id="gradesTable"></div>

</div> <!-- ende content -->