<% if (averages) { %>
<!--<h2>
	<span class="grade-left-aligned">Geschätzte &Oslash;-Note: <% print(Number(averages.grade).toFixed(2)); %></span>
	<span class="grade-right-aligned">LP: <%= averages.lps %></span>
</h2>-->
<h2>In Absprache mit dem PULS-Team können wir derzeit leider keine LP oder Durchschnitte anzeigen.</h2>
<!--<h2>Wir kämpfen aktuell mit einigen Abstimmungen mit dem PULS-Team, daher funktioniert die Abfrage der LP und Durchschnittdaten derzeit nicht in der App.</h2>-->
<% } %>