<% if (averages) { %>
<!--<h2>
	<span class="grade-left-aligned">Geschätzte &Oslash;-Note: <% print(Number(averages.grade).toFixed(2)); %></span>
	<span class="grade-right-aligned">LP: <%= averages.lps %></span>
</h2>-->
<h2>Derzeit ist die Angabe der LP und der aktuellen Durchschnittsnote leider nicht möglich.</h2>
<% } %>