<% if (averages) { %>
<!--<h2>
	<span class="grade-left-aligned">Geschätzte &Oslash;-Note: <% print(Number(averages.grade).toFixed(2)); %></span>
	<span class="grade-right-aligned">LP: <%= averages.lps %></span>
</h2>-->
<% } %>