<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton">Menue</a>
	<a href="#study" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
	<h1>Leistungsübersicht
	<%  if(store.get('up.session.authenticated')){ %>
        <a href="#options" class="settings" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a></h1>
    <%  }else{ %>
        <a href="#options" class="settings" data-role="button" data-icon="false" title="login" alt="login">Login</a></h1>
    <%  } %>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">

  <!-- <div data-role="navbar">
    <ul>
      <li><a href="" class="ui-btn-active">Studiengang..</a></li>
      <li><a href="" >Studiengang b </a></li>
      <li><a href="" >Studiengang c </a></li>
    </ul>
  </div> -->

	<table data-role="table" id="grades" data-mode="reflow" class="table-stripe ui-responsive" data-theme="c" >
	  <thead>
	    <tr>
	      <th>Veranstaltung</th>
	      <th>Leistungspunkte</th>
	      <th>Status</th>
	      <th>Note</th>
	    </tr>
	  </thead>
	  <tbody id="gradesTable">
	  </tbody>
	</table>

	<div id="gradesHost"></div>
	<div id="loadingSpinner"></div>

</div> <!-- ende content -->