<div class="ui-header ui-bar-inherit ui-header-fixed slidedown ui-page-theme-a<%=klass%>" data-position="fixed" data-tap-toggle="false">
  <% if(back) { %>
  	<a data-rel="back" data-direction="reverse" data-transition="slidefade" class="ui-link back <%= backCaption ? 'back-caption ' : '' %>ui-btn-left ui-btn ui-btn-inline ui-shadow ui-corner-all" href="javascript:;" data-role="button" role="button"><%= backCaption ? backCaption : 'Zurück' %></a>
  <% } else if(!home){ %>
  <a href="#main/menu" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="ui-link ui-btn-left ui-btn ui-btn-inline ui-shadow ui-corner-all menubutton">Menue</a>
  <% } %>
  <% if(store.get('up.session.authenticated')){ %>
	<h1 class="ui-title loggedin"><%=title%></h1>
	<a href="#main/logout" class="settings ui-btn-right ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
  <%  } else { %>
    <h1 class="ui-title"><%=title%></h1>
  <% } %>
  <% if(settingsUrl) { %>
  	<a id="header-settings-btn" rel="norout" data-icon="star" data-role="button" class="settings ui-link ui-btn ui-icon-star ui-btn-icon-left ui-shadow ui-corner-all" href="<%=(settingsUrl.indexOf('javascript') == -1 ? '#' : '')+settingsUrl%>" role="button" title="settings" alt="settings"></a>
  <% } %>
</div>