<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="a">
   <%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Mobile.UP </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %>
    <h1>Mobile.UP</h1>
    <% } %>
</div>
<!-- End Header -->

<!-- Start Main - Navigation -->
<div data-role="content">
	
	<div class="flex-container">
		<!-- Mein Studium -->
		<h2>Mein Studium</h2>
		<div>
			<div class= "flex-item iconized calendar">
				<a href="#calendar" data-role="button">Stundenplan</a>
			</div>
			<div class="flex-item iconized lecturesdir">
				<a href="#lectures" data-role="button">Vorlesungs-<br>verzeichnis</a>
			</div>
			<div class="flex-item iconized grades">
				<a href="#grades" data-role="button">Meine<br>Leistungen</a>
			</div>
			<div class="flex-item iconized moodle">
				<a href="#study/moodle" data-role="button">Moodle</a>
			</div>
		</div>
	</div>
	
	<div style="clear: both;"></div>
	
	<div class="flex-container">
		<!-- Mein Campus -->
		<h2>Mein Campus</h2>
		<div>
			<div class="flex-item iconized news">
				<a href="#news" data-role="button">Neuigkeiten</a>
			</div>
			<div class="flex-item iconized events">
				<a href="#events" data-role="button">Events</a>
			</div>
			<div class="flex-item iconized plans">
				<a href="#sitemap" data-role="button">Lagepläne</a>
			</div>
			<div class="flex-item iconized rooms">
				<a href="#room" data-role="button">Raum-<br>belegung</a>
			</div>
			<div class="flex-item iconized opening">
				<a href="#opening" data-role="button">Öffnungs-<br>zeiten</a>
			</div>
			<div class="flex-item iconized travel">
				<a href="#transport"  data-role="button">Bus u. Bahn</a>
			</div>
			<div class="flex-item iconized mensa">
				<a href="#mensa" data-role="button">Mensa</a>
			</div>
			<div class="flex-item iconized emergency">
				<a href="#emergency" data-role="button">Notruf-<br>nummern</a>
			</div>
			<div class="flex-item iconized sports">
				<a href="http://www.hochschulsport-potsdam.de/" rel="external" data-role="button">Hochschul-<br>sport</a>
			</div>
			<div class="flex-item iconized search">
				<a href="#library" data-role="button">Bibliotheks-<br>suche</a>
			</div>
			<div class="flex-item iconized person">
				<a href="#people" data-role="button">Personen-<br>suche</a>
			</div>
		</div>
	</div>
	
	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-footer ui-footer-fixed">
		<a class="home-impressum" href="#impressum" data-role="button" data-icon="arrow-white" data-iconpos="right">Impressum</a>
	</div>
	
</div> <!-- ende content -->
<!-- End Main - Navigation -->