<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="a">
   <%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Mobile.UP </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %>
    <h1>Mobile.UP</h1>
    <% } %>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->

<div data-role="content">

	
	<!-- #news -->

	<div class="ui-grid-solo">
		<div class="ui-block-a divider">
			<h2>News</h2>
		</div>
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#news" class="news" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>News</h3>
				</div>
			</div>
		</div>
		
		
		
		<div class="ui-block-b"></div>
		<div class="ui-block-c"></div>
		<div class="ui-block-d"></div>
	</div><!-- /grid-d -->
	
	<!-- #events -->

	<div class="ui-grid-solo">
		<div class="ui-block-a divider">
			<h2>Veranstaltungen</h2>
		</div>
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#events" class="events" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Events</h3>
				</div>
			</div>
		</div>
		
		
		
		<div class="ui-block-b"></div>
		<div class="ui-block-c"></div>
		<div class="ui-block-d"></div>

	</div><!-- /grid-d -->
	
	
	<!-- #mein studium -->

	<div class="ui-grid-solo">
		<div class="ui-block-a divider">
			<h2>Mein Studium</h2>
		</div>
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#calendar" class="calendar" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Stunden-<br>plan</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-b">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#lectures" class="lecturesdir" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Vorlesungs-<br>verzeichnis</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-c">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#grades" class="grades" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Meine Leistungen</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-d">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#study/moodle" class="moodle" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Moodle</h3>
				</div>
			</div>
		</div>
	</div> <!-- end ui-grid-d -->
		
		<!-- #Campus -->

	<div class="ui-grid-solo">
		<div class="ui-block-a divider">
			<h2>UP Campus</h2>
		</div>
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#sitemap" class="plans" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Lagepläne</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-b">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#room" class="rooms" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Raum-<br>belegung</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-c">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#opening" class="opening" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Öffnungs-<br>zeiten</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-d">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#transport" class="travel" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Verkehr</h3>
				</div>
			</div>
		</div>
		
	</div><!-- /grid-d -->
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#mensa" class="mensa" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Mensa</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-b">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#emergency" class="emergency" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Notruf-<br>nummern</h3>
				</div>
			</div>
		</div>
		
		<div class="ui-block-c">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="http://hochschulsport-potsdam.de" class="sports" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Hochschul-<br>sport</h3>
				</div>
			</div>
		</div>
		
	</div><!-- /grid-d -->
	
	<!-- #Suche -->

	<div class="ui-grid-solo">
		<div class="ui-block-a divider">
			<h2>Suche</h2>
		</div>
	
	<div class="ui-grid-d">
		<div class="ui-block-a">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#library" class="search" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Bibliotheks-<br>suche</h3>
				</div>
			</div>
		</div>
		
		
		
		<div class="ui-block-b">
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<a href="#persons" class="persons" data-role="button"></a>
				</div>
			</div>
			
			<div class="ui-grid-solo">
				<div class="ui-block-a">
					<h3>Personen-<br>suche</h3>
				</div>
			</div>
		</div>
		<div class="ui-block-c"></div>
		<div class="ui-block-d"></div>
	</div><!-- /grid-d -->
	
	

</div> <!-- ende content -->



</div>
<!-- End Main - Navigation -->