<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="a">
   <%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Mobile.UP </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %>
    <h1>Mobile.UP </h1>
    <% } %>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content">
    <ul data-role="listview" data-inset="true" data-theme="c" id="main-navigation">
        <li class="news">
            <a href="#news" data-role="button">
                <h1>Neuigkeiten</h1>
                <p>News aus der Hochschule</p>
            </a>
        </li>
        <li class="events">
            <a href="#events" data-role="button">
                <h1>Veranstaltungen</h1>
                <p> Veranstaltungen rund ums Studium</p>
            </a>
        </li>
        <li class="study">
            <a href="#study" data-role="button">
                <h1>Mein Studium</h1>
                <p>Stundenplan, Vorlesungsverzeichnis,<br />Leistungen, Moodle</p>
            </a>
        </li>
        <li class="around">
            <a href="#campus" data-role="button">
                <h1>Campus</h1>
                <p>Lagepl&auml;ne, Raumbelegung, &Ouml;ffnungszeiten,<br />Bus &amp; Bahn, Mensa &amp; Speisepläne,<br />Notrufnummern, Hochschulsport</p>
            </a>
        </li>
        <li class="search">
            <a href="#library" data-role="button">
                <h1>Suche</h1>
                <p>Einfache Bibliothekssuche</p>
            </a>
        </li>
        <li class="impressum">
            <a href="#impressum" data-role="button">
                <h1>Impressum</h1>
                <p>Ansprechpartner, Mitmachen, Impressum</p>
            </a>
        </li>
    </ul>
</div>
<!-- End Main - Navigation -->