<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#nav-panel" data-role="button" data-icon="false"
		data-inline="true" class="menubutton">Menue</a> <a
		href="#home" data-role="button" data-icon="false"
		data-inline="true" data-transition="slidefade"
		data-direction="reverse" class="back">Back</a>
	<h1>App Info</h1>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-iconpos="left"  data-theme="b"
	id="impressum">
	
	<div data-role="collapsible-set">

		<div data-role="collapsible" data-collapsed="true" data-collapsed-icon="ansprech" data-expanded-icon="ansprech">
			<h3>Ansprechpartner</h3>
			<p>
				<img src="../www/img/up/miau.png" class="alignleft">
				<b>Alexander Kiy</b> <br>
				Institut für Informatik <br>
				- Komplexe Multimediale Anwednungsarchitekturen -  <br>
				Campaus Griebnitzsee  <br>
				Haus 4 | 0.06 <br><br>
				
				<b>Telefon:</b> +49-331-977-3074 <br style="clear:left;">
				
			</p>
		</div>
	
		<div data-role="collapsible" data-collapsed-icon="impressum" data-expanded-icon="impressum">
			<h3>Impressum</h3>
			<p>
				<em>Angaben gemäß § 5 TMG:</em>
				<p>Universität Potsdam<br />
					Am Neuen Palais 10<br />
					14469 Potsdam
				</p>

				<em>Vertreten durch:</em>
				<p>
				Die Universität Potsdam ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch <b> Prof. Oliver Günther, Ph.D.</b>, Präsident der Universität Potsdam, Am Neuen Palais 10, 14469 Potsdam.
				</p>
				
				<em>Kontakt:</em>
				<b>Telefon:</b> 0331 977-0<br>
				<b>Telefax:</b> 0331 97 21 63<br>
				<b>E-Mail:</b> www-team@uni-potsdam.de
				
				
				<em>Umsatzsteuer-ID:</em>
				<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
					DE138408327
				</p>
				
				<em>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</em>
				
				<p>Inhaltliche Verantwortlichkeit i. S. v. § 5 TMG und § 55 Abs. 2 RStV<br />
					<br />
					Die zentralen Inhalte (Veranstaltungen, News) werden vom Referat für Presse- und Öffentlichkeitsarbeit betreut:<br />
					<br />
					Leiterin des Referates für Presse- und Öffentlichkeitsarbeit:<br />
					<b>Birgit Mangelsdorf</b><br />
					Am Neuen Palais 10<br />
					14469 Potsdam<br />
					<br />
					<b>Telefon:</b> 0331 977-1474<br />
					<b>Fax:</b> 0331 977-1130<br />
					<br />
					<b>E-Mail:</b> presse@uni-potsdam.de<br />
					<br />
					Die einzelnen Fakultäten, Institute, Einrichtungen und Verwaltungsstellen der Universität Potsdam sind für die Inhalte und Aktualität ihrer Webseiten zuständig. Die Autorinnen und Autoren der Webseiten sind für die jeweiligen Inhalte verantwortlich.</p>
	 	</p>

		</div>
		
		<div data-role="collapsible" data-collapsed-icon="mitmachen" data-expanded-icon="mitmachen">
			<h3>Mitmachen</h3>
			<p>Unentgeltliche Mitwirkung an der Weiterentwicklung der UP App mit eigenem Arbeitsplatz auf einem Vogonen-Schiff kann bei Herr Kiy beantragt werden.
			Die Uni Potsdam verpflichtet sich in diesem Fall, Ihnen ein Handtuch zu stellen. Menschen mit zwei Köpfen sind ausdrücklich dazu aufgefordert, sich ebenfalls
			zu bewerben und werden auch bei geringerer Qualifikation oder schwerer Kindheit bevorzugt eingestellt.
			</p>
		</div>
	
</div>
	
	
</div>
<!-- End Main - Navigation -->