<div data-role="collapsible">
	<h3><%= model.attributes.type %>: <%= model.attributes.name %></h3>

	<style>
		li.lecture-group-detail
		{
		
		}
		h3.lecture-group-name
		{
		
		}
	</style>

	<div data-role="listview" data-inset="true"></div>
</div>