<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#nav-panel" data-role="button" data-icon="false" data-inline="true" class="menubutton">Menue</a>
	<a href="#study" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
	<h1>Vorlesungsverzeichnis
	<%  if(store.get('up.session.authenticated')){ %>
        <span class="username-header nooptions"><%= store.get('up.session.username') %></span><a href="#options" class="settings" data-role="button" data-icon="logout-blue" title="logout" alt="logout"></a></h1>
    <%  }else{ %>
        <a href="#options" class="settings" data-role="button" data-icon="login-blue" title="login" alt="login"></a></h1>
    <%  } %>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content">
	<select name="selectLevel" id="selectLevel" data-native-menu="false" data-inline="true" data-icon="bars">
		<option value="">Zurück zu ...</option>
	</select>

	<div id="lecturesHost"></div>
	<div id="loadingSpinner"></div>

	<!-- liste -->
	<ul class="lecture-category-list" data-role="listview" data-inset="true" data-theme="b" id="lectureCategoryList">
	</ul>

	<!-- liste -->
	<div data-role="collapsible-set" data-inset="true" data-theme="b" data-collapsed="true" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" id="lectureCourseList">
	</div>

</div>
<!-- End Main - Navigation -->