<h2>
  <span>Liste aller Ausgaben:</span><br>
  <span class="numberOfListEntries blau"><%= search.results.length %></span> von <span class="numberOfRecords"><%= search.numberOfRecords %></span> Einträgen
</h2>

<ul class="booklist" data-role="listview" data-inset="true">
    <% _.each(booklist, function(book) { %>
    <li class="book-short" data-icon="arrow-darkblue" id="<%= book.get('id') %>">
      <a href="#">
        <div class="<%= book.get('mediaType') %>"></div>
        <h2>
          <%= (book.get('title')) ? book.get('title')+'</h2>' : ''%>
          <%= (book.get('subtitle')) ? '<h3>'+ book.get('subtitle')+'</h3>' : ''%>
        </h2>
        <p>
          <% if (book.get('authors') && book.get('authors').length>0) { %>
            <b><%= book.get('authors').join("; ") %></b><br />
          <% } %>
          <% if (book.get('enumerationAndChronology')) { %>
            <b><%= book.get('enumerationAndChronology') %></b><br />
          <% } %>
          <%= _.compact([book.get('edition'), _.compact([book.get('place'),	_.compact([book.get('publisher'), book.get('dateIssued')]).join(', ')]).join(': ')]) %>
        </p>
      </a>
    </li>
    <% }); %>
</ul>
<% if (paginationPossible) { %>
<input id="loadNext" type="submit" value="Lade Ergebnisse <%= startPagination %> - <%= endPagination %>" data-theme="a" data-icon="search" data-iconpos="right"/>
<% } %>