<% _.each(locations, function(location) { %>
<div>
	<h3><%= location.get('department') %></h3>
	<p>
		<!--Alternativen: lent, prebook -->
		<% if (location.get('item')[1] && (location.get('item')[1].indexOf("ausgeliehen") != -1) || location.get('item')[0] && location.get('item')[0].indexOf("nicht") != -1) { %>
		<span class="lent"></span>
		<% }else if(location.get('item')[0] && location.get('item')[0].indexOf("Präsenzbestand") != -1){ %>
		<span class="prebook"></span>
		<% }else{ %>
		<span class="available"></span>
		<% } %>
		<span class="location-details">
		<%= (location.get('url')) ? '<a href="'+location.get('url')+'" target="_blank" rel="external">'+location.get('item')[0]+'</a><br />' : '' %>
		<%= (location.get('item')[1]) ? location.get('item')[1]+'<br />' : '' %><%= (location.get('item')[0] && !location.get('url')) ? location.get('item')[0]+'<br />' : '' %>
		<%= (location.get('label')) ? '<b>'+location.get('label')+'</b><br />' : '' %>
		</span>
	</p>
</div>
<% }); %>