<meta name="title" content="Logout" />
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
	<br />
	<img src="img/up/hinweis.png" class="alignleft" />
	<p class="blau" style="margin-left:55px; margin-bottom: 40px;">
		Hinterlegt sind Dein Benutzername (<b><%= store.get('up.session.username') %></b>) und das Passwort für die Anmeldung in PULS und Moodle.<br /><br />
		Möchtest Du Dich wirklich ausloggen?
	</p>
	<form id="logoutform">

		<input id='logout' data-theme='a' type="submit" value="Ja, jetzt ausloggen!" />
	</form>
</div>
<!-- End Main - Navigation -->