<div data-role="collapsible-set" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" class="speiseplan">
	<% _.each(meals, function(meal) { %>
	<div data-role="collapsible" data-collapsed="true" id="<%= meal.contentId %>">
		<h3>
			<div class="mensaicons">
				<img src="<%= meal.ingredients[0] %>" />
			</div>
			<div class="mensatext"><%= meal.title %><br /><span><%=meal.description %></span></div>
		</h3>
		
		<div class="second-mensaicons">
			<img src="<%= meal.ingredients[0] %>" />
		</div>
	
		<p>
			[3] mit Antioxidationsmitteln<br />
			Studierende: <% print(Number(meal.prices.students).toFixed(2)); %> €<br />
			Bedienstete: <% print(Number(meal.prices.staff).toFixed(2)); %> €<br />
			Gäste: <% print(Number(meal.prices.guests).toFixed(2)); %> €
		</p>
	</div>
	<% }); %>
</div>