<% if (meals.length > 0) { %>
	<% if (location === "UlfsCafe") { %>
	<div class="up-mensa-name">Ulf's Café im HPI</div>
	<% } %>
<div data-role="collapsible-set" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" class="speiseplan">
	<% _.each(meals, function(meal) { %>
	<div data-role="collapsible" data-collapsed="true" id="<%= meal.contentId %>">
		<h3>
			<div class="mensaicons">
				<% if (meal.ingredients.length > 1) { %>
				<img src="img/up/mensa-spezial.png" />
				<% } else if (meal.ingredients.length == 1) { %>
				<img src="<%= meal.ingredients[0] %>" />
				<% } else { %>
				<img src="img/up/mensa-spezial.png" />
				<% } %>
			</div>
			
			<div class="mensatext">
				<%= meal.title %><br />
				<span><%= meal.description %></span>
			</div>
		</h3>
		
		<div class="second-mensaicons">
			<% if (meal.ingredients.length > 1) { %>
			<%   for (var count = 0; count < meal.ingredients.length; count++) { %>
			<img src="<%= meal.ingredients[count] %>" />
			<%   } %>
			<% } %>
		</div>
	
		<p>
			<% if (meal.prices.students) { %>
			Studierende: <% print(Number(meal.prices.students).toFixed(2)); %> €<br />
			<% } %>
			<% if (meal.prices.staff) { %>
			Bedienstete: <% print(Number(meal.prices.staff).toFixed(2)); %> €<br />
			<% } %>
			<% if (meal.prices.guests) { %>
			Gäste: <% print(Number(meal.prices.guests).toFixed(2)); %> €
			<% } %>
		</p>
	</div>
	<% }); %>
</div>
<% } else if(location !== "UlfsCafe") { %>
<div>
	<br />
	<img src="img/up/hinweis.png" class="alignleft">
	<p class="blau" style="margin-left:55px;">Heute gibt es kein Essensangebot. Vielleicht ist die Mensa geschlossen?</p>
	<div style="clear: both;"></div>
</div>
<% } %>