<% _.each(meals, function(meal) { %>
<div data-role="collapsible" data-collapsed="false" id="<%= meal.contentId %>">
	<h3>
		<img src="<%= meal.ingredients[0] %>" width="30" height="30" /><%= meal.title %><br />
		<span><%=meal.description %></span>
	</h3>
	<p>
		[3] mit Antioxidationsmitteln<br />
		Studierende: <%= meal.prices.students %> €<br />
		Bedienstete: <%= meal.prices.staff %> €<br />
		Gäste: <%= meal.prices.guests %> €
	</p>
</div>
<% }); %>