<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton">Menue</a>
	<a id="backbutton" href="#study" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
	
	<%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Moodle </h1>
	<a href="#options" class="settings" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %> 
    <h1>Moodle </h1>
    <% } %> 
	

</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
	<div id="courselist">
		<form>
			<input data-type="search" id="searchForMoodleCourses" placeholder="Eintr&auml;ge filtern" />
		</form>
		<ul id='moodle_courses' data-role="listview" data-theme="c" data-filter="true" data-input="#searchForMoodleCourses" >
		</ul>
	</div>
	<div id="loadingSpinner"></div>
</div>