<% _.each(courses, function(course){ %>

    <li class='moodle-course' id='<%= course.get('id') %>'>
      <a href="#study/moodle/course/<%= course.get('id') %>" data-role="button" data-icon="arrow-darkblue" data-transition="slidefade">
        <h2><%= course.get('fullname') %></h2>
          <!-- <%= JSON.stringify(course.attributes) %> -->
    </a></li>

<%});%>
