<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="#home" data-role="button" data-icon="false" data-iconpos="left" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
    <%  if(store.get('up.session.authenticated')){ %>
        <h1>Neuigkeiten<a href="#options" class="settings" data-role="button" data-icon="logout-blue"></a></h1>
    <%  }else{ %>
        <h1>Neuigkeiten<a href="#options" class="settings" data-role="button" data-icon="login-blue"></a></h1>
    <%  } %>
  <a data-icon="star" data-role="button" class="settings" href="#news/set_sources" role="button"></a>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div id="news" data-role="content" data-theme="c">

</div>
<!-- End Main - Navigation -->