    <!-- Start Header -->
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
      <a href="#" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="menubutton">Menue</a>
      <a href="#campus" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
      <h1>&Ouml;ffnungszeiten
       <%  if(store.get('up.session.authenticated')){ %>
      <a href="#options" class="settings" data-role="button" data-icon="false" alt="logout" title="logout">Logout</a></h1>
    <%  }else{ %>
        <a href="#options" class="settings" data-role="button" data-icon="false" alt="login" title="login">Login</a></h1>
    <%  } %>

      </h1>
    </div>
    <!-- End Header -->
    <!-- Start Main - Navigation -->
    <div data-role="content" data-theme="c">
      <form>
        <input data-type="search" id="searchForOpening" placeholder="Eintr&auml;ge filtern" />
      </form>
<!--
       <div id="sorter">
        <ul data-role="listview">
          <li><span>A</span></li>
          <li><span>B</span></li>
          <li><span>P</span></li>
        </ul>
      </div>
 -->
      <div data-role="collapsible-set" data-theme="c" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" id="opening-list" data-filter="true" data-input="#searchForOpening">
      </div>
    </div>