<!-- Auslagerung in Template -->
<div data-role="collapsible">
  <h3>
    <span class="marker <%= statusOpenNow %>"></span><%= name %>
  </h3>
  <p>
    <%= (mail) ? '<b>E-Mail:</b><a href="mailto:'+mail+'">'+mail+'</a><br />' : ''  %>
    <%= (telephone) ? '<b>Tel:</b><a href="tel: '+telephone+'">'+telephone+'</a><br />' : '' %>
    <%= (link) ? '<b>Link:</b><a href="'+link+' target="_blank">'+link+'</a><br />' : ''%>
  </p>
  <table data-role="table" data-mode="reflow"
    class="ui-responsive table-stripe ">
    <thead>
      <tr>
        <th>Wochentag</th>
        <th>Uhrzeit</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(times, function(time_for_day) { %>
        <tr>
          <th><%= time_for_day['day'] %></th>
          <td><%= time_for_day['opening_text'] %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="#" data-role="button" data-theme="a" data-icon="location">
    Auf der Karte finden</a>
</div>