<!-- Auslagerung in Template -->
<div data-role="collapsible">
  <h3>
    <span class="marker <%= statusOpenNow %>"></span><%= name %>
  </h3>
  <% if (!_.isUndefined(mail) || !_.isUndefined(telephone) || !_.isUndefined(link)) { %>
  <table data-role="table" data-mode="reflow" class="ui-responsive">
  	<thead>
  		<tr>
  			<th></th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		<%= (mail) ? '<tr><th>E-Mail:</th><td><a href="mailto:'+mail+'">'+mail+'</a></td></tr>' : ''  %>
  		<%= (telephone) ? '<tr><th>Tel:</th><td><a href="tel: '+telephone+'">'+telephone+'</a></td></tr>' : '' %>
    	<%= (link) ? '<tr><th>Link:</th><td><a href="'+link+' target="_blank">'+link+'</a></td></tr>' : ''%>
  	</tbody>
  </table>
  <% } %>

  <table data-role="table" data-mode="reflow"
    class="ui-responsive table-stripe ">
    <thead>
      <tr>
        <th>Wochentag</th>
        <th>Uhrzeit</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(times, function(time_for_day) { %>
        <tr>
          <th><%= time_for_day['day'] %></th>
          <td><%= time_for_day['opening_text'] %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <!--
  <a href="#" data-role="button" data-theme="a" data-icon="location">
    Auf der Karte finden</a>
    -->
</div>