<meta name="title" content="Personensuche" />
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" class="ui-content ui-body-c" role="main">

	<div id="peopleContent">
		<form method="POST" id="query-form">
			<input type="search" name="query" id="query" placeholder="Suchbegriff eingeben..." value="" />
			<input type="submit" value="Suchen" data-theme="a" data-icon="search" data-iconpos="right"/>
		</form>
		<div id="people-list"></div>
		<div id="loadingSpinner"></div>
	</div>
	<!-- End Main Content -->
</div>