	<h3>
		<span class="blau"><%= person.get('Titel') %> <%= person.get('Vorname') %> <%= person.get('Nachname') %></span><br />
		<span class="black normal"><%= _.compact([person.get('Abteilung'), person.get('Struktureinheit')]).join(', ') %></span>
		<span class="mail"><%= person.get('Email') %></span><br />
		<span class="phone"><%= person.get('Telefon') %></span>
	</h3>
	<div>
		<p>
			<%= (person.get('Raum')) ? 'Raum:'+person.get('Raum')+'<br />' : '' %>
			<%= (person.get('Fax')) ? 'Fax:'+person.get('Fax')+'<br />' : '' %>
		</p>
	</div>