<div data-role="collapsible" data-collapsed="true">
	<h3>
		<div>Haus <%= roomIndex %><span class="black"> (<%= rooms.length %> <%= (rooms.length == 1) ? 'freier Raum' : 'freie Räume' %>)</span></div>
	</h3>
	
	<div data-role="listview" data-icon="arrow-darkblue" class="rooms-subview"></div>
</div>