<h3 style="background:none; margin-left:.3em;">Freie Räume:</h3>
<div id="roomsOverviewList" data-role="collapsible-set" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up">
</div>