<h3 style="background:none;margin-left:.3em; margin-bottom:.3em">Reservierungen für Haus <%= room.house %> Raum <%= room.room %>:</h3>
<ul id="reservationsforroom" data-role="listview" style="margin: 1px;">
	<% _.each(reservations, function(reservation) { %>
	<li>

			<% print(("00" + reservation.startTime.getHours()).slice(-2)); %>:<% print(("00" + reservation.startTime.getMinutes()).slice(-2)); %>
			-
			<% print(("00" + reservation.endTime.getHours()).slice(-2)); %>:<% print(("00" + reservation.endTime.getMinutes()).slice(-2)); %>
			<% if (reservation.title) { %>
				<%= reservation.title %>
			<% } %>

	</li>
	<% }); %>
</ul>
<% if (!reservations || reservations.length == 0) { %>
<ul>
	<li>Keine Reservierungen</li>
</ul>
<% } %>
<button data-theme="a" data-icon="back">Zurück</button>