<% _.each(items, function(item) { %>
<li class="ui-screen-hidden" data-icon="arrow-darkblue">
	<a data-tag="<%= item.index %>">
		<h3><%= item.name %></h3>
		<p><%= item.description %></p>
	</a>
</li>
<% }); %>