<div data-role="panel" style="background-color:#ededed;" data-position="right" data-display="overlay" id="sitemaps-settings" data-theme="b" data-dismissible="false">
	<fieldset data-role="controlgroup">
		<h3 class="blau">Folgende Orte anzeigen:</h3>
		<input type="checkbox" name="Terminals" id="Terminals" checked="true">
		<label for="Terminals" class="sitemap-terminals">Terminals</label>
		<input type="checkbox" name="Institute" id="Institute" checked="true">
		<label for="Institute" class="sitemap-institutes">Institute</label>
		<input type="checkbox" name="An-Institute" id="AnInstitute" checked="true">
		<label for="AnInstitute" class="sitemap-associateinstitutes">An-Institute</label>
		<input type="checkbox" name="Parking" id="Parking" checked="true">
		<label for="Parking" class="sitemap-parking">Parkpl&auml;tze</label>
		<input type="checkbox" name="Mensen" id="Mensen" checked="true">
		<label for="Mensen" class="sitemap-canteens">Mensen &amp; Cafeterien</label>
		<input type="checkbox" name="Studentenwohnheime" id="Living" checked="true">
		<label for="Living" class="sitemap-living">Studentenwohnheime</label>
	</fieldset>
	<a href="#header" data-role="button" data-theme="a" data-rel="close">Schlie&szlig;en</a>
</div>
<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
	<a href="#nav-panel" data-role="button" data-icon="false" data-inline="true" class="menubutton">Menue</a>
	<a href="#campus" data-role="button" data-icon="false" data-iconpos="left" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
	<h1>Lagepl&auml;ne	<a href="#sitemaps-settings" class="settings" data-role="button" data-icon="gear"></a></h1>

</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
	<div data-role="campusmenu" data-store="up.mensa.default"></div>
	<div id="error-placeholder"></div>
	<div id="currentCampus"></div>
</div>