<meta name="title" content="Lagepläne" />
<meta name="settingsUrl" content="javascript:;" />

<div data-role="panel" class="ui-panel ui-panel-position-right ui-panel-display-overlay ui-body-b ui-panel-animate ui-panel-closed" style="background-color:#ededed;" data-position="right" data-display="overlay" id="sitemaps-settings" data-theme="b" data-dismissible="false">
	<div class="ui-panel-inner">
		<fieldset data-role="controlgroup" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
			<h3 class="blau">Folgende Orte anzeigen:</h3>
			<% _.each([ //name, ID, class, Label
				["Terminals", "Terminals", "sitemap-terminals", "Terminals"], 
				["Institute","Institute","sitemap-institutes","Institute"], 
				["An-Institute","AnInstitute","sitemap-associateinstitutes","An-Institute"],
				["Parking","Parking","sitemap-parking","Parkpl&auml;tze"],
				["Mensen","Mensen","sitemap-canteens","Mensen &amp; Cafeterien"],
				["Studentenwohnheime", "Living", "sitemap-living", "Studentenwohnheime"],
				["Sportplaetze", "Sport", "sitemap-sport", "Sportplätze"]
			], function(e) { %>
			<div class="ui-checkbox">
				<input type="checkbox" name="<%=e[0]%>" id="<%=e[1]%>" checked="true">
				<label for="<%=e[1]%>" class="<%=e[2]%> ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left"><%=e[3]%></label>
			</div>
			<% }); %>
		</fieldset>
		<a href="javascript:;" data-role="button" data-theme="a" data-rel="close" class="options-close ui-link ui-btn ui-btn-a ui-shadow ui-corner-all">Schlie&szlig;en</a>
	</div>
</div>
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" class="ui-content ui-body-c">
	<div data-role="campusmenu" data-store="up.mensa.default"></div>
	<div id="error-placeholder"></div>
	<div id="currentCampus"></div>
</div>