<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="#home" data-role="button" data-icon="false" data-iconpos="left" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back ui-btn">Back</a>
  <%  if(store.get('up.session.authenticated')){ %>
	<h1 class="loggedin">Studium </h1>
	<a href="#options" class="settings ui-btn" data-role="button" data-icon="false" title="logout" alt="logout">Logout</a>
    <%  } else { %> 
    <h1>Studium </h1>   
    <% } %> 
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
  <ul data-role="listview" data-inset="true" data-theme="c" id="main-navigation">
    <!--
    <li class="calendar">
      <a href="#calendar" data-role="button" data-transition="slidefade">
        <h2>Terminkalender</h2>
        <p>Terminkalender</p>
      </a>
    </li> -->

    <li class="lecturesdir">
      <a href="#lectures" data-role="button" data-transition="slidefade">
        <h2>Vorlesungsverzeichnis</h2>
        <p>Online Vorlesungsverzeichnis</p>
      </a>
    </li>


    <li class="grades">
      <a href="#grades" data-role="button" data-transition="slidefade">
        <h2>Meine Leistungen </h2>
        <p>PULS</p>

      </a>
    </li>

    <li class="moodle">
      <a href="#study/moodle" data-role="button" data-transition="slidefade">
        <h2>Moodle</h2>
        <p>Kurse und Materialien</p>
      </a>
    </li>
    <!--
    <li class="itservices">
      <a href="#itservices" data-role="button" data-transition="slidefade">
        <h2>IT-Services</h2>
        <p>IT-Services</p>
      </a>
    </li>
    -->
  </ul>
</div>
<!-- End Main - Navigation -->