<!-- Start Header -->
<div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="#nav-panel" data-role="button" data-icon="false" data-inline="true" class="menubutton">Menue</a>
    <a href="#campus" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
    <h1>Abfahrten</h1>
</div>
<!-- End Header -->
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">

    <div data-role="navbar">
        <ul>
            <li><a href="#transport">N&auml;chste Abfahrten</a></li>
            <li><a href="#transport2" class="ui-btn-active">Fahrt planen</a></li>
        </ul>
    </div>

    <div id="complexTransport">
        <!-- Fahrt eingeben -->
        <div id="fromStation2" data-role="navbar" class="buttons_pt">
            <ul>
                <li><p>VON:</p></li>
                <li><a href="#" class="ui-btn-active">G-see</a></li>
                <li><a href="#">Golm</a></li>
                <li><a href="#">Palais</a></li>
            </ul>
        </div>
        <div id="toStation2" data-role="navbar" class="buttons_pt route">
            <ul>
                <li><p>Nach:</p></li>
                <li><a href="#">G-see</a></li>
                <li><a href="#">Golm</a></li>
                <li><a href="#" class="ui-btn-active">Palais</a></li>
            </ul>
        </div>
        <div data-role="navbar" class="buttons_pt route">
            <ul>
                <li><p></p></li>
                <li>
                    <select name="flip-1" id="flip-1" data-role="slider">
                        <option value="off">Ab</option>
                        <option value="on">An</option>
                    </select>
                </li>
                <li>
                    <input name="transportationDate" id="transportationDate" type="date" value="Heute" data-role="datebox" data-options='{"mode":"calbox", "useFocus": true, "useButton": false}'>
                </li>
                <li>
                    <input name="transportationTime" id="transportationTime" type="date" value="Jetzt" data-role="datebox" data-options='{"mode": "timebox", "useFocus": true, "useButton": false }'>
                </li>
            </ul>
        </div>

        <div data-role="navbar" class="buttons_pt route submit-route">
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                    <input id="searchButton" type="submit" value="Suchen" class="submit-fahrt" data-theme="a"/>
                </li>
            </ul>
        </div>

        <div id="result">
            <!--  <div id="summary">
            <p>Fahrt von <span class='fromCampus'>Campus Griebnitzsee</span> nach</p>
            <p class='toCampus'>Campus Golm</p>
            <p class="arrivalMode">Abfahrt</p>
            <p class='when'>Heute, 10.02.2234,  11:15</p>
            </div> -->
            <div class="spaeter scrollbutton" >
                <input id="earlierButton" data-theme="a" type="submit" value="← Früher" />
            </div>

            <ul data-role="listview" data-inset="true" id="transport_rides"></ul>

            <div class="spaeter scrollbutton" >
                <input id="laterButton" type="submit" data-theme="a" value="Später →" />
            </div>
        </div>
        <!-- end #result -->
    </div> <!-- end #complexTransport -->
</div> <!-- end content -->