<meta name="title" content="Nächste Abfahrten" />
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
    <div data-role="navbar">
        <ul>
            <li><a href="#campus/transport/index" data-role="button" data-transition="none" class="ui-btn-active">N&auml;chste Abfahrten</a></li>
            <li><a href="#campus/transport/plan" data-role="button" data-transition="none">Fahrt planen</a></li>
        </ul>
    </div>
    <!-- Fahrt eingeben -->
    <div id="from-station-navbar" data-role="navbar" class="buttons_pt">
        <ul>
            <li><p>VON:</p></li>
            <li><a href="#" class="ui-btn-active">G-see</a></li>
            <li><a href="#">Golm</a></li>
            <li><a href="#">Palais</a></li>
        </ul>
    </div>
    <div id="search-results">
        <h3>Fahrten ab <span class="stationName">Griebnitzsee</span></h3><h3><span class="stationTime"></span></h3>
        <p style="font-weight:bold;"><span style="display:inline-block;width:10%;">Zeit</span> <span style="display:inline-block; width:18%;">Linie</span> <span>Ziel</span></p>

        <div id="transport-result-wrapper" data-role="content">
            <ul data-role="listview" data-inset="true" id="transport-list">

              <!-- template transport_listitem_view -->
            </ul>
            <div id="loadingSpinner"></div>
        </div>

        <div class="spaeter">
            <input id="later-button"type="submit" data-theme="a" value="Später" />
        </div>

    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-footer ui-footer-fixed">
        <p class="copyright">Alle Daten werden mit freundlicher Unterstützung der <a href="http://www.vbb.de/" target="_blank" rel="external">VBB GmbH</a> bereitgestellt. Alle Angaben ohne Gewähr.</p>
    </div>
	<!-- End Main Content -->
</div>