<li class="ui-li-static ui-body-inherit">
  <p style="margin-left:.3em;">
    <b class="blau" style="display:inline-block;width:10%;">
    <%= departure.get('time').substring(0, 5) %>  </b>
    <span style="display:inline-block; width:18%;"><%= departure.get('name') %></span>
    nach<b> <%= departure.get('direction') %></b>
  </p>
</li>