<li class="ui-li-static ui-body-inherit">
  <p>
    <span class="marker open"></span>
    <%= journey.get('departingTime').format('HH:mm') %>
    <%= journey.get('name') %>
    nach <%= journey.get('direction') %>
  </p>
</li>