<li class="ui-li-static ui-body-inherit">
  <p style="margin-left:.3em;">
    <b class="blau" style="display:inline-block;width:10%;">
    <%= journey.get('departingTime').format('HH:mm') %>  </b>
    <span style="display:inline-block; width:18%;">
    <%= journey.get('name') %></span>
    nach<b> <%= journey.get('direction') %></b>
  </p>
</li>