<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-chip
      *ngIf="isMobile && !noUserRights && (eventSource.length > 0)"
      slot="end"
      outline="true"
      class="linkItem"
      (click)="exportPrompt()"
    >
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Export</ion-label>
    </ion-chip>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.timetable.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!noUserRights && !isLoading && !error">
    <ion-segment class="ion-nowrap" mode="md" [value]="calMode">
      <ion-segment-button
        (click)="changeCalendarMode('month')"
        [value]="'month'"
      >
        {{ "page.timetable.month" | translate }}
      </ion-segment-button>

      <ion-segment-button (click)="changeCalendarMode('week')" [value]="'week'">
        {{ "page.timetable.week" | translate }}
      </ion-segment-button>

      <ion-segment-button (click)="changeCalendarMode('day')" [value]="'day'">
        {{ "page.timetable.day" | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content
  [ngClass]="modalOpen ? 'modalOpened ion-no-padding' : 'modalClosed ion-no-padding'"
>
  <div align="center" *ngIf="isLoading && !noUserRights" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="noUserRights">
    <app-hint-box
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.grades-notSupported-hint"
    ></app-hint-box>
  </div>

  <app-hint-box
    *ngIf="error"
    hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="alert.httpErrorStatus.generic"
  ></app-hint-box>

  <ion-progress-bar
    *ngIf="!noUserRights && !isLoading && !exportFinished"
    [value]="exportedEvents / eventSource.length"
  ></ion-progress-bar>

  <span *ngIf="!noUserRights && !isLoading && !error">
    <ion-grid>
      <div align="center">
        <ion-row nowrap>
          <ion-col size="2">
            <ion-button mode="md" fill="clear" (click)="swipePrevious()"
              ><ion-icon slot="icon-only" name="caret-back"></ion-icon
            ></ion-button>
          </ion-col>
          <ion-col size="8">
            <h6 id="title">{{ currentTitle }}</h6>
          </ion-col>
          <ion-col size="2">
            <ion-button mode="md" fill="clear" (click)="swipeNext()"
              ><ion-icon slot="icon-only" name="caret-forward"></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <!-- custom template for event in weekview -->
    <ng-template #templateWeekViewEvent let-displayEvent="displayEvent">
      <div
        *ngIf="displayEvent && displayEvent.event && displayEvent.event.title"
        class="calendar-event-inner"
        [style]="getColor(displayEvent)"
      >
        <span *ngIf="!isMobile" class="eventTitle"
          >{{ displayEvent.event.title }}</span
        >
        <span *ngIf="isMobile" class="eventTitle"
          >{{ displayEvent.event.title.charAt(0) }}</span
        >
      </div>
    </ng-template>

    <!-- custom template for event in dayview -->
    <ng-template #templateDayViewEvent let-displayEvent="displayEvent">
      <div
        *ngIf="displayEvent && displayEvent.event && displayEvent.event.title"
        class="calendar-event-inner"
        [style]="getColor(displayEvent)"
      >
        <span class="eventTitle">{{displayEvent.event.title}}</span>
      </div>
    </ng-template>

    <calendar
      class="calendar"
      [eventSource]="eventSource"
      [calendarMode]="calMode"
      [currentDate]="calendarOptions.currentDate"
      [locale]="calendarOptions.locale"
      [startingDayWeek]="calendarOptions.startingDayWeek"
      [startingDayMonth]="calendarOptions.startingDayMonth"
      [startHour]="calendarOptions.startHour"
      [endHour]="calendarOptions.endHour"
      [step]="calendarOptions.step"
      [timeInterval]="calendarOptions.timeInterval"
      [dateFormatter]="calendarOptions.dateFormatter"
      [showEventDetail]="calendarOptions.showEventDetail"
      [autoSelect]="calendarOptions.autoSelect"
      (onTimeSelected)="timeSelected($event)"
      (onEventSelected)="eventSelected($event)"
      (onTitleChanged)="titleChanged($event)"
      [dayviewNormalEventTemplate]="templateDayViewEvent"
      [weekviewNormalEventTemplate]="templateWeekViewEvent"
    >
    </calendar>
  </span>
</ion-content>
