<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.emergency.title" | translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'page.emergency.placeholder.search' | translate"
    (input)="filterItems(query)">
  </ion-searchbar>

</ion-header>

<ion-content (ionScroll)="onScrollListener()">
  <!-- list of emergencyCalls -->
  <ion-list>
    <!-- template for emergencyCalls -->
    <ion-card *ngFor="let emergencyCall of displayedList">

      <ion-card-header left color="primary">
        <ion-icon name="person" padding-right></ion-icon>
        {{emergencyCall.name}}
      </ion-card-header>

      <ion-card-content right>
        <div *ngIf="emergencyCall.description">
          {{emergencyCall.description}}
        </div>

        <div>
          <ion-icon name="call" padding-right></ion-icon>
          <a href="tel: {{emergencyCall.contact.telephone}}">{{emergencyCall.contact.telephone}}</a>
        </div>

        <div *ngIf="emergencyCall.contact.mail">
          <ion-icon name="mail" padding-right></ion-icon>
          <a href="mailto: {{emergencyCall.contact.mail}}">{{emergencyCall.contact.mail}}</a>
        </div>

        <div *ngIf="emergencyCall.address">
          <p *ngIf="emergencyCall.address.postal">
            <b>{{"page.emergency.item.postal" | translate}}</b>
            {{emergencyCall.address.postal}}
          </p>
          <p *ngIf="emergencyCall.address.street">
            <b>{{"page.emergency.item.street" | translate}}</b>
            {{emergencyCall.address.street}}
          </p>
        </div>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>