<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.emergency.title" | translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'page.emergency.placeholder.search' | translate"
    (input)="filterItems(query)"
    debounce="750">
  </ion-searchbar>

</ion-header>

<ion-content (ionScroll)="onScrollListener()">
  <!-- list of emergencyCalls -->
  <ion-list>
    <ion-item-sliding *ngFor="let emergencyCall of displayedList">
      <!-- template for emergencyCalls -->
      <ion-item (click)="expand(emergencyCall)">
        <!--ion-avatar item-start>
            <ion-icon name="person" padding-right></ion-icon>
        </ion-avatar-->
        <h2>{{emergencyCall.name}}</h2>
        <p text-wrap *ngIf="emergencyCall.description">{{emergencyCall.description}}</p>

        <expandable [expanded]="emergencyCall.expanded">
            <p text-wrap *ngIf="emergencyCall.address && emergencyCall.address.street">{{emergencyCall.address.street}}</p>
            <p text-wrap *ngIf="emergencyCall.address && emergencyCall.address.postal">{{emergencyCall.address.postal}}</p>
        </expandable>

        <button ion-button clear icon-only item-end *ngIf="emergencyCall.address">
          <ion-icon name="arrow-dropdown" *ngIf="!emergencyCall.expanded"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="emergencyCall.expanded"></ion-icon>
        </button>

      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary" *ngIf="emergencyCall.contact.mail">
            <ion-icon name="mail"></ion-icon>
            <a href="mailto: {{emergencyCall.contact.mail}}">E-Mail</a>
          </button>
        <button ion-button color="secondary">
          <ion-icon name="call"></ion-icon>
          <a href="tel: {{emergencyCall.contact.telephone}}">{{emergencyCall.contact.telephone}}</a>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>