<meta name="title" content="Leistungsübersicht" />

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">

 	<div id="loadingSpinner"></div>
	<ul data-role="listview">
		<% if (data.length > 0) { %>
		<li>
			<a href="#">Hier könnte Ihre Option stehen</a>
		</li>
		<% } %>
	</ul>

</div> <!-- ende content -->