<div data-role="tabs">
    <div data-role="navbar">

        <ul>
            <% _.each(data.achievements.field, function(acm, index) { %>
            <li><a href="#<%= acm.id %>"
                    <% if (index === 0) { %>
                    class="ui-btn-active"
                    <% } %>
                ><%= acm.fieldName %></a></li>
            <% }); %>
        </ul>

        <% _.each(data.achievements.field, function(acm) { %>
        <div id="<%= acm.id %>">
            <p>Platz, wir brauchen Platz</p>
            <table class="borders full-width">
                <tbody>
                <% _.each(acm.module, function(module) { %>
                    <% print(moduleTemplate({module: module, moduleTemplate: moduleTemplate})); %>
                <% }); %>
                </tbody>
            </table>
        </div>
        <% }); %>

    </div>

    <style scoped>
        .float-left {
            float: left;
            margin-right: 20px;
        }
        .float-right {
            float: right;
            margin-left: 20px;
        }
        .no-icon {
            padding-right: 24px;
        }
        .ui-body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .full-width {
            width: 100%;
        }
        .extra-space {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .lp-progress {
            float: right;
            margin-left: 20px;
            width: 50px;
            text-align: right;
        }
        .header-mark {
            float: right;
            margin-left: 20px;
        }
        .ra {
            text-align: right;
        }
        .la {
            text-align: left;
        }
        .ca {
            text-align: center;
        }
        .lb {
            border-left: 1px solid black;
        }
        .rb {
            border-right: 1px solid black;
        }
        .tb {
            border-top: 1px solid black;
        }
        .bb {
            border-bottom: 1px solid black;
        }

        .borders {
            border-collapse: collapse;
        }
        .borders tr:first-child td,
        .borders tr:first-child th {
            border-top: 1px solid black;
        }
        .borders tr:last-child td,
        .borders tr:last-child th {
            border-bottom: 1px solid black;
        }
        .borders td:first-child,
        .borders th:first-child {
            border-left: 1px solid black;
        }
        .borders td:last-child,
        .borders th:last-child {
            border-right: 1px solid black;
        }
        /*table.borders {
            width: 100%;
        }
        .borders tr {
            display: table;
            width: 100%;
        }*/

        .grade {
            text-align: center;
        }
        .lp {
            text-align: center;
        }
        .name {
            text-align: left;
            /* display: table-row; */
        }

        .level-0-module {
            background: rgb(233,233,233);
            border: 1px solid black;
        }
    </style>
</div>