<meta name="title" content="Leistungsübersicht" />

<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c" id="gradesselection">

 	<div id="loadingSpinner"></div>
	<div id="studentDetails">
		<% if (data.length > 0) { %>
		<div>
			<p>Bitte wähle einen Abschluss aus, zu dem die Leistungen angezeigt werden sollen.</p>
		</div>

		<ul data-role="listview">
			<% _.each(data, function(model) { %>
			<li>
				<a href="#grades/view/<%= model.Semester %>/<%= model.MtkNr %>/<%= model.StgNr %>">
					<%= model.AbLtxt %>
				</a>
			</li>
			<% }); %>
		</ul>
		<% } %>
	</div>

</div> <!-- ende content -->