<ul data-role="listview" data-inset="true" data-theme="c" data-filter="true" data-filter-placeholder="Filterbegriff eingeben...">
	<% _.each(grades, function(model) { %>
	<li>
		<div class="grades-li-static">
			<% function printIfExists(prefix, data, alternative) {
				print(prefix);

				if (data) {
					print(data);
				} else if (alternative) {
					print(alternative);
				}
			} %>

			<div class="grades-name wordwrap"><%= model.name %></div>
			<div class="grades-li-divider">
				<!--<div class="grades-data grades-lp"><% printIfExists("LP: ", model.lp, "-"); %></div> -->
				<div class="grades-data grades-lp"><% if (model.status) { print(model.status); } %></div>
				<div class="grades-data grades-grade"><% printIfExists("Note: ", model.grade, "-") %></div>
				<!--<div class="grades-data grades-status"><% if (model.status) { print(model.status); } %></div>-->
			</div>
			<div style="clear: both;"></div>
		</div>
	</li>
	<% }); %>
	<% if (!grades || grades.length === 0) { %>
	<div>
	<br />
	<img src="img/up/hinweis.png" class="alignleft">
	<p class="blau" style="margin-left:55px;">Es konnten keine Leistungen gefunden werden. Vielleicht sind in PULS keine Noten eingetragen?</p>
	<div style="clear: both;"></div>
</div>
	<% } %>
</ul>