<div data-role="tabs">
    <div data-role="navbar">

        <ul class="grades-tabs">
            <% _.each(data.achievements.field, function(acm, index) { %>
            <li><a href="#<%= acm.id %>"
                    <% if (index === 0) { %>
                    class="ui-btn-active"
                    <% } %>
                ><%= acm.fieldName %></a></li>
            <% }); %>
        </ul>

        <% _.each(data.achievements.field, function(acm) { %>
        <div id="<%= acm.id %>" class="extra-space">
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Note</th>
                        <th>LP</th>
                    </tr>
                </thead>
                <tbody>
                <% _.each(acm.module, function(module) { %>
                    <% print(moduleTemplate({module: module, moduleTemplate: moduleTemplate})); %>
                <% }); %>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% }); %>

    </div>

    <style scoped>
        .extra-space {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .grades-table {
            border-collapse: collapse;
            width: 100%;
            background: #f2f2f2;
        }

        .grade {
            text-align: center;
        }
        .lp {
            text-align: center;
        }
        .name {
            text-align: left;
        }

        .grades-table thead tr {
            color: white;
            background-color: #3a3a3a;
        }

        .grades-table tfoot td {
            padding-top: 10px;
        }

        tr.module-pre-header td {
            padding-top: 10px;
        }

        tr.module-level-0 th:first-child {
            padding-left: 0px;
        }

        tr.module-level-1 th:first-child {
            padding-left: 10px;
        }

        tr.module-level-2 th:first-child {
            padding-left: 20px;
        }

        /*tr.module-content.module-level-1:nth-child(odd) {
            background-color: rgb(207, 218, 227);
        }
        tr.module-content.module-level-1:nth-child(even) {
            background-color: rgb(207, 218, 227);
        }*/

        tr.module-header th.grade,
        tr.module-header th.lp {
            background: white;
            border: 1px solid #adadad;
        }

        tr.module-content td {
            background: white;
            border: 1px solid #adadad;
        }
    </style>
</div>