<tr class="module-pre module-level-<%= module.level %>">
    <td colspan="5"></td>
</tr>

<tr class="module-header module-level-<%= module.level %>">
    <th></th>
    <%
        var lp = module.actualCreditPoints;
        if (module.targetCreditPoints)
            lp += "/" + module.targetCreditPoints;
    %>
    <th class="name"><%= module.examDesc %></th>
    <th class="grade"><%= module.grade %></th>
    <th class="lp"><%= lp %></th>
    <th></th>
</tr>

<% _.each(module.examination.graded, function(graded) { %>
<tr class="module-content module-level-<%= module.level %>">
    <td></td>
    <td class="name">
        <span>
            <% if (graded.courseType && graded.courseName) { %>
                <%= graded.courseType %>: <%= graded.courseName %>
            <% } else if (graded.additionT) { %>
                <%= graded.additionT %>
            <% } else if (graded.desc) { %>
                <%= graded.desc %>
            <% } %>
        </span>

        <% if (graded.additionA) { %>
            <span class="name-additionA"><%= graded.additionA %></span>
        <% } %>
    </td>
    <td class="grade"><%= graded.grade %></td>
    <td class="lp"><%= graded.creditPoints %></td>
    <td></td>
</tr>
<% }); %>

<% _.each(module.module, function(module) { %>
    <% print(moduleTemplate({module: module, moduleTemplate: moduleTemplate})); %>
<% }); %>

<tr class="module-post module-level-<%= module.level %>">
    <td colspan="5"></td>
</tr>
