<div data-role="tabs" class="tabs-content">
    <div data-role="navbar">
        <ul class="tabs-content-links">
            <% _.each(locations, function(location) { %>
            <li><a href="#<%= location.id %>"><%= location.name %></a></li>
            <% }); %>
        </ul>
    </div>

    <div class="before-content"></div>

    <% _.each(locations, function(location) { %>
    <div id="<%= location.id %>"></div>
    <% }); %>
</div>