<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="closeModal()" fill="clear">
      <ion-icon style="color: black; font-size: x-large;" name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>{{ feature.properties.Name }} ({{ feature.properties.campus }})</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ng-template #descriptionItemsTemplate>
    <ion-list>
      <ion-item *ngFor="let item of descriptionItems">
        {{ item }}
      </ion-item>
    </ion-list>
  </ng-template>

  <ng-template #multipleDescriptionItemsTemplate>
    {{ 'page.campus-map.here_is_multiple' | translate }}:
    <ng-container [ngTemplateOutlet]="descriptionItemsTemplate"></ng-container>
  </ng-template>

  <ng-template #singleDescriptionItemTemplate>
    {{ 'page.campus-map.here_is_single' | translate }}:
    <ng-container [ngTemplateOutlet]="descriptionItemsTemplate"></ng-container>
  </ng-template>

  <ng-template #noDescriptionItemsTemplate>
    {{ 'page.campus-map.no_description' | translate }}
    <!-- TODO: would be nice to show some kind of description here -->
  </ng-template>

  <div [ngSwitch]="descriptionItems.length">
    <!-- if there is no description -->
    <ng-container *ngSwitchCase="0">
      <ng-container [ngTemplateOutlet]="noDescriptionItemsTemplate"></ng-container>
    </ng-container>
    <!-- if there is only one description item -->
    <ng-container *ngSwitchCase="1">
      <ng-container [ngTemplateOutlet]="singleDescriptionItemTemplate"></ng-container>
    </ng-container>
    <!-- if there are multiple description items -->
    <ng-container *ngSwitchDefault>
      <ng-container [ngTemplateOutlet]="multipleDescriptionItemsTemplate"></ng-container>
    </ng-container>
  </div>

</ion-content>
