<meta name="title" content="Reflect.UP" />

<div data-role="content" class="ui-content">

	<div class="reflectup-message reflectup-app" style="display: none">
		<a href="#" data-role="button">Reflect.UP öffnen</a>
	</div>

	<div class="reflectup-message reflectup-appstore" style="display: none">
		<% 	if (device.platform == "Android"){ %>
		<a href="<%= model.get('androidStoreUrl') %>" data-role="button">Reflect.UP installieren</a>
		<% 	} else if(device.platform == "iOS") { %>
		<a href="<%= model.get('iosStoreUrl') %>" data-role="button">Reflect.UP installieren</a>
		<%	} %>
	</div>

	<div class="reflectup-message reflectup-error" style="display: none">
		<p>Konnte Reflect.UP nicht öffnen.</p>
	</div>

</div>