<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.home.title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- tiles -->
  <ion-list class="row shortcutlist">
    <!-- list of shortcuts -->
    <div *ngFor="let moduleName of objectKey(modules)"
         (click)="openPage(moduleName)">

      <ion-item *ngIf="modules[moduleName].selected">
        <ion-icon [name]="modules[moduleName].icon"></ion-icon>
        {{ modules[moduleName].i18nKey | translate }}
      </ion-item>
    </div>
  </ion-list>

  <!-- menu with all available modules -->
  <ion-card scrollY="true"
            id="drawer"
            style="width:100%">
    <ion-list>
      <ion-item *ngFor="let moduleName of objectKey(modules)">

        <!-- title with icon -->
        <span (click)="openPage(moduleName)">
          <ion-icon [name]="modules[moduleName].icon"></ion-icon>
          {{ modules[moduleName].i18nKey | translate }}
        </span>

        <!-- favourite-state icon -->
        <ion-icon [name]="modules[moduleName].selected ? icon_selected : icon_not_selected"
                  (click)="toggleSelectedState(moduleName)">
        </ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
