page-home {

    /*arrange tiles */
    .shortcutlist {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        border-bottom: 1px solid #dedede;
        padding-bottom: 5px;

        #star-outline {
            display: none;

        }

        #star {
            background-color:color($colors, secondary);
            color:color($colors, primary);
        }

        .item-block {
            text-align: center;
            flex:1 1 80px;
            border:2px solid #fff;
            height: 80px;
            width:80px;
            padding: 0;

            .item-inner {
                border:none;
                padding: 0;

                .label {
                    margin:0;
                    text-align:center;
                    white-space: normal;
                    font-size:.8em;

                    .icon {
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 2.4em;
                        margin-bottom: 5px;
                    }
                }
            }
         }
    }

    /*headings*/

    h2 {
        font-size: .8em;
        color: #014260;
        padding-left: 5px;
        margin-top: 15px !important;
        margin-bottom: 2px;
    }

    #drawer {
        margin-left:5px;

        .item-block {
            padding-left:0;

            .label {
                color:color($colors, primary);
            }

            .icon {
                color:color($colors, primary)
            }
        }
    }

    .hyphen {
        hyphens: auto!important;
    }

    .card-md, .card, .card-ios {
        box-shadow: none;
        -webkit-box-shadow:none;
    
    }
    
}