.partner {
  background-color: var(--ion-color-custom-partner);
}

.removeFavButton {
  color: var(--ion-color-primary);
}

ion-item .h2 {
  background: var(--ion-color-light-shade);
}

.notUnderlined {
  text-decoration: none;
  text-transform: capitalize;
}

p {
  font-size: small;
}

// ion-label {
//   margin-bottom: 0;
// }
