.partner {
  background-color: #b0c4de;
}

.removeFavButton {
  color: var(--ion-color-primary);
}

ion-item .h2 {
  background: #d3d3d3;
}

.notUnderlined {
  text-decoration: none;
  text-transform: capitalize;
}

p {
  font-size: small;
}

ion-label {
  margin-bottom: 0;
}
