<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!onlyDisplayFavorites && !(platform.is('ios') || platform.is('android'))"
      (click)="loadData(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.practice.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="md"
      [(ngModel)]="query"
      [placeholder]="'placeholder.search' | translate"
      (ionChange)="filterItems(query)"
      debounce="750"
    >
    </ion-searchbar>
    <ion-button
      mode="md"
      class="filterFavoritesButton"
      fill="clear"
      slot="end"
      [disabled]="noFavoritesSet"
      (click)="toggleDisplayFavMode()"
    >
      <ion-icon
        [name]="onlyDisplayFavorites ? 'star' : 'star-outline'"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-no-padding"
  [scrollEvents]="true"
  (ionScrollStart)="onScrollListener()"
>
  <ion-refresher
    *ngIf="!onlyDisplayFavorites && (platform.is('ios') || platform.is('android'))"
    slot="fixed"
    (ionRefresh)="loadData($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <p *ngIf="!isLoaded" style="text-align: center" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </p>

  <div *ngIf="isLoaded && displayedList.length === 0">
    <app-hint-box
      *ngIf="error === null"
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="hints.text.noResults-hint"
    ></app-hint-box>
    <app-hint-box
      *ngIf="error"
      hintTypeI18nKey="hints.type.hint"
      hintTextI18nKey="alert.httpErrorStatus.generic"
    ></app-hint-box>
  </div>

  <!-- search -->
  <div *ngIf="isLoaded">
    <ion-list>
      <div *ngFor="let ADS of displayedList; let i = index">
        <app-custom-card
          *ngIf="onlyDisplayFavorites ? ADS.isfavorite === true : ADS"
          [headerTitle]="getJobCategory(ADS.art)"
          [headerNote]="ADS.field ? ADS.field : null"
          [headerIcon]="ADS.isfavorite ? 'star' : 'star-outline'"
          (headerIconCallback)="toggleFavorite(ADS)"
          [cardTitle]="ADS.title ? ADS.title : null"
          [cardContent]="ADS.firm && ADS.firm !== '' ? ADS.firm : null"
          [cardNote]="ADS.date | date:'dd.MM.yy'"
          [footerFirstString]="ADS.famfriendly && ADS.famfriendly === '1' ? 'Familienfreundlich' : null"
          [footerSecondString]="ADS.foreign && ADS.foreign === '1' ? 'Ausland' : null"
          [footerThirdString]="ADS.language ? ADS.language : null"
          [footerFirstIcon]="ADS.famfriendly && ADS.famfriendly === '1' ? 'happy' : null"
          [footerSecondIcon]="ADS.foreign && ADS.foreign === '1' ? 'airplane' : null"
          [footerThirdIcon]="ADS.language ? 'text' : null"
          [url]="getJobPostingURL(ADS.file)"
        ></app-custom-card>
      </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
