.partner {
    background-color: lightsteelblue;
}

h2.favorite {
    font-size: 1em;
    color: #014260;
    padding-left: 10px;
    margin-top: 15px !important;
    margin-bottom: 2px;
}

.favList {
    margin: 0px!important;
    padding: 0px!important;
}

.removeFavButton {
    color: var(--ion-color-primary);
}

ion-item .h2 {
    background: lightgrey;
}

.notUnderlined {
    text-transform: capitalize;
    text-decoration: none;
}