<ul data-role="listview"  data-inset="true" data-theme="c">
    <li data-role="list-divider" class="calendar-date"><%= moment().format('LLLL') %></li>
    
    <% _.each(CourseSlots.models, function(courseSlot){
            if (courseSlot.get('collection').length != 0){
                var courses = courseSlot.get('collection');
    %>
    <li data-role="list-divider" class="up-divider"><%= moment(courseSlot.get('timeSlotBegin'), 'HH:mm').format('HH:mm') %> - <%= moment(courseSlot.get('timeSlotEnd'), 'HH:mm').format('HH:mm') %></li>
    <%
            _.each(courses.models, function(course){
    %>
    <li data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" id="<%= course.cid %>">
        <h2>
        	<span class="smaller italic">
            <%= moment(course.get('timeSlotEvent').get('startTime'), 'HH:mm').format('HH:mm') %> - <%=moment(course.get('timeSlotEvent').get('endTime'), 'HH:mm').format('HH:mm') %>
            </span>
            <br />
            <em><%= course.get('courseName') %> (<%= course.get('courseType') %>)</em>
            <br />
            <% _.each(course.get('timeSlotEvent').get('lecturers'), function(lecturer){ %>
            <%= (lecturer.lecturerTitle) ? lecturer.lecturerTitle : '' %>
            <%= (lecturer.lecturerFirstname) ? lecturer.lecturerFirstname : '' %>
            <%= (lecturer.lecturerLastname) ? lecturer.lecturerLastname : '' %>
            <% }); %>
            <br /><span>Ort:</span>&nbsp;<%= course.get('timeSlotEvent').get('location') %>&nbsp; | <span>Gebäude:</span>&nbsp;<%= course.get('timeSlotEvent').get('building') %>&nbsp; | <span>Raum:</span>&nbsp;<%= course.get('timeSlotEvent').get('room') %></span>
        </h2>
        <p>
            Zeitspanne:<%= course.get('timeSlotEvent').get('startDate') %> - <%= course.get('timeSlotEvent').get('endDate') %><br />
            Rhythmus: <%= course.get('timeSlotEvent').get('rhythm') %><br />
            Gruppe: <%= course.get('timeSlotEvent').get('group') %><br />
        </p>
    </li>
    <%
            });
            }else{
    %>
    <li data-role="list-divider" class="empty"><%= moment(courseSlot.get('timeSlotBegin'), 'HH:mm').format('HH:mm') %> - <%= moment(courseSlot.get('timeSlotEnd'), 'HH:mm').format('HH:mm') %></li>
    <%
            }
        }); %>
</ul>