<div>
	<p><%= status.success %> von <%= status.all %> Kalendereinträgen erfolgreich gespeichert. Es sind <%= status.error %> Fehler aufgetreten.</p>
	<% if (status.syncCompleted) { %>
	
	
	<p class="finished">Export abgeschlossen</p>
	<% } %>
</div>