<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button *ngIf="!(platform.is('ios') || platform.is('android'))" (click)="refreshRoom()" slot="end" fill="clear">
      <ion-icon style="font-size: x-large;" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.free-rooms.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-campus-tab (campusChanged)="switchLocation($event)"></app-campus-tab>
  </ion-toolbar>
</ion-header>

<ion-content no-padding (swipe)="campusTabComponent.handleSwipeEvent($event)">

  <ion-refresher *ngIf="platform.is('ios') || platform.is('android')" slot="fixed" (ionRefresh)="refreshRoom($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <ion-item class="timePicker">
    <ion-label>{{ "page.free-rooms.time" | translate }}</ion-label>
    <ion-select [(ngModel)]="select_timeslot" (ionChange)="changeTimeSlot()" okText="{{ 'button.ok' | translate }}" cancelText="{{ 'button.cancel'  | translate }}">
      <ion-select-option *ngFor="let slot of time_slots; let i = index" [value]="slot.value">{{timeLabels[i]}} {{ "words.clock" | translate }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ng-template #housesFoundTemplate>
    <ion-list>
      <div *ngFor="let house of housesFound">
        <ion-item (click)="expand(house.lbl)">
          <ion-label no-margin text-wrap>
            <h2>
              <b>{{ "words.house" | translate }} {{house.lbl}}</b>
              <ion-badge color="primary">
                {{house.rooms.length}}
                <span *ngIf="house.rooms.length == 1">{{ "words.room" | translate }}</span>
                <span *ngIf="house.rooms.length > 1">{{ "words.rooms" | translate }}</span>
              </ion-badge>
            </h2>
          </ion-label>
          <ion-icon [name]="!house.expanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
        </ion-item>
        <div *ngIf="house.expanded">
          <ion-item margin-left *ngFor="let room of house.rooms">
            <ion-label>
              {{room.lbl}}
            </ion-label>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ng-template>

  <p *ngIf="!isLoaded || (housesFound.length == 0 && !no_timeslot)" style="text-align: center">
    <ion-spinner name="dots"></ion-spinner>
  </p>

  <ng-template #noHousesFoundTemplate>
    <app-hint-box hintTextI18nKey="page.free-rooms.no_rooms_hintText" hintTypeI18nKey="hints.type.hint"></app-hint-box>
  </ng-template>

  <ng-container *ngIf="no_timeslot;
                then noHousesFoundTemplate; else housesFoundTemplate"></ng-container>
</ion-content>
