<ion-header>
  <ion-toolbar>
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="refreshRoom()"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.free-rooms.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <app-campus-tab (campusChanged)="switchLocation($event)"></app-campus-tab>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item mode="md" lines="none" class="timePicker">
      <ion-label>{{ "page.free-rooms.time" | translate }}</ion-label>
      <ion-select
        [(ngModel)]="select_timeslot"
        (ionChange)="changeTimeSlot()"
        okText="{{ 'button.ok' | translate }}"
        cancelText="{{ 'button.cancel'  | translate }}"
      >
        <ion-select-option
          *ngFor="let slot of time_slots; let i = index"
          [value]="slot.value"
          >{{timeLabels[i]}} {{ "words.clock" | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="refreshRoom($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <ng-template #housesFoundTemplate>
    <ion-list>
      <div *ngFor="let house of housesFound">
        <ion-item mode="md" button (click)="expand(house.lbl)">
          <ion-label class="ion-no-margin ion-text-wrap">
            <h2>
              <b>{{ "words.house" | translate }} {{house.lbl}}</b>
              <ion-badge mode="ios" color="primary">
                {{house.rooms.length}}
                <span *ngIf="house.rooms.length == 1"
                  >{{ "words.room" | translate }}</span
                >
                <span *ngIf="house.rooms.length > 1"
                  >{{ "words.rooms" | translate }}</span
                >
              </ion-badge>
            </h2>
          </ion-label>
          <ion-icon
            [name]="!house.expanded ? 'caret-forward' : 'caret-down'"
            slot="end"
          ></ion-icon>
        </ion-item>
        <div *ngIf="house.expanded">
          <ion-item mode="md" margin-left *ngFor="let room of house.rooms">
            <ion-label class="ion-padding-end"> {{room.lbl}} </ion-label>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ng-template>

  <p *ngIf="!isLoaded" style="text-align: center">
    <ion-spinner name="dots"></ion-spinner>
  </p>

  <ng-template #noHousesFoundTemplate>
    <app-hint-box
      *ngIf="!error"
      hintTextI18nKey="page.free-rooms.no_rooms_hintText"
      hintTypeI18nKey="hints.type.hint"
    ></app-hint-box>
    <app-network-error-hint *ngIf="error"></app-network-error-hint>
  </ng-template>

  <ng-container
    *ngIf="no_timeslot;
                then noHousesFoundTemplate; else housesFoundTemplate"
  ></ng-container>
</ion-content>
