
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.settings.title" | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <div *ngFor="let setting of settings">
      <ion-item *ngIf="getSettingType(setting) == 'boolean'">
        <ion-label>{{ "page.settings.setting." + setting.key + ".lbl" | translate }}</ion-label>
        <ion-toggle checked="{{setting.value}}" (click)="changeBoolSetting(setting)"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="getSettingType(setting) != 'boolean'" (click)="openPrompt(setting)">
        {{ "page.settings.setting." + setting.key + ".lbl" | translate }}
      </ion-item>
    </div>

  </ion-list>

</ion-content>
