<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
		<title>UP.App-Mensa</title>
		
        <link rel="stylesheet" type="text/css" href="css/up-theme.min.css" />
        <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" href="js/jquery.mobile.structure-1.4.0.min.css" />
        <link rel="stylesheet" type="text/css" href="js/jqm-datebox.min.css" />
        <link rel="stylesheet" type="text/css" href="css/up-style.css" />
		<script type="text/javascript" src="phonegap.js"></script>
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/jquery.mobile-1.4.0.min.js"></script>
        <script src="js/jqm-datebox.core.min.js"></script>
        <script src="js/jqm-datebox.mode.calbox.min.js"></script>
        <script src="js/jquery.mobile.datebox.i18n.en_US.utf8.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/q.min.js"></script>
		<script src="js/mensa-logic.js"></script>
		
		<script type="text/html" id="meal-template">
            <% _.each(meals, function(meal) { %>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    <img src="<%= meal.ingredients[0] %>" /><%= meal.title %><br />
                    <span><%= meal.description %></span>
                </h3>
                <p>
                    [3] mit Antioxidationsmitteln <br />
                    Studierende: <%= meal.prices.students %> <br />
                    Bedienstete: <%= meal.prices.staff %> <br />
                    Gäste: <%= meal.prices.guests %>
                </p>
            </div>
            <% }); %>
        </script>
    </head>
    <body>
    	<!-- Start Main Page -->
    	<div data-role="page" id="mensa">
	    	<!-- Start Header -->
			<div data-role="header" data-position="fixed">
			<a href="#nav-panel" data-role="button" data-icon="false" data-inline="true" class="menubutton">Menue</a>
			    <a href="around.html" rel="external" data-role="button" data-icon="false" data-inline="true" data-transition="slidefade" data-direction="reverse" class="back">Back</a>
			    <h1>Mensen &amp; Speisepläne</h1>
			</div>
			<!-- End Header -->
		   <!-- Start Main - Navigation -->
		   <div data-role="content" data-theme="c">
                <div data-role="navbar">
                    <ul>
                        <li><a href="mensa-griebnitzsee.html" class="ui-btn-active">Griebnitzsee</a></li>
                        <li><a href="mensa-palais.html">Neues Palais</a></li>
                        <li><a href="mensa-golm.html">Golm</a></li>
                    </ul>
                </div>
		       <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <input name="mydate" id="mydate" type="date" value="Heute" data-role="datebox" data-options='{"mode": "calbox"}'>
                    </div>
                    <div class="ui-block-b">
                        <input type="checkbox" name="checkbox-1" id="checkbox-0" class="custom" data-theme="a"/>
                        <label for="checkbox-0" class="showfirst" >Zuerst anzeigen</label>  
                    </div>
                </div><!-- /grid-a /2 spalten -->
				<div data-role="collapsible-set" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" class="speiseplan" id="todaysMenu">
				</div>
			</div>
		</div>
		<!-- End Main - Navigation -->
    </body>
</html>
