<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
        <link rel="stylesheet" href="css/up-theme.min.css" />
        <script src="js/underscore-min.js"></script>
        <script src="js/q.min.js"></script>
        <script src="js/xml2json.min.js"></script>
        <script src="js/library-logic.js"></script>
        <script type="text/template" id="results-template">
            <h1>Results</h1>
            <ul data-role="listview" data-inset="true">
                <% _.each(rc, function(entry) { %>
                <li>
                    <a href="#">
                        <h2><%= entry.title %></h2>
                        <p>t</p>
                    </a>
                </li>
                <% }); %>
            </ul>
        </script>
        <title>UP.App-Suche</title>
    </head>
    <body>
    	<!-- Start Main Page -->
    	<div data-role="page" id="search">
	    	<!-- Start Header -->
			<div data-role="header">
			    <a href="#homePanel" data-icon="home" class="ui-btn-left">Menu</a>
			    <a href="index.html" data-icon="back" class="ui-btn-right">Zurück</a>
			    <span class="ui-title">Suche</span>
				<div data-role="navbar">
		   		 	<ul>
		        		<li><a href="#" class="ui-btn-active">Bibliothek</a></li>
		        		<li><a href="#">Personen</a></li>
		        		<li><a href="#">Orte</a></li>
		    		</ul>
				</div>
			</div>
			<!-- End Header -->
		    <!-- Start Main - Navigation -->
		    <div data-role="content">
               <form method="POST" id="query-form"> 
                    <!-- <label for="query">Search:</label> -->
                    <input type="search" name="query" id="query" placeholder="Suchbegriff eingeben..." />
                    <input type="submit" value="Submit" />
                </form>
				<div id="search-results">
				</div>
				
				<!-- End Main Content -->
			</div>
		</div>		
    </body>
</html>
