
<ion-header>

  <ion-navbar>
    <ion-title>{{ADS.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 padding-left padding-top>{{ ADS.title }}</h5>
  <ion-list>
    <ion-item text-wrap *ngIf="ADS.firm != ''; else unknown_filed">
      <h2>{{ "page.practice.item.firm" | translate }}</h2>
      <p>{{ADS.firm}}</p>
    </ion-item>
    <ion-item text-wrap *ngIf="ADS.field != ''; else unknown_filed">
      <h2>{{ "page.practice.item.field" | translate }}</h2>
      <p>{{ADS.field}}</p>
    </ion-item>
    <ion-item text-wrap *ngIf="ADS.art != ''; else unknown_filed" [ngSwitch]="ADS.art">
      <h2>{{ "page.practice.item.art" | translate }}</h2>
      <p *ngSwitchCase="'1'">{{ "page.practice.item.praktika" | translate }}</p><p *ngSwitchCase="'2'">{{ "page.practice.item.student" | translate }}</p><p *ngSwitchCase="'3'">{{ "page.practice.item.graduate" | translate }}</p><p *ngSwitchCase="'4'">{{ "page.practice.item.thesis" | translate }}</p>
    </ion-item>
    <ion-item>
      <h2>{{ "page.practice.item.pubDate" | translate }}</h2>
      <p>{{ADS.date | date:'dd.MM.yy'}}</p>
    </ion-item>

    <ion-item *ngIf="ADS.famfriendly != '0'; else unknown_filed">
      <h2>{{ "page.practice.item.familyfriendly" | translate }}</h2>
      <p>{{ ADS.famfriendly }}</p>
    </ion-item>
    <ion-item *ngIf="ADS.language != ''; else unknown_filed">
      <h2>{{ "page.practice.item.language" | translate }}</h2>
      <p>{{ADS.language}}</p></ion-item>
    <ion-item *ngIf="ADS.foreign != '0'; else unknown_filed">
      <h2>{{ "page.practice.item.foreign" | translate }}</h2>
      <p>{{ ADS.foreign }}</p>
    </ion-item>
    <ion-item *ngIf="ADS.file != ''; else unknown_filed">
      <h2><ion-icon name="document"></ion-icon> <a href="{{URLEndpoint}}{{ADS.file}}">Stellenausschreibung</a></h2>
    </ion-item>
  </ion-list>

</ion-content>
