// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #014260;
  --ion-color-secondary: #d0dae3;
  --ion-color-success: #10dc60;
  --ion-color-warning: #ffae42;
  --ion-color-danger: #f04141;
  --ion-color-dark: #222222;
  --ion-color-medium: #ededed;
  --ion-color-light: #f4f4f4;
  --ion-toolbar-background: #ededed;
  --ion-toolbar-color: #014260;
}
