<div *ngFor="let meal of meals; let i = index">
  <ion-item *ngIf="checkConditions(i)" (click)="expandMeal(i)" [ngClass]="{'noborder': mealIsExpanded[i]}">
    <ion-thumbnail slot="start" *ngIf="meal.type && meal.type.length == 1">
      <span *ngFor="let type of meal.type">
        <span *ngFor="let icon of iconMapping">
          <img *ngIf="type == icon.key" [src]="icon.value">
        </span>
      </span>
    </ion-thumbnail>
    <ion-thumbnail slot="start" *ngIf="meal.type && meal.type.length > 1">
      <ion-slides (ionSlidesDidLoad)="slideLoaded($event)">
        <ion-slide *ngFor="let type of meal.type">
          <span *ngFor="let icon of iconMapping">
            <img *ngIf="type == icon.key" [src]="icon.value">
          </span>
        </ion-slide>
      </ion-slides>
    </ion-thumbnail>
    <ion-label text-wrap>
      <p class="mealtitle" *ngIf="meal.title">{{ meal.title }}
        <span *ngIf="meal.type">
          <span *ngFor="let type of meal.type; let last = last">{{ type }}<span *ngIf="!last">, </span></span>
        </span>
      </p>
      <h2 *ngIf="meal.description">{{ meal.description }}</h2>
    </ion-label>
    <ion-icon *ngIf="mealIsExpanded[i]" name="arrow-dropup" slot="end"></ion-icon>
    <ion-icon *ngIf="!mealIsExpanded[i]" name="arrow-dropdown" slot="end"></ion-icon>
  </ion-item>
  <ion-item *ngIf="mealIsExpanded[i]" class="mealDescription">
    <ion-thumbnail *ngIf="meal.type" name="" slot="start"></ion-thumbnail>
    <ion-label text-wrap>
      <span *ngIf="meal.prices.student">{{ "page.mensa.students" | translate }}: {{ formatPrices(meal.prices.student) }}</span> <br *ngIf="meal.prices.student">
      <span *ngIf="meal.prices.guest">{{ "page.mensa.guests" | translate }}: {{ formatPrices(meal.prices.guest) }}</span> <br *ngIf="meal.prices.guest">
      <div *ngIf="meal.allergens">
        <ion-button *ngFor="let allergen of meal.allergens; let j = index" size="small" fill="outline" (click)="expandAllergen(i,j)">
          <span *ngIf="allergen.shortName">({{ allergen.shortName }})</span>
        </ion-button>
        <div *ngFor="let allergen of meal.allergens; let j = index">
          <div *ngIf="allergenIsExpanded[i][j] && allergen.shortName && allergen.longName">({{ allergen.shortName }}): {{ allergen.longName }}</div>
        </div>
      </div>
    </ion-label>
  </ion-item>
</div>
