ion-item ion-thumbnail {
  max-height: 2.1rem;
  max-width: 2.1rem;
  min-height: 2.1rem;
  min-width: 2.1rem;

  img {
    max-height: 2.1rem;
    max-width: 2.1rem;
    min-height: 2.1rem;
    min-width: 2.1rem;
  }
}

.mealDescription {
  color: var(--ion-color-primary);
  padding-bottom: 5px;
}

.mensaMealItem {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

ion-item {
  border-bottom: 1px solid var(--ion-color-light-shade) !important;

  ion-label {
    font-size: 80%;
    margin-bottom: 0;
    margin-top: 5px;
  }
}

ion-item.noborder {
  border-width: 0 !important;
}

.mealtitle {
  color: var(--ion-color-dark);
  font-size: 80%;

  span {
    color: var(--ion-color-custom-mensa);
    font-weight: bold;
  }
}
