.mealDescription {
  color: var(--ion-color-dark);
  padding-top: 5px;
}

ion-item {
  --background: var(--ion-card-background);

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

ion-card-content {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.mealtitle {
  color: var(--ion-color-dark);
  font-size: 70%;
}

.mealtype {
  color: var(--ion-color-custom-mensa);
  font-size: 70%;
  font-weight: bold;
}

.mealallergens {
  padding-top: 10px;
}

@media (prefers-color-scheme: dark) {
  ion-card {
    --ion-card-background: var(--ion-color-light-shade) !important;
  }
}
