<ion-header mode="ios">
  <ion-toolbar style="--min-height: 54px">
    <ion-back-button mode="md" slot="start"></ion-back-button>
    <ion-title>{{ "page.login.title" | translate }}</ion-title>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col width-67>
        <img
          class="svgThatShouldChangeColor"
          src="assets/imgs/logo/logo_uni_potsdam.svg"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!session">
    <form (ngSubmit)="login()" #registerForm="ngForm" [formGroup]="loginForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list inset>
              <div>
                <ion-input
                  autocapitalize="none"
                  autocomplete="username"
                  autofocus="true"
                  (change)="setUsername($event)"
                  clearInput="true"
                  type="email"
                  [placeholder]="'placeholder.username' | translate"
                  name="username"
                  formControlName="username"
                  required
                ></ion-input>
              </div>

              <div>
                <ion-input
                  autocomplete="current-password"
                  (change)="setPassword($event)"
                  clearOnEdit="false"
                  clearInput="true"
                  type="password"
                  [placeholder]="'placeholder.password' | translate"
                  name="password"
                  formControlName="password"
                  required
                ></ion-input>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button
              mode="md"
              class="loginButtons"
              type="button"
              (click)="abort()"
            >
              {{ "button.cancel" | translate }}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              mode="md"
              class="submit-btn loginButtons"
              [disabled]="!loginForm.valid"
              type="submit"
            >
              {{ "button.login" | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <app-hint-box
    hintTypeI18nKey="hints.type.hint"
    hintTextI18nKey="hints.text.login-hint"
  ></app-hint-box>

  <div align="center" *ngIf="session" class="ion-padding">
    {{ "page.login.alreadyLoggedIn" | translate }}
  </div>
</ion-content>
