<meta name="title" content="Abfahrt planen" />
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">

    <div data-role="navbar">
        <ul>
            <li><a href="#transport/transport/index" data-role="button" data-transition="none">N&auml;chste Abfahrten</a></li>
            <li><a href="#transport/transport/plan" data-role="button" data-transition="none" class="ui-btn-active">Fahrt planen</a></li>
        </ul>
    </div>

    <div id="complexTransport">
        <!-- Fahrt eingeben -->
        <div id="fromStation2" data-role="navbar" class="buttons_pt">
            <ul>
                <li><p>VON:</p></li>
                <li><a href="#" class="ui-btn-active">G-see</a></li>
                <li><a href="#">Golm</a></li>
                <li><a href="#">Palais</a></li>
            </ul>
        </div>
        <div id="toStation2" data-role="navbar" class="buttons_pt route">
            <ul>
                <li><p>Nach:</p></li>
                <li><a href="#">G-see</a></li>
                <li><a href="#">Golm</a></li>
                <li><a href="#" class="ui-btn-active">Palais</a></li>
            </ul>
        </div>
        <div data-role="navbar" class="buttons_pt route">
            <ul>
                <li><p>Wann:</p></li>
                <li>
                    <input name="transportationDate" id="transportationDate" type="date" data-role="datebox" data-options='{"mode":"calbox", "showInitialValue": true, "overrideCalStartDay": 1, "calHighToday": false, "centerHoriz": true, "useFocus": true}' />
                </li>
                <li>
                    <input name="transportationTime" id="transportationTime" type="date" data-role="datebox" data-options='{"mode": "timebox", "showInitialValue": true, "useFocus": true, "useLang": "de", "centerHoriz": true}' />
                </li>
            </ul>
        </div>

        <div data-role="navbar" class="buttons_pt route submit-route">
            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                    <input id="searchButton" type="submit" value="Suchen" class="submit-fahrt" data-theme="a"/>
                </li>
            </ul>
        </div>

        <div id="result">
            <div class="spaeter scrollbutton" >
                <input id="earlierButton" data-theme="a" type="submit" value="← Früher" />
            </div>

            <div data-role="collapsible-set" data-theme="c" data-collapsed="false" data-iconpos="right" data-collapsed-icon="arrow-down" data-expanded-icon="arrow-up" data-inset="true" id="transport_rides"></div>

            <div class="spaeter scrollbutton" >
                <input id="laterButton" type="submit" data-theme="a" value="Später →" />
            </div>
        </div>
        <!-- end #result -->
    </div> <!-- end #complexTransport -->
    <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-footer ui-footer-fixed">
        <p class="copyright">Alle Daten werden mit freundlicher Unterstützung der <a href="http://www.vbb.de/" target="_blank" rel="external">VBB GmbH</a> bereitgestellt. Alle Angaben ohne Gewähr.</p>
    </div>
</div> <!-- end content -->