<ion-list *ngIf="isLoaded">
  <ion-item style="--padding-start: 5px;" lines="none" class="department" color="primary">
      <ion-label class="ion-text-wrap">
          <ng-container *ngIf="departmentName && departmentName !== ''">{{ departmentName }}</ng-container>
          <ng-container *ngIf="!(departmentName && departmentName !== '')">Standort wird derzeit nicht unterstützt</ng-container>
      </ion-label>
      <ion-icon class="linkItem" *ngIf="departmentName && departmentName !== ''" slot="end" size="small" style="color: white; -webkit-margin-start: 0; margin-inline-start: 10px;" name="information-circle" (click)="webIntent.permissionPromptWebsite(departmentURL)"></ion-icon>
  </ion-item>
  <ng-container *ngIf="departmentName && departmentName !== ''">
    <ion-item style="--padding-start: 5px;" lines="none" *ngIf="url; else noUrl" color="secondary" class="itemStatus">
        <ion-label class="ion-text-wrap" *ngIf="item[0]">
            <span class="linkItem" (click)="webIntent.permissionPromptWebsite(url)" style="text-decoration: underline; color: var(--ion-color-primary)">{{ item[0] }}</span>
        </ion-label>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="!(departmentName && departmentName !== '')">
    <ion-item style="--padding-start: 5px;" lines="none" color="secondary" class="itemStatus" button (click)="redirectToOpac()">
        <ion-label class="ion-text-wrap" *ngIf="item[0]" style="color: var(--ion-color-primary)">
            Im Online-Katalog nachschlagen
        </ion-label>
        <ion-icon slot="end" size="small" style="color: var(--ion-color-primary); -webkit-margin-start: 0; margin-inline-start: 10px;" name="search"></ion-icon>
    </ion-item>
  </ng-container>
  <ng-template #noUrl>
      <ng-container *ngIf="departmentName && departmentName !== ''">
        <ion-item style="--padding-start: 5px;" lines="none" color="secondary" class="itemStatus">
            <ion-icon slot="start" style="color: darkred; -webkit-margin-end: 10px;" *ngIf="item[0] && (item[0].indexOf('ausgeliehen') != -1) || (item[0].indexOf('nicht') != -1) || (item[0].indexOf('bestellt') != -1)" name="remove-circle"></ion-icon>
            <ion-icon slot="start" style="color: darkgreen; -webkit-margin-end: 10px;" *ngIf="item[0] && departmentName && (item[0].indexOf('Präsenzbestand') != -1) || (departmentName.indexOf('Handapparat') != -1)" name="contrast"></ion-icon>
            <ion-icon slot="start" style="color: darkgreen; -webkit-margin-end: 10px;" *ngIf="!(item[0] && ((item[0].indexOf('ausgeliehen') != -1) || (item[0].indexOf('nicht') != -1) || (item[0].indexOf('bestellt') != -1)) || item[0] && departmentName && ((item[0].indexOf('Präsenzbestand') != -1) || (departmentName.indexOf('Handapparat') != -1)))" name="checkmark-circle"></ion-icon>
            <ion-label *ngIf="item[0]" class="ion-text-wrap" style="color: var(--ion-color-primary);">
                {{ item[0] }}
            </ion-label>
            <ion-icon *ngIf="roomURL" class="linkItem" size="small" slot="end" style="color: var(--ion-color-primary); -webkit-margin-start: 0; margin-inline-start: 3px;" name="pin" (click)="webIntent.permissionPromptWebsite(roomURL)"></ion-icon>
            <ion-note *ngIf="label && item[0] && label != item[0]" style="font-size: small; padding-inline-start: 5px; margin-inline-start: 0px; -webkit-margin-start: 0px; -webkit-padding-start: 5px;" slot="end">{{ label }}</ion-note>
        </ion-item>
        <ion-item *ngIf="item[1]" style="--padding-start: 5px;" lines="none" color="secondary" class="itemStatus">
            <ion-label class="ion-text-wrap" style="margin-top: 0">
              <span style="color: black; font-size: small">{{ item[1] }}</span>
            </ion-label>
        </ion-item>
      </ng-container>
  </ng-template>
</ion-list>