<ion-menu [content]="content" [persistent]="true" side="right" type="overlay" [swipeEnabled]="false" (ionOpen)="menuOpened()">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{ "menu.title" | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="card-background-page">

        <ion-card>
            <img src="../assets/imgs/menu-background.png"/>
            <div class="card-title"><span *ngIf="loggedIn && userInformation">{{ userInformation.name }}</span><span *ngIf="loggedIn && !userInformation && username">{{username}}</span></div>
            <div class="card-subtitle"><span *ngIf="loggedIn && userInformation">{{ userInformation.sub }}</span></div>
        </ion-card>

        <ion-item-group>
            <ion-item-divider color="light">{{ "popover.general" | translate}}</ion-item-divider>
            <button ion-item (click)="toHome()">
                <ion-icon name="home" padding-right></ion-icon>
                {{ "page.home.title" | translate }}
            </button>
            <button ion-item (click)="toSettings()">
                <ion-icon name="options" padding-right></ion-icon>
                {{ "page.settings.title" | translate }}
            </button>
            <button ion-item (click)="toAppInfo()">
                <ion-icon name="information-circle" padding-right></ion-icon>
                {{ "page.appInfo.title" | translate }}
            </button>
            <button ion-item (click)="toImprint()">
                <ion-icon name="list-box" class="fa fa-balance-scale" aria-hidden="true" padding-right></ion-icon>
                {{ "page.imprint.title" | translate }}
            </button>
            <ng-container *ngIf="loggedIn; then loggedInTemplate; else notLoggedInTemplate "></ng-container>
        </ion-item-group>

        <!-- logged in -->
        <ng-template #loggedInTemplate>
            <ion-item-divider color="light" *ngIf="username">{{ "popover.loggedInText" | translate}}: {{ username }}</ion-item-divider>
            <button ion-item (click)="toLogout()">
                <i class="fa fa-sign-out" aria-hidden="true" padding-right></i>
                {{ "button.logout" | translate }}
            </button>
        </ng-template>

        <!-- not logged in -->
        <ng-template #notLoggedInTemplate>
            <ion-item-divider color="light">{{ "popover.notLoggedInText" | translate}}</ion-item-divider>
            <button ion-item (click)="toLogin()">
                <i class="fa fa-sign-in" aria-hidden="true" padding-right></i>
                {{ "button.login" | translate }}
            </button>
        </ng-template>

    </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
