// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Add UP Font
// --------------------------------------------------*/
/* Source Sans Pro Regular */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro Regular"), local("Source-Sans-Pro-Regular") format("truetype");
}

/* Source Sans Pro Light */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"), local("Source-Sans-Pro-Light") format("truetype");
}


  /* Source Sans Pro Italic

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src:local("Source Sans Pro Italic"), local("Source-Sans-Pro-Italic"), url("../assets/fonts/SourceSansPro-Italic.ttf") format("truetype");

  } */


  /* Source Sans Pro Bold */

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("Sourc-Sans-Pro-Bold") format("truetype");
}

// Change Background Colors and Box Shadows
// --------------------------------------------------*/


.toolbar-background {
	background-color:  color($colors, upgrey);
	box-shadow: 0 0 0 #000;
}

ion-footer {
    background-color:  #ffffff!important;
    box-shadow: 0 0 0 #000;

  .toolbar-background {
    background-color: color($colors, upgrey)!important;
  }
}

ion-header {
	background-color:  color($colors, upgrey)!important;
  box-shadow: 0 0 0 #000;

  .toolbar-background {
    background-color: color($colors, upgrey)!important;
  }
}

/*reset default theme box shadows and border radius */

.button-md, button, .button-ios {
  -webkit-box-shadow: 0 0 0 0 #fff;
  box-shadow:  0 0 0 0 #fff;
  border-radius:0;
  text-transform: uppercase;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	background-image:none;
}

.tabbar {
	background:  color($colors, upgrey);
}

.card-md, .card, .card-ios {

}

.searchbar-input, .searchbar-md .searchbar-input, .searchbar-ios .searchbar-input {
    box-shadow: none;
    border: 1px solid #ededed;
}


.segment-ios .segment-button:first-of-type,
.segment .segment-button:first-of-type,
.segment-md .segment-button:first-of-type,
.segment-ios .segment-button:last-of-type,
.segment .segment-button:last-of-type,
.segment .segment-button:last-of-type,
.badge  {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

// Change Font Colors
// --------------------------------------------------*/
.toolbar-title {
	color:color($colors, primary);
	font-family: "Source Sans Pro", arial, sans-serif;
}

.content, .item {
	color:#353535;
}

.item h3, .item h4, .item h5, .item h6 {
	color:color($colors, primary);
	font-weight:bold;
}

.card-md h3, .card-md h4, .card-md h5, .card-md h6,
.card-ios h3, .card-ios h4, .card-ios h5, .card-ios h6,
.card h3, .card h4, .card h5, .card h6 {
  color:color($colors, primary);
  font-weight:bold;
}

.card-content-md, .card-content-ios, .card-content {
  font-size:1.25rem;
}

// reset rounded corners
// --------------------------------------------------*/
.button-md, button, .button-ios, .button {
    border-radius: 0;
  }


// adjust global layout settings
// --------------------------------------------------*/

.scroll-content {
    overflow-y:auto !important;
}

ion-app.md [padding] .scroll-content {
    padding: 0px;
}

.card-content-md, .card-content, .card-content-ios {
  padding:3px 6px;
}

.card-header, .card-header-ios, .card-header-md {
  padding:6px;
}

// custom icon mask, just use it like a normal ion-icon
// <ion-icon name="custom-moodle"></ion-icon>
ion-icon {
  &[class*="custom-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-moodle"] {
    background: currentColor;
    mask-image: url(../assets/icon/moodle.svg);
  }

  &[class*="custom-reflect"] {
    background: currentColor;
    mask-image: url(../assets/icon/reflect.svg);
  }

  &[class*="custom-bus"] {
    background-image: url(../assets/icon/bus.svg);
  }

  &[class*="custom-sbahn"] {
    background-image: url(../assets/icon/s-bahn.svg);
  }

  &[class*="custom-bahn"] {
    background-image: url(../assets/icon/bahn.svg);
  }

}


.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0px;
    width: 100%;
    border-radius:0;

    img {
      margin: auto;
      width: 50%;
    }

    .loggedIn {
      opacity: 0.05 !important;
    }

  }

  .card-title {
    position: absolute;
    top: 25%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 65%;
    width: 100%;
    color: #000;
  }

}

// placeholder image
// --------------------------------------------------*/

.placeholder-img {
  padding:0 !important;
  margin-bottom:10px;

  em {
    position: absolute;
    display: block;
    background: black;
    color: white;
    bottom: 0;
    padding: 1px;
    font-size: .8em;
  }
}