<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"page.rooms.title"|translate}}</ion-title>
  </ion-navbar>

  <campus-tab (campusChanged)="switchLocation($event)"></campus-tab>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshRoom($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>{{ "page.rooms.time" | translate }}</ion-label>
    <ion-select [(ngModel)]="select_timeslot" (ionChange)="changeTimeSlot()" okText="{{ 'button.ok' | translate }}" cancelText="{{ 'button.cancel'  | translate }}">
      <ion-option *ngFor="let slot of time_slots" [value]="slot.value">{{slot.lbl}} {{ "words.clock" | translate }}
      </ion-option>
    </ion-select>
  </ion-item>

  <p *ngIf="error != null" style="text-align: center">
    {{ "alert.network" | translate }} <br/><br/>
    {{error.name}}<br/>
    {{error.message}}<br/>
    {{error.error}}<br/>
  </p>
  <p *ngIf="no_timeslot" style="text-align: center">
    {{ "alert.no_info_for_time" | translate }}
  </p>
  <p *ngIf=" housesFound.length == 0 && error == null && !no_timeslot" style="text-align: center">
    <ion-spinner></ion-spinner>
  </p>

  <ion-list>
    <ion-card *ngFor="let house of housesFound">
      <ion-card-header (click)="expand(house.lbl)"><b>{{ "words.house" | translate }} {{house.lbl}}</b>
        <ion-badge color="primary">{{house.rooms.length}}</ion-badge>
      </ion-card-header>
      <expandable [expanded]="house.expanded">
        <ion-item *ngFor="let room of house.rooms">
          {{room.lbl}}
        </ion-item>
      </expandable>

    </ion-card>
  </ion-list>


</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>