<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"page.rooms.title"|translate}}</ion-title>
  </ion-navbar>

  <campus-tab (campusChanged)="switchLocation($event)"></campus-tab>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshRoom($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>{{ "page.rooms.time" | translate }}</ion-label>
    <ion-select [(ngModel)]="select_timeslot" (ionChange)="changeTimeSlot()" okText="{{ 'button.ok' | translate }}" cancelText="{{ 'button.cancel'  | translate }}">
      <ion-option *ngFor="let slot of time_slots" [value]="slot.value">{{slot.lbl}} {{ "words.clock" | translate }}
      </ion-option>
    </ion-select>
  </ion-item>

  <p *ngIf="error != null" style="text-align: center">
    {{ "alert.network" | translate }} <br/><br/>
    {{error.name}}<br/>
    {{error.message}}<br/>
    {{error.error}}<br/>
  </p>
  <p *ngIf="no_timeslot" style="text-align: center">
    {{ "alert.no_info_for_time" | translate }}
  </p>
  <p *ngIf=" housesFound.length == 0 && error == null && !no_timeslot" style="text-align: center">
    <ion-spinner></ion-spinner>
  </p>

  <ng-template #housesFound>
    <ion-list>
      <div *ngFor="let house of housesFound">
        <ion-item (click)="expand(house.lbl)">
          <ion-label no-margin>
            <h2 text-wrap><b>{{ "words.house" | translate }} {{house.lbl}}</b><ion-badge color="primary">{{house.rooms.length}}</ion-badge></h2>
          </ion-label>
          <ion-icon name="arrow-dropdown" *ngIf="!house.expanded" item-end></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="house.expanded" item-end></ion-icon>
        </ion-item>
        <div *ngIf="house.expanded">
          <ion-item margin-left *ngFor="let room of house.rooms">
              {{room.lbl}}
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ng-template>

  <ng-template #noHousesFound>
    <hint hintTextI18nKey="page.rooms.page_no_rooms_hintText"
          hintTypeI18nKey=""></hint>
  </ng-template>

  <ng-container *ngIf="housesFound.length>0;
                then housesFound; else noHousesFound"></ng-container>
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>
