hint {
    ion-card {
        border: 2px solid color($colors, upgrey);
    }

    ion-card-header {
        background-color: color($colors, secondary);
    }

    .card-header {
        padding: 3px;
    }

    ion-card-content {
        padding: 0;
    }

    hint ion-card-content {
        margin: .2rem;
    }
}
