<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.news.title" | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="sourcesList">
    <ion-row class="filters">
        <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
            <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col no-padding col-10>
            <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
                <ion-slide (click)="setNewsSource(i)" *ngFor="let category of categories; let i = index">
                    <p [class.selected]="selectedCategory === i">{{ category }}</p>
                </ion-slide>
            </ion-slides>
        </ion-col>
        <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
            <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding-top (swipe)="swipeNewsSource($event)">
  <ion-refresher (ionRefresh)="loadNews($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngFor="let article of newsList" class="news-article">
    <news-article  *ngIf="article.NewsSource.name == sourcesList[newsSource]" [article]="article"></news-article>
  </div>

</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>