<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.news.title" | translate }}</ion-title>
  </ion-navbar>

  <ion-segment *ngIf="sourcesList" [(ngModel)]="newsSource" class="headSegment" color="primary">
    <ion-segment-button small *ngFor="let source of sourcesList; let i = index" (click)="setNewsSource(i)" [value]="i">
      {{ sourcesList[i] }}
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content padding-top (swipe)="swipeNewsSource($event)">
  <ion-refresher (ionRefresh)="loadNews($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngFor="let article of newsList" class="news-article">
    <news-article  *ngIf="article.NewsSource.name == sourcesList[newsSource]" [article]="article"></news-article>
  </div>

</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>