page-news {

    .filters {

        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            margin: 0;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .selected {
            border-bottom-width: 2px solid color($colors, primary);

            color:color($colors, primary);
        }
    }

    ion-slide {
        width: auto !important;
        min-width: 100px!important;
        padding: 10px;
    }

  .col {
      padding:0;

      .card {
          margin:0;
      }
  }

  ion-header ion-toolbar.toolbar .toolbar-background {
      background-color:color($colors, upgrey) !important;
  }
}
