page-news {
    ion-segment.headSegment {
        display: inline-block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        ion-segment-button.segment-button {
            display: inline-block!important;
            min-width: 100px!important;
            width: auto!important;
        }
    }

  .col {
      padding:0;

      .card {
          margin:0;
      }
  }

  ion-header ion-toolbar.toolbar .toolbar-background {
      background-color:color($colors, light) !important;
  }
}
