ionic3-star-rating {
    text-align: center;
}

// Custom radio buttons
form {
	&#smileys {
		input[type="radio"] {
			-webkit-appearance: none;
			width: 30px;
			height: 30px;
			border: none;
			cursor: pointer;
			transition: border .2s ease;
			filter: grayscale(100%);
			margin: 0 5px;
			transition: all .2s ease;

			&:hover, &:checked {
                filter:	grayscale(0);
                background-color: red;
			}

			&:focus {
				outline: 0;
            }

            &.smile {
				background: url(../../../assets/icon/smile-solid.svg) center;
				background-size: cover;
            }

			&.angry {
				background: url(../../../assets/icon/angry-solid.svg) center;
				background-size: cover;
            }

			&.heart {
				background: url(../../../assets/icon/heart-solid.svg) center;
				background-size: cover;
			}

			&.frown {
				background: url(../../../assets/icon/frown-solid.svg) center;
				background-size: cover;
            }

			&.meh {
				background: url(../../../assets/icon/meh-solid.svg) center;
				background-size: cover;
			}
		}
	}
}