ionic3-star-rating {
  text-align: center;
}

ion-item-divider {
  --padding-start: 10px;
  --padding-end: 5px;
}

ion-row {
  text-align: center;
}

// Custom radio buttons
form {
  &#smileys {
    input[type="radio"] {
      appearance: none;
      border: 0 none;
      cursor: pointer;
      filter: invert(79%) sepia(2%) saturate(1083%) hue-rotate(191deg)
        brightness(50%) contrast(79%);
      height: 30px;
      margin: 0 5px;
      width: 30px;

      &:hover,
      &:checked {
        filter: brightness(100%);
      }

      &:focus {
        outline: 0;
      }

      &.smile {
        background: url("../../../assets/icon/smile-solid.svg") center;
        background-size: cover;
      }

      &.angry {
        background: url("../../../assets/icon/angry-solid.svg") center;
        background-size: cover;
      }

      &.heart {
        background: url("../../../assets/icon/heart-solid.svg") center;
        background-size: cover;
      }

      &.frown {
        background: url("../../../assets/icon/frown-solid.svg") center;
        background-size: cover;
      }

      &.meh {
        background: url("../../../assets/icon/meh-solid.svg") center;
        background-size: cover;
      }
    }
  }
}
