<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.feedback.title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()" id="smileys">
      <ion-item-divider color="light">
        <ion-label text-wrap>
          {{ "page.feedback.rating" | translate}}
        </ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-grid>
          <ion-row nowrap>
            <ion-col><input type="radio" name="rating" value="-2" class="angry" formControlName="rating"></ion-col>
            <ion-col><input type="radio" name="rating" value="-1" class="frown" formControlName="rating"></ion-col>
            <ion-col><input type="radio" name="rating" value="0" class="meh"  formControlName="rating" checked></ion-col>
            <ion-col><input type="radio" name="rating" value="1" class="smile" formControlName="rating"></ion-col>
            <ion-col><input type="radio" name="rating" value="2" class="heart" formControlName="rating"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-item-divider color="light">
        <ion-label text-wrap>
          {{ "page.feedback.feedback" | translate}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-textarea formControlName="description" rows="6" cols="20" [placeholder]="'page.feedback.thoughts' | translate" style="font-size: 0.9rem;"></ion-textarea>
      </ion-item>

      <ion-item-divider color="light">
        <ion-label text-wrap>
          {{ "page.feedback.recommendation" | translate}}
        </ion-label>
      </ion-item-divider>

    <ion-item>
      <ion-range min="1" max="10" step="1" pin="true" snaps="true" formControlName="recommend">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <ion-item *ngIf="session">
      <ion-label style="font-size: 0.9rem;">{{ "page.feedback.anonymous" | translate}}</ion-label>
      <ion-toggle checked="false" formControlName="anonymous"></ion-toggle>
    </ion-item>

    <div text-center padding-top>
      <ion-button type="submit" [disabled]="!form.valid">{{ "button.submit" | translate}}</ion-button>
    </div>
  </form>
</ion-content>