<ion-header>
  <ion-navbar>
    <ion-title>{{ "page.openingHours.title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <span *ngFor="let item of openingHours; let i = index">
      <button *ngIf="parsedOpenings[i].getState()" ion-item (click)="itemSelected(item, i)">
          <h2>{{ item.name }}</h2>
          <p style="color: green">{{ "page.openingHours.open" | translate }}<span *ngIf="openUntil(i) != ''">,</span> {{ openUntil(i) }}</p>
      </button>
    </span>
    <span *ngFor="let item of openingHours; let i = index">
        <button *ngIf="!parsedOpenings[i].getState()" ion-item (click)="itemSelected(item, i)">
            <h2>{{ item.name }}</h2>
            <p style="color: red">{{ "page.openingHours.closed" | translate }}<span *ngIf="closedUntil(i) != ''">,</span> {{ closedUntil(i) }}</p>
        </button>
      </span>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div align="center" id="footerTitle" text-wrap>{{ "page.openingHours.noGuarantee" | translate}}</div>
  </ion-toolbar>
  <tab-bar></tab-bar>
</ion-footer>