<ion-header>
  <ion-navbar>
    <ion-title>{{ "page.openingHours.title" | translate }}</ion-title>
  </ion-navbar>

  <ion-searchbar
    [placeholder]="'button.search' | translate"
    (ionInput)="filterItems($event)"
    debounce="750">
  </ion-searchbar>
</ion-header>

<ion-content (ionScroll)="onScrollListener()">
  <ion-refresher (ionRefresh)="loadOpeningHours($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <span *ngFor="let item of openingHours; let i = index">
      <button *ngIf="parsedOpenings[i].getState()" ion-item (click)="itemSelected(item, i)">
          <h3>{{ item.name }}</h3>
          <p style="color: green">{{ "page.openingHours.open" | translate }}<span *ngIf="openUntil(i) != ''">,</span> {{ openUntil(i) }}</p>
          <ion-icon name="warning" *ngIf="item.displayWarning" item-end style="font-size: large"></ion-icon>
      </button>
    </span>
    <span *ngFor="let item of openingHours; let i = index">
        <button *ngIf="!parsedOpenings[i].getState()" ion-item (click)="itemSelected(item, i)">
            <h3>{{ item.name }}</h3>
            <p style="color: red">{{ "page.openingHours.closed" | translate }}<span *ngIf="closedUntil(i) != ''">,</span> {{ closedUntil(i) }}</p>
            <ion-icon name="warning" *ngIf="item.displayWarning" item-end style="font-size: large"></ion-icon>
        </button>
      </span>
  </ion-list>
</ion-content>

<ion-footer>
  <footer-disclaimer iconName="warning" disclaimerReference="page.openingHours.noGuarantee"></footer-disclaimer>
  <tab-bar></tab-bar>
</ion-footer>