ion-item {
  --background: var(--ion-card-background);

  p.number {
    font-weight: bold;
    text-align: center;
  }
}

.cardHeader {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 10px !important;
}

.cardContent {
  padding-bottom: 10px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bookIndex {
  margin-left: 0 !important;
}

.item-inner {
  margin-left: 25px;
  padding-right: 0 !important;
}

.favButton {
  margin-left: 5px !important;
}
