<ion-header mode="ios">
  <ion-toolbar>
    <ion-button
      mode="md"
      slot="start"
      (click)="closeModal()"
      fill="clear"
      class="modalBackButton"
    >
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>{{ "page.library-search.titleDetail" | translate }}</ion-title>
    <ion-button
      mode="md"
      *ngIf="!(platform.is('ios') || platform.is('android'))"
      (click)="updateLocation(true)"
      slot="end"
      fill="clear"
    >
      <ion-icon style="font-size: x-large" name="refresh"></ion-icon>
    </ion-button>
    <ion-button mode="md" slot="end" (click)="favorite()" fill="clear">
      <ion-icon
        style="font-size: x-large"
        [name]="isFavorite ? 'star' : 'star-outline'"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher
    *ngIf="platform.is('ios') || platform.is('android')"
    slot="fixed"
    (ionRefresh)="updateLocation($event)"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      refreshingSpinner="dots"
    ></ion-refresher-content>
  </ion-refresher>

  <app-book-list
    [book]="book"
    (mediaType)="setMediaType($event)"
  ></app-book-list>
  <p
    *ngIf="bookDetails.mediaType == 'mediatype_o'"
    class="copyright-info ion-padding-horizontal"
  >
    {{ "page.library-search.copyright" | translate }}
    <br /><br />
    {{ "page.library-search.electronicUsage" | translate }}
  </p>
  <p
    *ngIf="book.originInfo && book.originInfo.issuance && (book.originInfo.issuance.indexOf('multipart') != -1)"
    class="copyright-info ion-padding-horizontal"
  >
    {{ "page.library-search.bookSet" | translate }}
  </p>
  <ion-segment [value]="activeSegment" mode="md">
    <ion-segment-button
      value="location"
      (click)="showLocation = true; showDetails = false;"
      >{{ "page.library-search.location" | translate }}</ion-segment-button
    >
    <ion-segment-button
      value="details"
      (click)="showDetails = true; showLocation = false;"
      >{{ "page.library-search.details" | translate }}</ion-segment-button
    >
  </ion-segment>

  <div *ngIf="showLocation">
    <div align="center" *ngIf="!isLoaded" class="ion-padding">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <span *ngIf="isLoaded && locationData && locationData.document">
      <span *ngFor="let document of locationData.document">
        <span *ngIf="document.item">
          <span *ngFor="let department of document.item">
            <app-book-location
              [department]="department"
              [bookLocation]="book.location"
              [mediaType]="bookDetails.mediaType"
              [isbn]="bookDetails.isbn"
              [title]="bookDetails.title"
            ></app-book-location>
          </span>
        </span>
      </span>
    </span>
    <div *ngIf="isLoaded && !locationData">
      <app-hint-box
        *ngIf="!error"
        hintTypeI18nKey="hints.type.hint"
        hintTextI18nKey="hints.text.noInformation"
      ></app-hint-box>
      <app-hint-box
        *ngIf="error"
        hintTypeI18nKey="hints.type.hint"
        hintTextI18nKey="alert.httpErrorStatus.generic"
      ></app-hint-box>
    </div>
  </div>

  <ion-list *ngIf="showDetails" lines="none">
    <ion-item
      mode="md"
      *ngIf="bookDetails.abstract && bookDetails.abstract.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>Abstract</h2>
        <p *ngIf="!shortAbstract || !showShortAbstract">
          {{ bookDetails.abstract }}
        </p>
        <p *ngIf="shortAbstract && showShortAbstract">
          {{ bookDetails.shortAbstract }}
        </p>
        <p *ngIf="shortAbstract" align="right">
          <ion-button
            mode="md"
            size="small"
            fill="clear"
            (click)="showShortAbstract = !showShortAbstract"
          >
            <span *ngIf="showShortAbstract"
              >{{ "button.showMore" | translate }}</span
            >
            <span *ngIf="!showShortAbstract"
              >{{ "button.showLess" | translate }}</span
            >
          </ion-button>
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      mode="md"
      *ngIf="bookDetails.keywords && bookDetails.keywords.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{ "page.library-search.keywords" | translate }}</h2>
        <p class="list" *ngFor="let keyword of bookDetails.keywords">
          <span
            class="linkItem"
            (click)="webIntent.permissionPromptWebsite('https://opac.ub.uni-potsdam.de/DB=1/SET=25/TTL=2/CMD?ACT=SRCHA&IKT=46&SRT=YOP&TRM='+keyword)"
            >{{ keyword }}</span
          >
        </p>
      </ion-label>
    </ion-item>
    <ion-item mode="md" *ngIf="bookDetails.toc && bookDetails.toc.length != 0">
      <ion-label class="ion-text-wrap">
        <h2>{{ "page.library-search.toc" | translate }}</h2>
        <p class="list" *ngFor="let chapter of bookDetails.toc; let i = index">
          <span class="item" *ngIf="!showFullTOC && i < 3">{{ chapter }}</span>
          <span class="item" *ngIf="showFullTOC">{{ chapter }}</span>
        </p>
        <p *ngIf="bookDetails.toc.length > 3" align="right">
          <ion-button
            mode="md"
            size="small"
            fill="clear"
            (click)="showFullTOC = !showFullTOC"
          >
            <span *ngIf="showFullTOC">{{ "button.showLess" | translate }}</span>
            <span *ngIf="!showFullTOC"
              >{{ "button.showMore" | translate }}</span
            >
          </ion-button>
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      mode="md"
      *ngIf="bookDetails.notes && bookDetails.notes.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{ "page.library-search.annotations" | translate }}</h2>
        <p class="list" *ngFor="let note of bookDetails.notes">
          <span class="item">{{ note }}</span>
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      mode="md"
      *ngIf="bookDetails.series && bookDetails.series.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{ "page.library-search.serie" | translate }}</h2>
        <p class="list" *ngFor="let serie of bookDetails.series">
          <span class="item">{{ serie }}</span>
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      mode="md"
      *ngIf="bookDetails.isbn && bookDetails.isbn.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>Identifier</h2>
        <p class="list" *ngFor="let isbn of bookDetails.isbn">
          <span class="item">{{ isbn }}</span>
        </p>
      </ion-label>
    </ion-item>
    <ion-item
      mode="md"
      *ngIf="bookDetails.extent && bookDetails.extent.length != 0"
    >
      <ion-label class="ion-text-wrap">
        <h2>{{ "page.library-search.extent" | translate }}</h2>
        <p class="list" *ngFor="let extent of bookDetails.extent">
          <span class="item">{{ extent }}</span>
        </p>
      </ion-label>
    </ion-item>
    <div *ngIf="bookDetails.noDetails" align="center">
      <app-hint-box
        hintTypeI18nKey="hints.type.hint"
        hintTextI18nKey="page.library-search.noDetails"
      ></app-hint-box>
    </div>
  </ion-list>
  <br />
</ion-content>
