ion-item {
  p.number {
    font-weight: bold;
    text-align: right;
  }
}

ion-item [item-start] {
  position: absolute;
  display: inline-block;

  ion-icon {
    font-size: 1.5em;
  }
}

.bookIndex {
  margin-inline-end: 10px;
}

.item-inner {
  margin-left: 25px;
}

.breakLine {
  white-space: pre-wrap;
}
