<ion-header>
    <ion-toolbar>
        <ion-button slot="start" (click)="closeModal()" fill="clear">
            <ion-icon style="color: black; font-size: x-large;" name="ios-arrow-back"></ion-icon>
        </ion-button>
        <ion-title>{{ "page.library-search.titleDetail" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="updateLocation($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-book-list [book]="book" (mediaType)="setMediaType($event)"></app-book-list>
    <p *ngIf="bookDetails.mediaType == 'mediatype_o'" class="copyright-info" padding-horizontal>
        {{ "page.library-search.copyright" | translate }}
        <br><br>
        {{ "page.library-search.electronicUsage" | translate }}
    </p>
    <p *ngIf="book.originInfo && book.originInfo.issuance && (book.originInfo.issuance.indexOf('multipart') != -1)" class="copyright-info" padding-horizontal>
        {{ "page.library-search.bookSet" | translate }}
    </p>
    <ion-segment [value]="activeSegment">
        <ion-segment-button value="location" (click)="showLocation = true; showDetails = false;">{{ "page.library-search.location" | translate }}</ion-segment-button>
        <ion-segment-button value="details" (click)="showDetails = true; showLocation = false;">{{ "page.library-search.details" | translate }}</ion-segment-button>
    </ion-segment>

    <div *ngIf="showLocation" padding-top>
        <div align="center" *ngIf="!isLoaded">
            <ion-spinner></ion-spinner>
        </div>
        <span *ngFor="let department of bookLocationList">
        <ion-list>
            <ion-item lines="none" class="department" color="primary">
                <ion-label>
                    {{ department.department }}
                </ion-label>
                <ion-icon slot="end" style="color: white" name="information-circle" (click)="webIntent.permissionPromptWebsite(department.departmentURL)"></ion-icon>
            </ion-item>
            <ion-item lines="none" *ngIf="department.url; else noUrl" color="secondary" class="itemStatus">
                <ion-label text-wrap>
                    <span (click)="webIntent.permissionPromptWebsite(department.url)" style="text-decoration: underline; color: var(--ion-color-primary)">{{ department.item[0] }}</span>
                </ion-label>
            </ion-item>
            <ng-template #noUrl>
                <ion-item lines="none" color="secondary" class="itemStatus">
                    <ion-icon slot="start" style="color: darkred" *ngIf="department.item[0] && (department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)" name="ios-remove-circle"></ion-icon>
                    <ion-icon slot="start" style="color: darkgreen" *ngIf="department.item[0] && department.department && (department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)" name="ios-contrast"></ion-icon>
                    <ion-icon slot="start" style="color: darkgreen" *ngIf="!(department.item[0] && ((department.item[0].indexOf('ausgeliehen') != -1) || (department.item[0].indexOf('nicht') != -1) || (department.item[0].indexOf('bestellt') != -1)) || department.item[0] && department.department && ((department.item[0].indexOf('Präsenzbestand') != -1) || (department.department.indexOf('Handapparat') != -1)))" name="ios-checkmark-circle"></ion-icon>
                    <ion-label text-wrap style="color: var(--ion-color-primary);">
                        {{ department.item[0] }}
                        <span *ngIf="department.label && department.item[0] && department.label != department.item[0]" style="font-size: small" slot="end">{{ department.label }}</span><br>
                        <span *ngIf="department.item[1]" style="color: black; font-size: small">({{ department.item[1] }})</span>
                    </ion-label>
                </ion-item>
            </ng-template>
        </ion-list>
        </span>
        <div *ngIf="isLoaded && bookLocationList.length === 0">
            <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.noInformation"></app-hint-box>
        </div>
    </div>

    <div *ngIf="showDetails" padding>
        <div *ngIf="bookDetails.abstract && bookDetails.abstract.length != 0">
        <h3>Abstract</h3>
        <div *ngIf="!shortAbstract || !showShortAbstract">{{ bookDetails.abstract }}</div>
        <div *ngIf="shortAbstract && showShortAbstract">{{ bookDetails.shortAbstract }}</div>
        <div *ngIf="shortAbstract" align="right">
            <ion-button size="small" fill="clear" (click)="showShortAbstract = !showShortAbstract">
                <span *ngIf="showShortAbstract">{{ "button.showMore" | translate }}</span>
                <span *ngIf="!showShortAbstract">{{ "button.showLess" | translate }}</span>
            </ion-button>
        </div>
        </div>
        <div *ngIf="bookDetails.keywords && bookDetails.keywords.length != 0" padding-top>
        <h3>{{ "page.library-search.keywords" | translate }}</h3>
        <ul class="list" *ngFor="let keyword of bookDetails.keywords">
            <li class="link item" (click)="webIntent.permissionPromptWebsite('https://opac.ub.uni-potsdam.de/DB=1/SET=25/TTL=2/CMD?ACT=SRCHA&IKT=46&SRT=YOP&TRM='+keyword)">{{ keyword }}</li>
        </ul>
        </div>
        <div *ngIf="bookDetails.toc && bookDetails.toc.length != 0" padding-top>
        <h3>{{ "page.library-search.toc" | translate }}</h3>
        <ul class="list" *ngFor="let chapter of bookDetails.toc; let i = index">
            <li class="item" *ngIf="!showFullTOC && i < 3">{{ chapter }}</li>
            <li class="item" *ngIf="showFullTOC">{{ chapter }}</li>
        </ul>
        <div *ngIf="bookDetails.toc.length > 3" align="right">
            <ion-button size="small" fill="clear" (click)="showFullTOC = !showFullTOC">
            <span *ngIf="showFullTOC">{{ "button.showLess" | translate }}</span>
            <span *ngIf="!showFullTOC">{{ "button.showMore" | translate }}</span>
            </ion-button>
        </div>
        </div>
        <div *ngIf="bookDetails.notes && bookDetails.notes.length != 0" padding-top>
        <h3>{{ "page.library-search.annotations" | translate }}</h3>
        <ul class="list" *ngFor="let note of bookDetails.notes">
            <li class="item">{{ note }}</li>
        </ul>
        </div>
        <div *ngIf="bookDetails.series && bookDetails.series.length != 0" padding-top>
        <h3>{{ "page.library-search.serie" | translate }}</h3>
        <ul class="list" *ngFor="let serie of bookDetails.series">
            <li class="item">{{ serie }}</li>
        </ul>
        </div>
        <div *ngIf="bookDetails.isbn && bookDetails.isbn.length != 0" padding-top>
        <h3>ISBN</h3>
        <ul class="list" *ngFor="let isbn of bookDetails.isbn">
            <li class="item">{{ isbn }}</li>
        </ul>
        </div>
        <div *ngIf="bookDetails.extent && bookDetails.extent.length != 0" padding-top>
        <h3>{{ "page.library-search.extent" | translate }}</h3>
        <ul class="list" *ngFor="let extent of bookDetails.extent">
            <li class="item">{{ extent }}</li>
        </ul>
        </div>
        <div *ngIf="bookDetails.noDetails" align="center" padding-top>
        {{ "page.library-search.noDetails" | translate }}
        </div>
    </div>
    </ion-content>