page-privacy-policy {
    h1, h2, h3, p {
        hyphens: auto!important;
        text-align: left;
    }

    h2, h3 {
        font-size: large;
    }

    p {
        margin: .2em;
    }

    text-align: justify;
}
