<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.mensa.title" |translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top *ngIf="demo != 'Title'">
    <ion-segment [(ngModel)]="currentCampus" color="primary" (ionChange)="changeCampus($event)">
      <ion-segment-button value="Griebnitzsee">
        {{"page.mensa.campus1" | translate}}
      </ion-segment-button>
      <ion-segment-button value="NeuesPalais">
          {{"page.mensa.campus2" | translate}}
      </ion-segment-button>
      <ion-segment-button value="Golm">
          {{"page.mensa.campus3" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="isLoaded">
    <ion-list no-lines>
      <div *ngFor="let meal of allMeals; let i = index">
        <ion-item *ngIf="mealForToday[i]" tappable (click)="expandMeal(i)"> 
          <ion-thumbnail item-end>
            <img *ngIf="mealIsFish[i]" [src]="fishIconSource">
            <img *ngIf="mealIsVegan[i]" [src]="veganIconSource">
            <img *ngIf="mealIsVegetarian[i]" [src]="vegetarianIconSource">
          </ion-thumbnail>
          <p>{{ meal.title }}</p>
          <h2 text-wrap>{{ meal.description }}</h2>
          <ion-icon *ngIf="mealIsExpanded[i]" name="arrow-dropdown" item-start></ion-icon>
          <ion-icon *ngIf="!mealIsExpanded[i]" name="arrow-dropright" item-start></ion-icon>
        </ion-item>
        <ion-item *ngIf="mealIsExpanded[i]">
          <ion-icon name="" item-start></ion-icon>
          Studierende: {{ formatPrices(meal.prices.student) }}
          <br>
          Gäste: {{ formatPrices(meal.prices.guest) }}
        </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div align="center" id="footerTitle" text-wrap>{{ "page.mensa.disclaimer" | translate}}</div>
    <tab-bar></tab-bar>
  </ion-toolbar>
</ion-footer>
