.hyphen {
  hyphens: auto !important;
}

ion-card {
  box-shadow: none;
}

#drawer {
  margin-left: 5px;

  ion-item {
    --padding-start: 0;

    color: var(--ion-color-primary);
    padding-left: 0;

    ion-icon {
      color: var(--ion-color-primary);
      margin-inline-end: 10px;
    }
  }
}

.centered {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none !important; /* Disable Android and iOS callouts */
  user-select: none !important;
}

ion-icon.moduleIcon {
  font-size: 1.5rem;
}

ion-label.moduleLabel {
  font-size: 0.85rem;
}

ion-icon.moveModuleIcon {
  display: block;
  padding-right: 5px;
  padding-top: 5px;
}
