<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>
      {{ "appName" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- template for each tile -->
  <ng-template #moduleTemplate let-module="module" class="no-select">
    <div (click)="openModule(module, {}, true)" class="no-select">
      <div *ngIf="editingMode" align="right">
          <ion-icon class="moveModuleIcon" color="primary" name="move"></ion-icon>
      </div>
      <ion-icon class="moduleIcon centered" color="primary" *ngIf="module.icon" [name]="module.icon"></ion-icon>
      <ion-icon class="moduleIcon centered" color="primary" *ngIf="module.customIcon" [src]="module.customIcon"></ion-icon>
      <ion-label class="moduleLabel no-select">
        <div align="center" class="hyphen no-select ion-padding-top">
          {{ module.i18nKey | translate }}
        </div>
      </ion-label>
    </div>
  </ng-template>

  <!-- gridster grid displaying selected modules. Using the sortedModules object
   here because it already is an array, which is nice -->
  <modules-grid [modules]="sortedModules"
                [template]="moduleTemplate"
                (editingModeChanged)="editingMode = !editingMode"
                (gridChanged)="onGridChanged()"
                class="no-select">
  </modules-grid>

  <!-- menu with all available modules -->
  <ion-card *ngIf="sortedModules.length > 0" scrollY="true" id="drawer" style="width:100%">
    <ion-list lines="none">
      <ion-item *ngFor="let module of sortedModules | orderBy: 'translation'" (click)="openModule(module, {}, false)">

        <ion-icon *ngIf="module.icon" slot="start" [name]="module.icon"></ion-icon>
        <ion-icon *ngIf="module.customIcon" slot="start" [src]="module.customIcon"></ion-icon>
        <!-- title with icon -->
        <ion-label>
          {{ module.i18nKey | translate }}
        </ion-label>
        <!-- favourite-state icon -->
        <ion-icon slot="end" [name]="module.selected ? icon_selected : icon_not_selected"
        (click)="toggleSelectedState($event, module.componentName)">
        </ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
