lecture-list {

    .expandedRootItem {
        background-color: color($colors, primary);
        color: color($colors, secondary);
        border-radius: 0px;
    }

    .rootItem {
        background-color: color($colors, primary);
        color: color($colors, light);
        border-radius: 0px;
    }

    .expandedItem, .expandedCourse {
        background-color: color($colors, secondary);
        color: color($colors, primary);
        border-radius: 0px;
        margin-left: 0.5%;
    }

    .subTreeItem {
        background-color: color($colors, light);
        color: color($colors, primary);
        border-radius: 0px;
        margin-left: 0.5%;
    }

    .courseItem {
        background-color: color($colors, light);
        color: color($colors, primary);
        border-radius: 0px; 
        margin-left: 0.5%;

        p {
            font-size: small;
            color: color($colors, primary);
        }
    }

    .courseData {
        background-color: color($colors, light);
        color: color($colors, primary);
        border-radius: 0px; 
        font-size: small;
        margin-left: 0.5%;

        p {
            font-size: small;
            color: color($colors, primary);
        }
    }

    .courseKeywords {
        font-weight: bold;
    }

    .evenEvent {
        background-color: color($colors, secondary);
    }

    .eventHeader {
        background-color: color($colors, primary);
        color: color($colors, light);
    }

}
