<ion-list *ngIf="lectureSchedule && lectureSchedule.lectureScheduleRoot" text-wrap no-lines>
    <div *ngFor="let childNode of convertToArray(lectureSchedule.lectureScheduleRoot.rootNode.childNodes.childNode)" [ngClass]="!isExpanded[childNode.headerId] ? 'rootItem' : 'expandedRootItem'">
        <ion-item [ngClass]="!isExpanded[childNode.headerId] ? 'rootItem' : 'expandedRootItem'" tappable (click)="expandChild(childNode)"> 
            {{ htmlDecode(childNode.headerName) }}
            <button ion-button clear item-end>
                <ion-icon *ngIf="childNode.headerId && !isExpanded[childNode.headerId]" name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="childNode.headerId && isExpanded[childNode.headerId]" name="ios-arrow-down"></ion-icon>
            </button>
        </ion-item>
        <lecture-list *ngIf="childNode.headerId && isExpanded[childNode.headerId]" [headerIdInput]="headerId" [hasSubTreeInput]="hasSubTree"></lecture-list>
    </div>
</ion-list>
<div *ngIf="lectureSchedule && lectureSchedule.lectureScheduleSubTree" text-wrap>
    <div *ngFor="let childNode of convertToArray(lectureSchedule.lectureScheduleSubTree.currentNode.childNodes.childNode); let last = last" [ngClass]="!isExpanded[childNode.headerId] ? 'subTreeItem' : 'expandedItem'">
        <ion-item [ngClass]="!isExpanded[childNode.headerId] ? 'subTreeItem' : 'expandedItem'" tappable (click)="expandChild(childNode)">
            {{ htmlDecode(childNode.headerName) }}
            <button ion-button clear item-end>
                <ion-icon *ngIf="childNode.headerId && !isExpanded[childNode.headerId]" name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="childNode.headerId && isExpanded[childNode.headerId]" name="ios-arrow-down"></ion-icon>
            </button>
        </ion-item>
        <lecture-list *ngIf="childNode.headerId && isExpanded[childNode.headerId]" [headerIdInput]="headerId" [hasSubTreeInput]="hasSubTree"></lecture-list>
    </div>
</div>
<div *ngIf="lectureSchedule && lectureSchedule.lectureScheduleCourses && lectureSchedule.lectureScheduleCourses.currentNode.courses.course" text-wrap>
    <div *ngFor="let course of convertToArray(lectureSchedule.lectureScheduleCourses.currentNode.courses.course); let last = last" [ngClass]="!isExpandedCourse[course.courseId] ? 'courseItem' : 'expandedItem'">
        <ion-item [ngClass]="!isExpandedCourse[course.courseId] ? 'courseItem' : 'expandedItem'" tappable (click)="expandCourse(course)">
            {{ course.courseType }}: {{ htmlDecode(course.courseName) }}
            <button ion-button clear item-end>
                <ion-icon *ngIf="course.courseId && !isExpandedCourse[course.courseId]" name="ios-arrow-forward"></ion-icon>
                <ion-icon *ngIf="course.courseId && isExpandedCourse[course.courseId]" name="ios-arrow-down"></ion-icon>
            </button>
        </ion-item>
        <ion-item class="courseData" *ngIf="course.courseId && isExpandedCourse[course.courseId] && courseData[course.courseId]">
            <ion-grid class="courseData">
                <ion-row *ngIf="course.semester"> 
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.term" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>{{ course.semester }}</ion-col>
                </ion-row>
                <ion-row *ngIf="course.sws">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.sws" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>{{ course.sws }}</ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].courseLinks">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.links" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div *ngFor="let link of convertToArray(convertToArray(courseData[course.courseId].courseData.course)[0].courseLinks)">
                            <a [href]="link.courseLink.link" target="_blank">{{ link.courseLink.linkName }}</a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].enrolmentBegin">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.application" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].enrolmentBegin + ' - ' + convertToArray(courseData[course.courseId].courseData.course)[0].enrolmentEnd"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].language">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.lang" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].language"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].facilityName">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.department" | translate}}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].facilityName"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].shortComment">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.sComment" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].shortComment"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].comment">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.comment" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].comment"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].note">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.annotation" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].note"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].literature">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.literature" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].literature"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].qualification">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.prereq" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].qualification"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].examination">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.certificates" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].examination"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].content">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.learnContent" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].content"></div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="convertToArray(courseData[course.courseId].courseData.course)[0].audience">
                    <ion-col col-12 col-sm class="courseKeywords">{{ "page.lectures.audience" | translate }}:</ion-col>
                    <ion-col col-12 col-sm>
                        <div [innerHTML]="convertToArray(courseData[course.courseId].courseData.course)[0].audience"></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <span *ngFor="let group of courseGroups[course.courseId]; let i = index">
                <h5 style="font-weight: bold">{{ "page.lectures.group" | translate }} {{ group }}</h5>
                <ion-grid>
                    <ion-row class="eventHeader">
                        <ion-col col-12 col-sm>{{ "page.lectures.day" | translate }}</ion-col>
                        <ion-col col-12 col-sm>{{ "page.lectures.time" | translate }}</ion-col>
                        <ion-col col-12 col-sm>{{ "page.lectures.freq" | translate }}</ion-col>
                        <ion-col col-12 col-sm>{{ "page.lectures.duration" | translate }}</ion-col>
                        <ion-col col-12 col-sm>{{ "page.lectures.room" | translate }}</ion-col>
                        <ion-col col-12 col-sm>{{ "page.lectures.lecturer" | translate }}</ion-col>
                    </ion-row>
                    <span *ngFor="let event of convertToArray(convertToArray(this.courseData[course.courseId].courseData.course)[0].events.event); let i = index; let odd = odd">
                        <ion-row *ngIf="event.groupId == group" class="event">
                            <ion-col col-12 col-sm><span *ngIf="event.daySC">{{ event.daySC }}</span></ion-col>
                            <ion-col col-12 col-sm><span *ngIf="event.startTime && event.endTime">{{ event.startTime }} - {{ event.endTime }}</span></ion-col>
                            <ion-col col-12 col-sm><span *ngIf="event.rhythmSC">{{ event.rhythmSC }}</span></ion-col>
                            <ion-col col-12 col-sm><span *ngIf="event.startDate && event.endDate">{{ event.startDate }} - {{ event.endDate }}</span></ion-col>
                            <ion-col col-12 col-sm><span *ngIf="event.roomSc">{{ replaceUnderscore(event.roomSc) }}</span></ion-col>
                            <ion-col col-12 col-sm>
                                <span *ngIf="event.lecturers && event.lecturers.lecturer">
                                    <span *ngFor="let lecturer of convertToArray(event.lecturers.lecturer); let l = index; let first = first">
                                        <span *ngIf="checkDoubledLecturers(event, lecturer, l)">
                                            <span *ngIf="!first">, </span><span *ngIf="lecturer.lecturerTitle">{{ lecturer.lecturerTitle }} </span>{{ lecturer.lecturerLastname }}
                                        </span>
                                    </span>
                                </span>
                            </ion-col>
                        </ion-row>
                    </span>
                </ion-grid>
            </span>
        </ion-item>
    </div>
</div>
<div *ngIf="lectureSchedule && lectureSchedule.lectureScheduleCourses && !lectureSchedule.lectureScheduleCourses.currentNode.courses.course" class="courseItem" text-wrap>
    <ion-item class="noCourses">
        {{ "page.lectures.noCourses" | translate }}
    </ion-item>
</div>