<ion-header>
    <ion-toolbar>
        <ion-button slot="start" (click)="closeModal()" fill="clear">
            <ion-icon style="color: black; font-size: x-large;" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-title>{{ "page.lectures.title" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
    <span *ngIf="showItemTreePath && !isCourse">
        <span *ngFor="let treeItem of itemTree; let last = last">
            <ion-item-divider *ngIf="!last">
                <ion-label class="ion-text-wrap">
                    {{ treeItem }}
                </ion-label>
            </ion-item-divider>
        </span>
    </span>
    <ion-item-divider (click)="showItemTreePath = !showItemTreePath">
        <ion-label class="ion-text-wrap">
            {{ unescapeHTML(name) }}
        </ion-label>
        <ion-icon *ngIf="!isCourse" [name]="!showItemTreePath ? 'caret-forward' : 'caret-up'" size="small" slot="end" class="ion-padding-end"></ion-icon>
    </ion-item-divider>
    <app-lecture-list *ngIf="!isCourse" [headerIdInput]="headerId" [hasSubTreeInput]="hasSubTree"></app-lecture-list>
    <app-course-data *ngIf="isCourse" [course]="item"></app-course-data>
</ion-content>