<ion-header>
  <ion-navbar>
    <ion-title>{{ "page.practice.title" | translate}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openSettings()"><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar
    [(ngModel)]="query"
    [placeholder]="'page.practice.placeholder.search' | translate"
    (input)="filterItems(query)"
    debounce="750">
  </ion-searchbar>

</ion-header>

<ion-content padding (ionScroll)="onScrollListener()">
  <ion-refresher (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- list of emergencyCalls -->
  <p *ngIf="waiting_for_response == true" style="text-align: center">
    <ion-spinner></ion-spinner>
  </p>

  <p *ngIf="waiting_for_response == false && displayedList.length == 0 && error == null" style="text-align: center">
    {{ "page.practice.no_results" | translate }}
  </p>

  <p *ngIf="error != null" style="text-align: center">
    {{ "alert.network" | translate }} <br/><br/>
    {{error.name}}<br/>
    {{error.message}}<br/>
    {{error.error}}<br/>
  </p>

  <ion-list *ngIf="!waiting_for_response">
    <ion-item text-wrap detail-push *ngFor="let ADS of displayedList; let i = index" (click)="itemSelected(ADS, i)" [ngClass]="{'partner': ADS.partner!='0'}">

      <h2>{{ADS.date | date:'dd.MM.yy'}} - {{ADS.title}}</h2>

      <ion-grid>
          <ion-row>
            <ion-col><p [ngSwitch]="ADS.art"><span *ngSwitchCase="'1'">{{ "page.practice.item.praktika" | translate }}</span><span *ngSwitchCase="'2'">{{ "page.practice.item.student" | translate }}</span><span *ngSwitchCase="'3'">{{ "page.practice.item.graduate" | translate }}</span><span *ngSwitchCase="'4'">{{ "page.practice.item.thesis" | translate }}</span></p></ion-col>
            <ion-col *ngIf="ADS.firm != ''; else unknown_filed"><p>{{ADS.firm}}</p></ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>