page-practice {
    .partner {
        background-color: lightsteelblue;
    }

    h2.favorite {
        font-size: 1em;
        color: #014260;
        padding-left: 10px;
        margin-top: 15px !important;
        margin-bottom: 2px;
    }

    .removeFavButton {
        color: color($colors, primary)
    }
}

.toastPosition {
    .toast-wrapper {
        transform: translateY($navbar-md-height) !important;
    }
}