.studiengang {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    border-radius: 0px;
}

ion-list {
    padding-right: 10px;
    padding-left: 10px;
}

.gradesTable {
    padding-right: 5px;
    padding-left: 5px;
}