<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-button *ngIf="!(platform.is('ios') || platform.is('android'))" (click)="refreshGrades(true)" slot="end" fill="clear">
      <ion-icon style="font-size: x-large;" name="refresh"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.grades.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher *ngIf="platform.is('ios') || platform.is('android')" slot="fixed" (ionRefresh)="refreshGrades($event)">
    <ion-refresher-content pullingIcon="refresh" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="studentLoaded && !networkError">
    <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-selectDegree-hint"></app-hint-box>
  </div>

  <div align="center" *ngIf="!studentLoaded && !noUserRights && !networkError" class="ion-padding">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div *ngIf="noUserRights && !networkError">
    <app-hint-box hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-notSupported-hint"></app-hint-box>
  </div>

  <div *ngIf="networkError">
    <app-hint-box hintTypeI18nKey="alert.title.httpError" hintTextI18nKey="alert.network"></app-hint-box>
  </div>

  <div *ngIf="studentLoaded && !multipleDegrees && studentDetails">
    <ion-list>
      <ion-item color="primary" class="studiengang" lines="none" (click)="showGrades(0)">
        <ion-label class="ion-text-wrap">
          <div *ngIf="!isDualDegree[0]">
            <div *ngIf="studentDetails.Studiengaenge && studentDetails.Studiengaenge.dtxt && studentDetails.Abschl">
              {{ studentDetails.Abschl }} ({{ studentDetails.Studiengaenge.dtxt }})
            </div>
          </div>
          <div *ngIf="isDualDegree[0] && studentDetails.AbLtxt">
            {{ studentDetails.AbLtxt }}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <div align="center" *ngIf="loadingGrades" class="ion-padding">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>

  <div *ngIf="studentLoaded && multipleDegrees && studentDetails">
    <ion-list>
      <ion-item color="primary" *ngFor="let degree of studentDetails; let i = index" class="studiengang" lines="none" (click)="showGrades(i)">
        <ion-label class="ion-text-wrap">
          <div *ngIf="!isDualDegree[i]">
            <div *ngIf="degree.Studiengaenge && degree.Studiengaenge.dtxt && degree.Abschl">
              {{ degree.Abschl }} ({{ degree.Studiengaenge.dtxt }})
            </div>
          </div>
          <div *ngIf="isDualDegree[i] && degree.AbLtxt">
            {{ degree.AbLtxt }}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <div align="center" *ngIf="loadingGrades" class="ion-padding">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>

  <div class="gradesTable" *ngIf="gradesLoaded && studentGrades" align="center">
    <app-grades-table
    [studentGrades]="studentGrades"
    [studentDetails]="studentDetails"
    [isDualDegree]="isDualDegree"
    [i]="i"></app-grades-table>
  </div>
</ion-content>
