<ion-item>
  <span item-start *ngIf="i">
    <p>{{ i }}</p>
    <ion-icon [name]="bookDetails.icon" color="primary"></ion-icon>
  </span>
  <ion-icon *ngIf="!i" item-start color="primary" [name]="bookDetails.icon"></ion-icon>
  <span *ngIf="convertToArray(book.titleInfo)[0]">
    <b *ngIf="convertToArray(book.titleInfo)[0].nonSort">{{ convertToArray(book.titleInfo)[0].nonSort }}</b>
    <b *ngIf="convertToArray(book.titleInfo)[0].title">{{ convertToArray(book.titleInfo)[0].title }}</b><br>
    <p *ngIf="convertToArray(book.titleInfo)[0].subTitle">{{ convertToArray(book.titleInfo)[0].subTitle }}</p>
  </span>
  <span *ngIf="book.relatedItem && convertToArray(book.relatedItem)[0].$ && convertToArray(book.relatedItem)[0].$.type =='series'">
    <p *ngIf="book.titleInfo && convertToArray(book.titleInfo)[0].partNumber">{{ convertToArray(book.titleInfo)[0].partNumber }}</p>
    <p *ngIf="convertToArray(book.relatedItem)[0].titleInfo">{{ convertToArray(book.relatedItem)[0].titleInfo.title }}</p>
  </span>
  <span *ngIf="book.name">
    <p style="display: inline" class="author" *ngFor="let author of convertToArray(book.name); let j = index; let last = last">
      <span *ngIf="author.namePart && author.$ && author.$.type == 'personal'">
        <span *ngIf="convertToArray(author.namePart)[0] && convertToArray(author.namePart)[0]._">{{ convertToArray(author.namePart)[0]._ }},</span>
        <span *ngIf="convertToArray(author.namePart)[0] && !convertToArray(author.namePart)[0]._">{{ convertToArray(author.namePart)[0] }}</span>
        <span *ngIf="convertToArray(author.namePart)[1] && convertToArray(author.namePart)[1]._">{{ convertToArray(author.namePart)[1]._ }}</span><span *ngIf="!last && convertToArray(book.name)[j+1].namePart && convertToArray(book.name)[j+1].$ && convertToArray(book.name)[j+1].$.type == 'personal'">;</span>
      </span>
    </p>
  </span>
  <span *ngIf="book.location">
    <span *ngFor="let loc of convertToArray(book.location)">
      <span *ngIf="loc.holdingSimple && loc.holdingSimple.copyInformation && convertToArray(loc.holdingSimple.copyInformation)[0].enumerationAndChronology">
        <p class="author">
          {{ convertToArray(loc.holdingSimple.copyInformation)[0].enumerationAndChronology }}
        </p>
      </span>
    </span>
  </span>
  <p *ngIf="book.originInfo">
    <span *ngIf="book.originInfo.edition">{{ convertToArray(book.originInfo.edition)[0] }}, </span>
    <span *ngIf="bookDetails && bookDetails.publisher != ''">{{ bookDetails.publisher }},</span>
    <span *ngIf="book.originInfo.dateIssued && convertToArray(book.originInfo.dateIssued)[0]._">{{ convertToArray(book.originInfo.dateIssued)[0]._ }}</span>
  </p>
</ion-item>
