<ion-header>
  <ion-navbar>
    <ion-buttons left padding-left>
      <button ion-button (click)="closeModal()">
        <ion-icon name="arrow-back" style="font-size: x-large"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Kursinformation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- template for one single event, will be wrapped in ion-card tag -->
  <ng-template #singleEventTemplate let-event="event">
    <ion-card>
      <!-- title, need to use innerHtml here because title can contain HTML like &colon; -->
      <ion-card-header style="font-weight:bold" [innerHtml]="event.title+' ('+event.courseDetails.courseType+')'" text-wrap></ion-card-header>

      <ion-card-content>

        <ion-list>

          <!-- lecturer(s)-->
          <div *ngIf="isArray(event.eventDetails.lecturers.lecturer);
                      then multipleLecturersTemplate else singleLecturerTemplate"></div>

          <!-- template for event with single lecturer-->
          <ng-template #singleLecturerTemplate text-wrap>
            <b>{{ "page.timetable.lecturer" | translate }}:</b>
            {{ event.eventDetails.lecturers.lecturer.lecturerTitle }}
            {{ event.eventDetails.lecturers.lecturer.lecturerLastname }}
          </ng-template>

          <!-- template for event with multiple lecturers -->
          <ng-template #multipleLecturersTemplate text-wrap>
            <span *ngFor="let lecturer of event.eventDetails.lecturers.lecturer; let first = first; let last = last">
              <b *ngIf="first">{{ "page.timetable.lecturer" | translate }}:</b>
              {{ lecturer.lecturerTitle }} {{ lecturer.lecturerLastname }}<span *ngIf="!last">, </span>
            </span>
          </ng-template>


          <!-- time -->
          <div>
            <b>{{ "page.timetable.time" | translate }}:</b>
            {{ moment(event.startTime).format("LT")}}
            {{ "page.timetable.oclock" | translate }}
            -
            {{ "page.timetable.until" | translate }}
            {{ moment(event.endTime).format("LT") }}
            {{ "page.timetable.oclock" | translate }}
          </div>

          <!-- period -->
          <div>
            <b>{{ "page.timetable.period" | translate }}:</b>
            {{ event.eventDetails.startDate }}
            -
            {{ event.eventDetails.endDate }}
          </div>

          <!-- rhythm -->
          <div>
            <b>{{ "page.timetable.rhythm" | translate }}:</b>
            {{ event.eventDetails.rhythm }}
          </div>

          <!-- location -->
          <div>
            <b>{{ "page.timetable.location" | translate }}:</b>
            {{ event.eventDetails.location}}
          </div>

          <!-- building -->
          <div>
            <b>{{ "page.timetable.building" | translate }}:</b>
            <span *ngIf="event.eventDetails && event.eventDetails.building && event.eventDetails.building != 'N'">{{ event.eventDetails.building }}</span>
            <span *ngIf="event.eventDetails && event.eventDetails.building && event.eventDetails.building == 'N'"> / </span>
          </div>

          <!-- roomtype and room -->
          <div>
            <b>{{ "page.timetable.room" | translate }}:</b>
            {{ event.eventDetails.roomType }}
            <span *ngIf="event.eventDetails && event.eventDetails.room && event.eventDetails.room != 'N.'">{{ event.eventDetails.room }}</span>
          </div>

          <!-- comment -->
          <div *ngIf="event.eventDetails.comment">
            <b>{{ "page.timetable.comment" | translate }}:</b>
            {{ event.eventDetails.comment }}
          </div>
        </ion-list>

      </ion-card-content>
    </ion-card>
  </ng-template>

  <!-- append details about selected events below -->
  <ng-container *ngIf="events">
    <ng-container *ngFor="let event of events">
      <ng-template
        *ngTemplateOutlet="singleEventTemplate; context:{event:event}">
      </ng-template>
    </ng-container>
  </ng-container>

</ion-content>
