<ion-header>

  <ion-navbar>
    <ion-title>{{"page.timetable.title" | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div align="center" *ngIf="isLoading && !noUserRights" padding>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="noUserRights">
    <hint hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-notSupported-hint"></hint>
  </div>

  <span *ngIf="!noUserRights && !isLoading">
      <div align="center">
        <ion-row>
          <ion-col>
            <button [ngClass]="calendarOptions.calendarMode == 'month' ? 'activeCalendarButton' : 'calendarButton'" ion-button small (click)="changeCalendarMode('month')">
              {{ "page.timetable.month" | translate }}
            </button>
          <button *ngIf="showWeekCalendar" [ngClass]="calendarOptions.calendarMode == 'week' ? 'activeCalendarButton' : 'calendarButton'" ion-button small (click)="changeCalendarMode('week')">
            {{ "page.timetable.week" | translate }}
          </button>
            <button [ngClass]="calendarOptions.calendarMode == 'day' ? 'activeCalendarButton' : 'calendarButton'" ion-button small (click)="changeCalendarMode('day')">
              {{ "page.timetable.day" | translate }}
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div align="center">
        <ion-row>
          <ion-col>
            <button ion-button clear icon-only (click)="swipePrevious()"><ion-icon name="arrow-dropleft"></ion-icon></button>
          </ion-col>
          <ion-col col-8>
            <h6 id="title">{{ currentTitle }}</h6>
          </ion-col>
          <ion-col>
            <button ion-button clear icon-only (click)="swipeNext()"><ion-icon name="arrow-dropright"></ion-icon></button>
          </ion-col>
        </ion-row>
      </div>

      <!-- custom template for event in monthview -->
      <ng-template #templateMonthViewEvent let-view="view" let-row="row" let-col="col" let->
        <ng-container *ngFor="let event of view.dates[row*7+col].events">
          <div style="float: left">
            <div [style]="'background-color: #'+decimalToHex(event.courseDetails.courseId, 6) +' !important'"
                 class="calendar-event-inner">
              <!-- vertical blocks here symbolising courses-->
            </div>
          </div>
        </ng-container>
      </ng-template>

      <!-- custom template for event in weekview -->
      <ng-template #templateWeekViewEvent let-displayEvent="displayEvent">
        <div class="calendar-event-inner" [style]="'background-color: #'+decimalToHex(displayEvent.event.courseDetails.courseId, 6)+' !important'">
          {{displayEvent.event.title}}
        </div>
      </ng-template>

      <!-- custom template for event in dayview -->
      <ng-template #templateDayViewEvent let-displayEvent="displayEvent">
        <div class="calendar-event-inner" [style]="'background-color: #'+decimalToHex(displayEvent.event.courseDetails.courseId, 6)+' !important'">
          {{displayEvent.event.title}}
        </div>
      </ng-template>


      <calendar class="calendar" [eventSource]="eventSource"
        [calendarMode]="calendarOptions.calendarMode"
        [currentDate]="calendarOptions.currentDate"
        [locale]="calendarOptions.locale"
        [startingDayWeek]="calendarOptions.startingDayWeek"
        [startingDayMonth]="calendarOptions.startingDayMonth"
        [startHour]="calendarOptions.startHour"
        [endHour]="calendarOptions.endHour"
        [step]="calendarOptions.step"
        [timeInterval]="calendarOptions.timeInterval"
        [lockSwipeToPrev]="calendarOptions.lockSwipeToPrev"
        [dateFormatter]="calendarOptions.dateFormatter"
        [showEventDetail]="calendarOptions.showEventDetail"
        [autoSelect]="calendarOptions.autoSelect"
        (onTimeSelected)="timeSelected($event)"
        (onEventSelected)="eventSelected($event)"
        (onTitleChanged)="titleChanged($event)"
        [dayviewNormalEventTemplate]="templateDayViewEvent"
        [monthviewDisplayEventTemplate]="templateMonthViewEvent"
        [weekviewNormalEventTemplate]="templateWeekViewEvent"
      >
      </calendar>
  </span>

</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>
