<% if (!_.isEmpty(model.attributes)){ %>
<table data-role="table" data-mode="reflow" class="ui-responsive">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    	<%= (model.attributes.enrolmentBegin && model.attributes.enrolmentEnd) ? '<tr><th>Einschreibezeitraum:</th><td>'+model.attributes.enrolmentBegin+' - '+model.attributes.enrolmentEnd+'</td></tr>' : '' %>
    	<%= (model.attributes.language) ? '<tr><th>Sprache:</th><td>'+model.attributes.language+'</td></tr>' : '' %>
    	<%= (model.attributes.facilityName) ? '<tr><th>Einrichtung:</th><td>'+model.attributes.facilityName+'</td></tr>' : '' %>
        <%= (model.attributes.comment) ? '<tr><th>Kommentar:</th><td>'+model.attributes.comment+'</td></tr>' : '' %>
        <%= (model.attributes.note) ? '<tr><th>Informationen:</th><td>'+model.attributes.note+'</td></tr>' : '' %>
        <%= (model.attributes.literature) ? '<tr><th>Literatur:</th><td>'+model.attributes.literature+'</td></tr>' : '' %>
        <%= (model.attributes.qualification) ? '<tr><th>Vorraussetzung:</th><td>'+model.attributes.qualification+'</td></tr>' : '' %>
        <%= (model.attributes.examination) ? '<tr><th>Prüfungsleistung:</th><td>'+model.attributes.examination+'</td></tr>' : '' %>
    </tbody>
</table>
<% _.each(asArray(model.attributes.groups), function(group) { %>
<li class="lecture-group-detail">

	<h3 class="lecture-group-name"><%= group.name %></h3>

	<table data-role="table" data-mode="reflow" class="ui-responsive table-stripe  ui-table ui-table-reflow" >
		<thead>
			<tr>
				<th>Tag</th>
				<th>Zeit</th>
				<th>Rhythmus</th>
				<th>Dauer</th>
				<th>Raum</th>
				<th>Lehrperson</th>
			</tr>
		</thead>
		<tbody>
			<% _.each(asArray(group.dates), function(date) { %>
			<tr>
				<th><%= date.weekday %></th>
				<th><%= date.time %></th>
				<th><%= date.rhythm %></th>
				<th><%= date.timespan %></th>
				<th><%= date.room %></th>
				<th><%= date.lecturer %></th>
			</tr>
			<% }); %>
		</tbody>
	</table>
</li>
<% }); %>
<% }else{ %>
<p><i class="fa fa-info-circle"></i> Zu dieser Veranstaltung stehen noch keine Informationen zur Verfügung</p>
<% } %>