<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.grades.title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refreshGrades($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="studentLoaded">
    <hint hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-selectDegree-hint"></hint>
  </div>

  <div align="center" *ngIf="!studentLoaded && !noUserRights" padding>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="noUserRights">
    <hint hintTypeI18nKey="hints.type.hint" hintTextI18nKey="hints.text.grades-notSupported-hint"></hint>
  </div>

  <div *ngIf="studentLoaded && !multipleDegrees && studentDetails">
    <ion-list>
      <ion-item class="studiengang" no-lines tappable (click)="showGrades(0)">
        <div text-wrap *ngIf="studentDetails.Studiengaenge && studentDetails.Studiengaenge.dtxt && studentDetails.Abschl">
          {{ studentDetails.Abschl }} ({{ studentDetails.Studiengaenge.dtxt }})
        </div>
      </ion-item>
    </ion-list>
    <div align="center" *ngIf="loadingGrades" padding>
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <div *ngIf="studentLoaded && multipleDegrees && studentDetails">
    <ion-list>
      <ion-item *ngFor="let degree of studentDetails; let i = index" class="studiengang" no-lines tappable (click)="showGrades(i)">
        <div text-wrap *ngIf="degree.Studiengaenge && degree.Studiengaenge.dtxt && degree.Abschl">
          {{ degree.Abschl }} ({{ degree.Studiengaenge.dtxt }})
        </div>
      </ion-item>
    </ion-list>
    <div align="center" *ngIf="loadingGrades" padding>
      <ion-spinner></ion-spinner>
    </div>
  </div>

  <div *ngIf="gradesLoaded && studentGrades" align="center">
    <grades-table
    [studentGrades]="studentGrades"
    [studentDetails]="studentDetails"
    [isDualDegree]="isDualDegree"
    [i]="i"></grades-table>
  </div>
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>