<ion-header>
  <ion-navbar>
    <ion-title>{{ "page.imprint.title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/logo/logo_uni_potsdam.svg"/>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item><b>{{ "page.imprint.listHeader" | translate }}</b></ion-item>
    <button ion-item detail-push (click)="openPage('LegalNoticePage')">{{ "page.legalNotice.title" | translate }}</button>
    <button ion-item detail-push (click)="openPage('PrivacyPolicyPage')">{{ "page.privacyPolicy.title" | translate }}</button>
    <button ion-item detail-push (click)="openPage('TermsOfUsePage')">{{ "page.termsOfUse.title" | translate }}</button>
  </ion-list>
  <ion-list class="sysInfo" *ngIf="deviceInfo.cordovaVersion || deviceInfo.appVersion || deviceInfo.osPlatform || deviceInfo.osVersion || deviceInfo.uuid || deviceInfo.deviceManufacturer || deviceInfo.deviceModel">
    <ion-item class="sysHeader"><b>{{ "page.imprint.sysInfo" | translate }}</b></ion-item>
    <ion-item *ngIf="deviceInfo.cordovaVersion">Cordova Version: {{ deviceInfo.cordovaVersion }}</ion-item>
    <ion-item *ngIf="deviceInfo.appVersion">App Version: {{ deviceInfo.appVersion }}</ion-item>
    <ion-item *ngIf="deviceInfo.osPlatform">Platform: {{ deviceInfo.osPlatform }}</ion-item>
    <ion-item *ngIf="deviceInfo.osVersion">Platform Version: {{ deviceInfo.osVersion }}</ion-item>
    <ion-item *ngIf="deviceInfo.uuid">UUID: {{ deviceInfo.uuid }}</ion-item>
    <ion-item *ngIf="deviceInfo.deviceManufacturer">Device Manufacturer: {{ deviceInfo.deviceManufacturer }}</ion-item>
    <ion-item *ngIf="deviceInfo.deviceModel">Device Model: {{ deviceInfo.deviceModel }}</ion-item>
  </ion-list>
</ion-content>
