<meta name="title" content="Events" />
<!-- Start Main - Navigation -->
<div id="events" data-role="content" data-theme="c">
	<div style="margin-top:40px;" class="up-loadingSpinner">
		<img src="img/loadingspinner.gif"></img>
	</div>
</div>