<ion-row>
  <ion-col>
    <ion-card (click)="openWebsite(article.News.link)">
      <ion-card-header text-wrap>
        {{ article.News.headline }}
      </ion-card-header>
      <ion-card-content *ngIf="article.News.text || article.News.description" text-wrap>
        <div *ngIf="(article.NewsSource.name == 'Uni Nachrichten' || article.NewsSource.name == 'Uni Medienmitteilungen' || article.NewsSource.name == 'Zur Quelle' || article.NewsSource.name == 'AstA Protokolle'); else descriptionOnly" [innerHTML]="article.News.text"></div>
        <ng-template #descriptionOnly>
          <div [innerHTML]="article.News.description"></div>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
