// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// // Add UP Font
// /* Source Sans Pro Regular */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro Regular"), local("Source-Sans-Pro-Regular") format("truetype");
}

/* Source Sans Pro Light */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Sans Pro Light"), local("Source-Sans-Pro-Light") format("truetype");
}

/* Source Sans Pro Bold */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("Sourc-Sans-Pro-Bold") format("truetype");
}

/*reset default theme box shadows and border radius */
ion-button {
  --box-shadow: none;
  border-radius: 0;
  text-transform: uppercase;
}

ion-item {
  --inner-padding-end: 10px;
  --padding-start: 5px;

  ion-label {
    --inner-padding-end: 5px;
  }

  ion-icon {
      -webkit-margin-start: 5px;
      margin-inline-end: 10px;
  }
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before {
	background-image:none;
}

// adjust global layout settings
.scroll-content {
  overflow-y:auto !important;
  padding: 0;
}

ion-app.md [padding] .scroll-content {
  padding: 0px;
}

ion-menu-button {
  color: black;
}

ion-segment-button {
  --padding-end: 0;
  --padding-start: 0;
  --margin-end: 0;
  --margin-start: 0;
  font-size: small;
}

ion-back-button {
  --color: black!important;
  --ion-text-color: black!important;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0px;
    width: 100%;
    border-radius:0;

    img {
      margin: auto;
      width: 50%;
    }

    .loggedIn {
      opacity: 0.05 !important;
    }

  }

  .card-title {
    position: absolute;
    top: 25%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 65%;
    width: 100%;
    color: #000;
  }

}

// placeholder image
.placeholder-img {
  padding:0 !important;
  margin-bottom:10px;

  em {
    position: absolute;
    display: block;
    background: black;
    color: white;
    bottom: 0;
    padding: 1px;
    font-size: .8em;
  }
}

ion-card {
  box-shadow: none!important;
  -webkit-box-shadow:none!important;
}

ion-content.modalOpened {
  --overflow: hidden;
}

.calendar {
  hyphens: auto!important;

  .monthview-datetable td.monthview-primary-with-event {
    background-color: var(--ion-color-primary) !important;
  }

  .monthview-datetable td.monthview-secondary-with-event {
    background-color: var(--ion-color-secondary) !important;
  }

  .monthview-datetable td.monthview-current {
    background-color: var(--ion-color-light) !important;
    color: black !important;
  }

  .calendar-event-inner {
    height: 100%!important;
    overflow: hidden!important;
  }

  .calendar-hour-column {
    width: 5rem!important;
  }

  // https://github.com/twinssbc/Ionic2-Calendar/issues/54#issuecomment-354191281
  .weekview-allday-table, .dayview-allday-table {
    display: none!important;
  }

  .weekview-normal-event-container, .dayview-normal-event-container {
    margin: 0;
  }

  .weekview-normal-event-container {
    margin-top: 37px!important;
  }

}