<meta name="title" content="Mail" />

<div data-role="content" class="ui-content">

	<div class="mail-message">
		<p>Login läuft</p>
	</div>

	<div class="mail-message mail-credentials" style="display: none">
		<p>Login fehlgeschlagen. Benutzername oder Passwort falsch!</p>
	</div>

	<div class="mail-message mail-error" style="display: none">
		<p>Login fehlgeschlagen. Unbekannter Fehler</p>
	</div>

</div>