<meta name="title" content="Mail" />

<div data-role="content" class="ui-content">

	<div class="mail-message">Login läuft</div>
	<div class="mail-message mail-credentials" style="display: none">Login fehlgeschlagen. Benutzername oder Passwort falsch!</div>
	<div class="mail-message mail-error" style="display: none">Login fehlgeschlagen. Unbekannter Fehler</div>

</div>