<meta name="title" content="Moodle" />
<!-- Start Main - Navigation -->
<div data-role="content" data-theme="c">
	<div id="courselist">
		<form>
			<input data-type="search" id="searchForMoodleCourses" placeholder="Eintr&auml;ge filtern" />
		</form>
		<ul id='moodle_courses' data-role="listview" data-theme="c" data-filter="true" data-input="#searchForMoodleCourses" >
		</ul>
	</div>
	<div id="loadingSpinner"></div>
</div>