<!-- Auslagerung in Template -->
<div data-role="collapsible">
  <h3>
    Moodle-Kursname
  </h3>
  <p>
    Neuigkeiten
    <%= (link) ? '<b>Link:</b><a href="'+link+' target="_blank">'+link+'</a><br />' : ''%>
  </p>
</div>