<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "page.events.title" | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar *ngIf="locationsList">
    <ion-segment *ngIf="timespan != 1" color="primary">
      <button  ion-button small *ngFor="let location of locationsList; let i = index" (click)="setLocation(i)" [color]="isActive(i)">
        {{ locationsList[i] }}
      </button>
    </ion-segment>
    <ion-segment *ngIf="timespan == 1" color="primary">
      <button ion-button small *ngFor="let location of todaysLocationsList; let i = index" (click)="setLocation(i)" [color]="isActive(i)" [disabled]="!eventsToday">
        {{ todaysLocationsList[i] }}
      </button>
    </ion-segment>
    
  </ion-toolbar>

</ion-header>


<ion-content>
  <!-- <div *ngIf="(timespan == 1)">
    <ion-row>
      <ion-col>
        <ion-card *ngIf="(eventsToday == 0)">
          <ion-card-content>
            Du hast heute keine anstehenden Veranstaltungen.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> -->
  <div *ngFor="let event of eventsList">
    <event-view *ngIf="(timespan == 0) && (event.Place.name == locationsList[eventLocation])" [event]="event"></event-view>
  </div>
  <div *ngFor="let event of todaysEventsList">
    <event-view *ngIf="(timespan == 1) && (event.Place.name == todaysLocationsList[eventLocation])" [event]="event"></event-view>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <div align="center">
        <button ion-button small (click)="setTimespan(0)" [color]="isActiveTimespan(0)">{{ "page.events.eventsAll" | translate }}</button>
        <button ion-button small (click)="setTimespan(1)" [color]="isActiveTimespan(1)">{{ "page.events.eventsToday" | translate }}</button>
        <button ion-button small (click)="setTimespan(2)" [color]="isActiveTimespan(2)">{{ "page.events.eventsNext" | translate }}</button>
      </div>
    </ion-segment>
  </ion-toolbar>
</ion-footer>