<div>
    <ul id='filterable-locations' data-role='listview' data-filter='true' data-filter-reveal='true' data-filter-placeholder='Suchbegriff eingeben...' data-inset='true'></ul>
    <div class='ui-controlgroup ui-controlgroup-vertical ui-corner-all' data-role='controlgroup' data-filter='true' data-input='#filterable-locations' data-filter-reveal='true' data-enhanced='true'>
        <div class='ui-controlgroup-controls'></div>
    </div>
    <div id='error-placeholder'></div>
    <!-- map loads here... -->
    <div id='map-canvas' class='gmap3'></div>
</div>