<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ "page.roomplan.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-campus-tab (campusChanged)="switchLocation($event)"></app-campus-tab>
  </ion-toolbar>
</ion-header>

<ion-content no-padding (swipe)="swipeCampus($event)">
  <ion-refresher (ionRefresh)="refreshRoom($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>{{ "page.roomplan.date" | translate }}</ion-label>
    <ion-select [(ngModel)]="select_day" (ionChange)="changeDay()" okText="{{ 'button.ok' | translate }}" cancelText="{{ 'button.cancel'  | translate }}">
      <ion-select-option *ngFor="let day of days" [value]="day.value">{{day.lbl | date:'dd.MM.yyyy'}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-template #noRoomsFoundTemplate>
    <app-hint-box hintTextI18nKey="page.roomplan.no_rooms_hintText"
          hintTypeI18nKey=""></app-hint-box>
  </ng-template>

  <ng-template #roomsFoundTemplate>
    <ion-list>
      <div *ngFor="let house of housesFound">
        <ion-item (click)="expandHouse(house.lbl)">
          <ion-label no-margin>
            <h2>
              <b>{{ "words.house" | translate }} {{house.lbl}}</b>
              <ion-badge color="primary">
                  {{house.rooms.length}}
                  <span *ngIf="house.rooms.length == 1">{{ "words.booking" | translate }}</span>
                  <span *ngIf="house.rooms.length > 1">{{ "words.bookings" | translate }}</span>
              </ion-badge>
            </h2>
          </ion-label>
          <ion-icon [name]="!house.expanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
        </ion-item>
        <div *ngIf="house.expanded">
          <div *ngFor="let room of house.rooms">
            <ion-item (click)="expandRoom(house.lbl,room.lbl)">
              <ion-label no-margin>
                <h2>{{room.lbl}}<ion-badge color="secondary">{{room.events.length}}</ion-badge></h2>
              </ion-label>
              <ion-icon [name]="!room.expanded ? 'arrow-dropright' : 'arrow-dropdown'" slot="end"></ion-icon>
            </ion-item>
            <div *ngIf="room.expanded">
              <ion-item margin-left *ngFor="let event of room.events">
                <ion-label text-wrap>
                  <u>
                      <b>
                        {{event.startTime | date:'HH:mm'}} - {{event.endTime | date:'HH:mm'}} {{ "words.clock" | translate }}
                      </b>
                    </u>
                    <br/>

                    <i>{{event.lbl}}</i>
                    <br/>
                    <p *ngFor="let person of event.persons">
                      <ion-badge color="danger">{{person}}</ion-badge>
                    </p>
                </ion-label>
              </ion-item>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ng-template>

  <p *ngIf=" housesFound.length == 0 && error == null && !requestProcessed" style="text-align: center">
    <ion-spinner></ion-spinner>
  </p>

  <ng-container *ngIf="housesFound.length == 0 && requestProcessed;
                then noRoomsFoundTemplate; else roomsFoundTemplate">
  </ng-container>

</ion-content>
