/* login button  - Höhe*/

#home .ui-page-theme-b .ui-btn,html #home .ui-bar-b .ui-btn,html #home.ui-body-b .ui-btn,html body  #home.ui-group-theme-b .ui-btn,html head+body  #home.ui-btn.ui-btn-b,#home.ui-page-theme-b .ui-btn:visited,html #home.ui-bar-b .ui-btn:visited,html #home .ui-body-b .ui-btn:visited,html body #home .ui-group-theme-b .ui-btn:visited,html head+body #home .ui-btn.ui-btn-b:visited
	{
	border-color: #94bbe3;
}

#home .ui-btn {
	font-size: 16px;
	margin: 0 0;
	padding-right:1em;
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	/* vertikal zentrieren*/
	display: block;
	vertical-align: middle;
	height: 78px;
}

#home .ui-btn.settings.ui-icon-gear {
	height:15px;
	margin-right:10px;
}

/*
#home .ui-page-theme-a .ui-btn:hover, html #home .ui-bar-a .ui-btn:hover {
	background:#d0dae3;
}*/
/*
#home .ui-btn-icon-left.settings:hover:after, #home .ui-btn-icon-left.settings:active:after {
	background-color:#dedede;
}*/

#home .ui-header .ui-title {
	background-image: none;
	margin-left: 10px;
	color: #FFF;
	font-family: GEorgia, serif;
	font-weight: normal;
	text-transform:none;
	letter-spacing:.1em;
	font-style:italic;
}


#home .ui-header {
	background-color:#014260 !important;
}


#home .ui-icon-gear:after {
	background-color:#fff;
	background-image:url(../img/up/gear.svg);
}

/*1. icons startseite*/
#home .ui-listview.ui-group-theme-c  li a span {
	background-image: url(../img/up/arrow-darkblue.png) !important;
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 12px;
	display: inline-block;
}


#home .ui-listview.ui-group-theme-c  li.news a span {
	background-image: url(../img/up/arrow-white.png) !important;
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 12px;
	display: inline-block;
}

#home .ui-listview.ui-group-theme-c  li.news a {
	background-image: url(../img/up/news.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.events a {
	background-image: url(../img/up/events.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.study a {
	background-image: url(../img/up/study.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.around a {
	background-image: url(../img/up/around.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.plans a {
	background-image: url(../img/up/plans.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.search a {
	background-image: url(../img/up/search.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

#home .ui-listview.ui-group-theme-c  li.impressum a {
	background-image: url(../img/up/impressum-index.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

/*3. icons studium onlinedienste*/
.ui-listview.ui-group-theme-c  li a span {
	background-image: url(../img/up/arrow-darkblue.png) !important;
	background-repeat: no-repeat;
	background-position: right;
	width: 20px;
	height: 12px;
	display: inline-block;
}

.ui-listview.ui-group-theme-c  li.calendar a {
	background-image: url(../img/up/calendar.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.lecturesdir a {
	background-image: url(../img/up/lecturesdir.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.grades a {
	background-image: url(../img/up/grades.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.moodle a {
	background-image: url(../img/up/moodle.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.itservices a {
	background-image: url(../img/up/itservices.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

/*4. icons rund ums studium*/
.ui-listview.ui-group-theme-c  li.events a {
	background-image: url(../img/up/events.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.mensa a {
	background-image: url(../img/up/mensa.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.emergency a {
	background-image: url(../img/up/emergency.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.sports a {
	background-image: url(../img/up/sports.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

/*4. icons plaene orte*/
.ui-listview.ui-group-theme-c  li.sitemaps a {
	background-image: url(../img/up/sitemaps.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.rooms a {
	background-image: url(../img/up/rooms.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}
.ui-listview.ui-group-theme-c  li.opening a {
	background-image: url(../img/up/opening.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ui-listview.ui-group-theme-c  li.travel a {
	background-image: url(../img/up/travel.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

/*panel*/

.nav-search .ui-btn-icon-right:after {
	left:1em;
}

ul.nav-search li a.ui-icon-gear {
	text-indent:28px;
}