/*LAYOUT*/

/*******************generell********************
*********************************************************/
.ui-shadow {
	box-shadow: 0px 0px 0px !important;
}
/*Abstände zum inhalt zurücksetzen*/
.ui-content {
	padding: 0em;
}

body,.ui-page {

	margin: 0 auto;
}

/* margin-top der listview zurücksetzen*/
.ui-content .ui-listview-inset,.ui-panel-inner>.ui-listview-inset {
	margin: 0em 0;
}

/*rechter und linker rand bei listen weg*/
.ui-listview-inset>.ui-li-static,.ui-listview-inset>.ui-li-divider,.ui-listview-inset>li>a.ui-btn
	{
	border-right-width: 0px;
	border-left-width: 0px;
}

/* kein Rand Footer/Header, Weite begrenzen*/
.ui-header,.ui-footer {
	border-width: 0px;
	border-style: solid;

}

.ui-header {
	height: 38px;
	padding: 0;
	margin-bottom: 5px;
}

p {
	margin: 0;
}

.blau {
	color: #014260;
}

.black {
	color: #666;
}

.normal {
	font-weight: normal;
}

.alignleft {
	float: left;
	margin: .3em;
}

/*header*/
.ui-header .ui-title {
	background-image: url(../img/up/seperator.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.ui-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*SCHRIFT*/
.ui-header .ui-title,.ui-footer .ui-title {
	font-size: 1em;
	min-height: 1.1em;
	text-align: left;
	display: block;
	margin: 0 0.5em;
	padding: 0.7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-weight: bold;
	margin-left: 45px;
	text-indent: 10px;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	margin-left: 1em;
}

h2 span {
	font-weight: bold;
	text-transform: uppercase;
}

.ui-listview.ui-group-theme-c .ui-btn {
	font-size: 16px;
	margin: 0 0;
	padding-right:1em;
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	/* vertikal zentrieren*/
	display: block;
	vertical-align: middle;
	height: 78px;

}

/*2. Back button*/
.ui-page-theme-a .ui-btn.back,html .ui-bar-a .ui-btn.back,html .ui-body-a .ui-btn.back,html body .ui-group-theme-a .ui-btn.back,html head+body .ui-btn.ui-btn-a.back,.ui-page-theme-a .ui-btn.back:visited,html .ui-bar-a .ui-btn.back:visited,html .ui-body-a .ui-btn.back:visited,html body .ui-group-theme-a .ui-btn.back:visited,html head+body .ui-btn.ui-btn-a.back:visited
	{
	border: none;
	color: #cfdae3;
	background-color: transparent;
	background-image: url(../img/up/arrow-back.png);
	background-repeat: no-repeat;
	text-indent: -400000px;
	position: relative;
	float: left;
	margin-left: 5px;
}

/*default buttons links */
.ui-btn-icon-left:after,.ui-btn-icon-right:after {
	background-color: #014260;
}

.ui-btn {
	padding-right: 0;
}

.ui-header .ui-btn {
	padding-right: 1em;
}
/*hover*/
.ui-page-theme-a .ui-btn.back:hover,html .ui-bar-a .ui-btn.back:hover,html .ui-body-a .ui-btn.back:hover,html body .ui-group-theme-a .ui-btn.back:hover,html head+body .ui-btn.ui-btn-a.back:hover
	{
	background-color: none;
	border: none;
	color: #cfdae3;
	background-image: url(../img/up/arrow-back-hover.png);
}

/*Menubutton*/
.menubutton.ui-link.ui-btn-left.ui-btn,.menubutton.ui-link.ui-btn-left.ui-btn:visited
	{
	position: relative;
	float: left;
	padding-left: 33px;
	text-indent: -40000px;
	background-image: url(../img/up/menubutton.png) !important;
	background-repeat: no-repeat;
	background-position: top right;
	background-color: transparent;
	border: none;
	left: 0;
	top: 0;
	margin: 0;
	height: 100%;
}

/*tabs*/
.ui-navbar li {
	border-right: 2px solid #fff;
}

.ui-navbar .ui-page-theme-c .ui-btn,html  .ui-bar-c .ui-navbar .ui-btn,html  .ui-body-c .ui-navbar .ui-btn,html body .ui-group-theme-c  .ui-navbar .ui-btn,html head+body .ui-navbar .ui-btn.ui-btn-c,.ui-page-theme-c .ui-navbar .ui-btn:visited,html .ui-bar-c .ui-navbar .ui-btn:visited,html .ui-body-c .ui-navbar .ui-btn:visited,html body .ui-group-theme-c .ui-navbar .ui-btn:visited,html head+body .ui-navbar.ui-btn.ui-btn-c:visited
	{
	border: none;
	height: 35px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	line-height: 35px
}



/*Schrift in Tabs*/
.ui-navbar li .ui-btn {
	font-size: 12.5px;
	font-weight: normal;
	text-transform: uppercase;
}

#library .ui-tabs {
	background-color: #d0dae3;
	padding: 0;
}

#libraryContent li.ui-state-active:after {
	background-image: url(../img/up/marker.png);
	background-repeat: no-repeat;
	background-position: 50%;
	content: ".";
	display: block;
	color: #d0dae3;
	margin-top: -6px;
	padding: 0;
	border-right: 1px solid #d0dae3;
}

/* Datebox*/
.ui-input-datebox {
	width: 100%;
	background-image: none;
	padding: .4em;
	font-size: 16px;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #014260;
}

.ui-input-datebox input {
	color: #fff;
	text-shadow: none;
}

label.showfirst {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2.9em;
	display: block;
	color: red;
	white-space: nowrap;
	font-weight: normal;
}

/*suche input*/
.ui-input-search,.ui-input-text {
	border: 2px inset #ededed;
}

/* popup panel */
#nav-panel ul.nav-search  li a,#nav-panel2 ul.nav-search  li a,#nav-panel3 ul.nav-search  li a
	{
	background-image: url(../img/up/arrow-darkblue.png);
	background-repeat: no-repeat;
	background-position: right;
	border-right: 15px solid #d0dae3;
}

#nav-panel ul.nav-search  li a:hover,#nav-panel2 ul.nav-search  li a:hover,#nav-panel3 ul.nav-search  li a:hover
	{
	background-image: url(../img/up/arrow-white.png);
	border-right: 15px solid #014260;
	border-top: 1px;
	border-bottom: 1px;
}

#nav-panel ul.nav-search  li:first-child a,#nav-panel2 ul.nav-search  li:first-child a,#nav-panel3 ul.nav-search  li:first-child a
	{
	background-image: url(../img/up/close.png);
}

#nav-panel ul.nav-search  li:first-child:hover a,#nav-panel2 ul.nav-search  li:first-child:hover a,#nav-panel ul.nav-search  li:first-child:hover a
	{
	background-image: url(../img/up/close-hover.png);
}

/* Circles
-------------------- */
.both,.prebook {
	display: block;
	float: left;
	height: 0px;
	width: 0px;
	border-right: 10px solid #990808;
	border-top: 10px solid #459909;
	border-left: 10px solid #459909;
	border-bottom: 10px solid #990808;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.closed,.lent {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background-color: #990808;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	margin-right: 10px;
	margin-left: 10px;
}

.open,.available {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background-color: #459909;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
	margin-right: 10px;
	margin-left: 10px;
}

.lent,.prebook,.available {
	margin-left: 0;
}

/*arrow up - arrow down
-------------------- */
.ui-icon-arrow-down:after {
	background-image: url(../img/up/arrow-down.png);
	background-color: transparent;
}

.ui-icon-arrow-up:after {
	background-image: url(../img/up/arrow-up.png);
	background-color: transparent;
}

.ui-icon-arrow-white-down:after {
	background-image: url(../img/up/arrow-white-down.png);
	background-color: transparent;
}

.ui-icon-arrow-white-up:after {
	background-image: url(../img/up/arrow-white-up.png);
	background-color: transparent;
}


/*arrow right */
.ui-icon-arrow-darkblue:after {
	background-image: url(../img/up/arrow-darkblue.png);
	background-color: transparent;
}

/* Sorter
-------------------- */
#sorter .ui-li.ui-li-static.ui-btn-up-c {
	height: 3.8%;
	padding: 0;
	font-size: 8px;
	padding-left: 5px;
	line-height: 1.8em;
}

#sorter {
	position: fixed;
	top: 60px;
	right: 0;
	width: 20px;
	z-index: 1;
}

#sorter ul {
	height: 100%;
}

#sortedList {
	padding-right: 35px;
}

/*********************************emergency**********************************
****************************************************************************/
#emergency .ui-listview .ui-btn {
	text-align: left;
	display: block;
	background-image: url(../img/up/phone.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	padding-left: 65px;
	height: auto;
	height: auto;
}

#emergency .ui-listview .ui-btn:hover {
	background-image: url(../img/up/phone-hover.png);
}

#emergency .ui-listview .ui-btn h2 {
	text-transform: none;
	font-size: .8em;
	margin-bottom: 0 !important;
}

#emergency .ui-listview>li p {
	white-space: normal;
	text-transform: none;
	width: 87%;
	margin-top: 0;
}

/*************************************Mensa*********************************
*****************************************************************************/
html  .ui-body-c .speiseplan a,html body  .ui-group-theme-c .speiseplan a
	{
	font-weight: normal;
	color: #000;
	font-size: .6em;
}

.speiseplan h3 span {
	font-weight: bold;
	color: #014260;
	font-size: 1.3em;
}

.up-loadingSpinner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
}

/* mensa piktogramme */
.speiseplan h3 img {
	display: inline-block;
	margin-right: 10px;
	float: left;
}

.speiseplan h3 img {
	width: 30px;
	height: 30px;
}

.speiseplan .ui-btn-icon-left:after,.speiseplan .ui-btn-icon-notext:after
	{
	border-radius: 0em;
	background-color: transparent;
	position: relative;
	float: right;
}

#mensa .ui-input-text {
	border: none;
}
/* mensa piktogramme */
.speiseplan .mensaicons {
	width: 45px;
	float: left;
}

.speiseplan img {
	margin-left: 5px;
	vertical-align: middle;
}

.speiseplan .ui-collapsible-inset .ui-collapsible-heading-collapsed .ui-btn .mensatext
	{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 30px;
}

.speiseplan .ui-collapsible-inset .ui-collapsible-heading .ui-btn .mensatext
	{
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 30px;
}

.speiseplan .ui-btn-icon-notext:after,.speiseplan .ui-btn-icon-left:after,.speiseplan .ui-btn-icon-right:after
	{
	margin-left: 93%;
}

.speiseplan .ui-btn-icon-left {
	padding-left: .5em;
}

.speiseplan .ui-collapsible-content.ui-body-inherit {
	background: #cfdae3;
	color: #000;
	font-size: .8em;
	padding-left: 88px;
}

html .ui-body-c .speiseplan .ui-body-inherit.ui-collapsible-content .second-mensaicons img
	{
	width: 30px;
	height: 30px;
	float: left;
}

.second-mensaicons {
	width: 40px;
}

.second-mensaicons img {
	display: block;
}

/*************************************MAp************************************
*******************************************************************************/

/* colors for sitemap categories */
.sitemap-institutes {
	background-color: #e57967 !important;
}

.sitemap-terminals {
	background-color: #e8e466 !important;
}

.sitemap-canteens {
	background-color: #7cc292 !important;
}

.sitemap-parking {
	background-color: #70c8dc !important;
}

.sitemap-associateinstitutes {
	background-color: #cf6da8 !important;
}

.sitemap-living {
	background-color: #897cc2 !important;
}

/*icons akkordion*/
.speiseplan .ui-icon-plus:after {
	background-image: url(../img/up/arrow-down.png);
}

.speiseplan .ui-icon-minus:after {
	background-image: url(../img/up/arrow-up.png);
}

.ui-page-theme-a .ui-btn.settings {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	padding: .3em 2em 2em 1em;
}

.ui-btn-icon-left.settings:after {
	background-color: #014260;
	opacity: 1
}

.ui-btn-icon-left.settings:hover:after,.ui-btn-icon-left.settings:active:after
	{
	background-color: #ededed;
}

/***************Öffnungszeiten********************
*****************************************************/
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	border-right-width: 0px;
	border-left-width: 0px;
	background: #cfdae3;
	text-shadow: none;
	border-bottom: none;
}

.ui-collapsible-inset .ui-collapsible-heading-collapsed .ui-btn {
	background: #ededed;
	padding: .8em 0em !important;
	/*macht die Lücke in der Liste bei den Öffnugnszeiten weg....muss vielleicht nicht?° */
	white-space: no-wrap:
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	padding: .8em 0em !important;
	/*macht die Lücke in der Liste bei den Öffnugnszeiten weg....muss vielleicht nicht?° */
	white-space: normal;
}

html .ui-body-c .speiseplan .ui-body-inherit.ui-collapsible-content {
	padding-left: 0px;
	min-height: 70px;
}

html .ui-body-c .speiseplan .ui-body-inherit.ui-collapsible-content p {
	padding-left: 47px;
	margin-top: 0px
}
/*Liste - Öffnungszeiten */
.ui-bar-inherit.ui-li-divider { /*Zeilen für A, B, C ....*/
	background: #dedede !important;
	border: none;
}

.ui-listview>.ui-li-static {
	padding: 0px;
}

html .ui-body-c .ui-body-inherit.ui-collapsible-collapsed,html .ui-body-c .ui-body-inherit.ui-collapsible
	{
	border-color: #cccccc;
}

.ui-listview>li h3 {
	margin: 0 0;
}

.ui-listview>li p {
	text-transform: none;
}

.ui-bar-inherit.ui-li-divider {
	border: none !important
}

#opening li.ui-collapsible h3.ui-collapsible-heading.ui-collapsible-heading-collapsed a
	{
	background: #ededed;
	border: none;
}

ui-collapsible-heading-toggle,li.ui-collapsible h3.ui-collapsible-heading a,ui-collapsible-heading-toggle
	{
	background: #d0dae3;
}

html .ui-body-c .ui-body-inherit.ui-collapsible-content {
	background: #d0dae3;
}

html .ui-body-c .ui-body-inherit.ui-collapsible-content h4 {
	color: #014260 font-size:  .8em;
}

/*table  öffnungszeiten
---------------------------------*/
#opening p {
	font-size: .8em;
	margin-bottom: 0px !important;
}

#opening table thead tr th {
	display: none;
}

#opening table {
	display: block;
	font-size: .8em;
	margin-bottom: 20px !important;
}

#opening .ui-table-reflow.ui-responsive td {
	min-width: 260px;
}

#opening .table-stripe tbody tr:nth-child(odd) th {
	background-color: rgba(255, 255, 255, 0.4);
}

.table-stripe tbody tr:nth-child(odd) td,.table-stripe tbody tr:nth-child(odd) th
	{
	background-color: rgba(255, 255, 255, 0.4);

}

#opening .table-stripe tbody tr:nth-child(even) th {
	background-color: rgba(255, 255, 255, 0.8);
}

.table-stripe tbody tr:nth-child(even) td,.table-stripe tbody tr:nth-child(even) th
	{
	background-color: rgba(255, 255, 255, 0.8);
}

.ui-table-reflow tbody th {
	margin-top: .5em;
}

/*öffnungszeiten - button hover */
#opening.ui-page-theme-a ul .ui-btn:hover {
	background: #dedede !important;
	color: #014260;
}

/****************************** Verkehr ******************
***********************************************************/
.buttons_pt {
	margin-top: 10px;
}

.ui-body-c .buttons_pt.ui-navbar .ui-btn,.ui-body-c .buttons_pt.ui-navbar .ui-input-text
	{
	display: inline-block;
	width: 90%;
	height: 20px;
	text-transform: none;
	font-size: .8em;
	font-weight: bold;
}

html .ui-body-c .buttons_pt .ui-btn.ui-btn-active:after {
	position: absolute;
	content: ".";
	text-indent: -10000px;
	top: 6px;
	left: 2px;
	background-image: url(../img/up/ok.png) !important;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}

html .ui-body-c .buttons_pt .ui-btn.ui-btn-active {
	text-indent: 15px;
}

.buttons_pt.ui-navbar li p {
	text-align: center;
	padding: .6em;
	font-size: .8em;
	text-transform: uppercase
}

.buttons_pt .ui-input-text {
	border: none;
}

html .ui-body-c .ui-navbar.buttons_pt .ui-btn {
	line-height:135%;

}

html .ui-body-c .ui-navbar.buttons_pt.submit-route .ui-btn {
	line-height:35px;

}


.buttons_pt .ui-input-datebox input {
	margin: 0 !important;
	border: 0 !important;
	text-align: center;
	font-size: .8em;
	min-height: 1em;
	font-weight: bold;
}

.buttons_pt .ui-grid-c .ui-input-datebox {
	width: auto;
}

.buttons_pt .ui-input-datebox {
	min-height: 20px;
}

.buttons_pt .ui-input-text {
	margin: 0;
	height: 20px;
	padding: .7em 0em;
	background-color: #014260 !important;
}
/*slider*/
.buttons_pt .ui-slider-switch .ui-slider-label {
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
}

.buttons_pt .ui-slider-switch .ui-slider-label-b {
	color: #014260;
}

.ui-slider-track.ui-corner-all {
	-webkit-border-radius: 0;
	border-radius: 0;
}

#transport2 .ui-block-b {
	overflow: hidden;
}

#transport2 .ui-slider-inneroffset {
	margin: 0 5px 0px 20px;
}

#transport2 .ui-slider-inneroffset a.ui-slider-handle {
	height: 40px;
	width: 10px;
}

.buttons_pt div.ui-slider-switch {
	width: 90%;
	margin: 0;
	height: 39px;
	border: none
}

.buttons_pt .ui-slider-switch .ui-slider-label-a,.buttons_pt .ui-slider-switch .ui-slider-label-b
	{
	text-indent: 0;
	line-height: 40px;
	font-size: .8em;
}

#summary {
	margin: 1em .3em 1em .3em;
	font-size: .8em;
	color: #014260
}

.submit-route .ui-block-c .ui-btn {
	font-size: 1em !important;
}

/*route*/
#transport2 .ui-table {
	max-width:600px;
}

#transport_rides a.ui-btn span {
	text-indent: 0.3em !important;
	display: inline-block;
	width: 90px;
}

#transport2 #result {
	margin-top: 1em;
}

.spaeter {
	width: 40%;
	margin: 0 auto;
}

.spaeter .ui-input-btn {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
}

.ui-listview>li h3.complex_transport .ui-btn {
	font-size: .8em;
}

.ui-collapsible-heading.ui-collapsible-heading-collapsed {
	border-bottom: none;
}

.ui-collapsible-heading {
	border-bottom: 1px solid #ccc;
}

#transport2 .ui-table-reflow.ui-responsive {
	display: table;
}

#transport2 .ui-table td,#transport2 .ui-table-reflow tbody th {
	line-height: 1.3em;
}

#transport2 .ui-table-reflow tbody th {
	margin-top: 0;
}

#transport2 tr {
	border-bottom: 3px solid #d0dae3;
}

@media ( max-width : 35em) {
	#transport2 .ui-table-reflow.ui-responsive td {
		min-width: 260px;
	}
	#transport2 .ui-table td.foot .ui-table-cell-label
		{
		display: none;
	}

	#transport2 .ui-table td.foot img {
	display:block;
	margin:0 auto;
	}
}


#transport2 .ui-collapsible-content {
	padding: 0;
}

#transport2 .ui-table th.foot img {
	margin: 0 auto;
	display: block;
}

/**********************Suche******************
*****************************************************/
#library .ui-input-btn {
	color: none;
	font-weight: normal;
	text-transform: uppercase;
}

#library .ui-input-btn input {
	color: none !important;
}

#library .ui-listview>li p,div.booktitle p {
	text-transform: none;
	color: #666;
	margin-top: 0;
	font-size: .8em;
}

#library .ui-listview>li p b,div.booktitle p b {
	font-style: normal;
	color: #000;
}

#library .ui-listview>li h2,div.booktitle h2 {
	margin-top: 0 0 !important;
	line-height: 1;
	text-transform: none;
	color: #000;
	margin-bottom: 1px;
}

#library .ui-listview>li h3,div.booktitle h3 {
	font-weight: normal;
	color: #666;
	margin: 0;
	font-size: .8em;
}

#library .ui-collapsible-set {
	margin-top: 0;
}

#search-results .ui-btn-icon-right:after {
	right: -.1em;
}

#libraryContent .ui-navbar li {
	border-right: 0px;
}

div.booktitle {
	min-height: 100px;
	margin-bottom: 5px;
}

#book-icon {
	width: 55px;
	min-height: 100px;
	float: lefT;
	background-repeat: no-repeat;
	margin-left: .2em;
	margin-top: .4em;
}

#book-locations {
	background: #d0dae3;
}

#book-locations div {
	margin-left: 1em;
	padding: .5em 0;
}

#book-locations h3 {
	margin: .3em 0 .3em 0;
	font-size: 1em;
}

#book-locations p {
	margin: .3em 0 .3em 0;
	font-size: 1.8m;
}

#book-details div h3 a.ui-btn {
	padding-left: .3em !important;
}

#book-details p {
	margin-left: 1em;
}

#book-details p em {
	font-style: normal;
	font-weight: bold;
}

#book-details .ui-collapsible-heading {
	background: #d0dae3;
}

#book-details .ui-body-inherit.ui-collapsible-content {
	padding-left: 1em;
	padding-top: 1em;
}

#book-details .ui-body-inherit.ui-collapsible-content p {
	margin-left: 0em;
	margin-top: 0em;
}

#book-details .ui-body-inherit.ui-collapsible-content ul {
	margin-top: 0;
	padding-left: 1.1em;
}

.location-details {
	display: inline-block;
}

/* Ressourcen*/
li.book-short a.ui-btn {
	padding-left: .2em;
	padding-right: 1em;
}

li.book-short div {
	width: 30px;
	height: 50px;
	background-repeat: no-repeat !important;
	background-position: 0px 7px;
	float: left;
}

/* MediaIcon A
---------------------*/
div.media_a {
	background-image: url(../img/res/media_a.png) !important;
}

div.media_a_big {
	background-image: url(../img/res/media_a_big.png) !important;
}

li.book-short:hover div.media_a,li.book-short:active div.media_a {
	background-image: url(../img/res/media_a.png) !important;
}
/* MediaIcon B
---------------------*/
div.media_b {
	background-image: url(../img/res/media_b.png) !important;
}

div.media_b_big {
	background-image: url(../img/res/media_b_big.png) !important;
}

li.book-short:hover div.media_b,li.book-short:active div.media_b {
	background-image: url(../img/res/media_b_hover.png) !important;
}
/* MediaIcon E
---------------------*/
div.media_e {
	background-image: url(../img/res/media_e.png) !important;
}

div.media_e_big {
	background-image: url(../img/res/media_e_big.png) !important;
}

li.book-short:hover div.media_e,li.book-short:active div.media_e {
	background-image: url(../img/res/media_e_hover.png) !important;
}
/* MediaIcon G
---------------------*/
div.media_g {
	background-image: url(../img/res/media_g.png) !important;
}

div.media_g_big {
	background-image: url(../img/res/media_g_big.png) !important;
}

li.book-short:hover div.media_g,li.book-short:active div.media_g {
	background-image: url(../img/res/media_g_hover.png) !important;
}
/* MediaIcon H
---------------------*/
div.media_h {
	background-image: url(../img/res/media_h.png) !important;
}

div.media_h_big {
	background-image: url(../img/res/media_h_big.png) !important;
}

li.book-short:hover div.media_h,li.book-short:active div.media_h {
	background-image: url(../img/res/media_h_hover.png) !important;
}
/* MediaIcon I
---------------------*/
div.media_i {
	background-image: url(../img/res/media_i.png) !important;
}

div.media_i_big {
	background-image: url(../img/res/media_i_big.png) !important;
}

li.book-short:hover div.media_i,li.book-short:active div.media_i {
	background-image: url(../img/res/media_i_hover.png) !important;
}
/* MediaIcon K
---------------------*/
div.media_k {
	background-image: url(../img/res/media_k.png) !important;
}

div.media_k_big {
	background-image: url(../img/res/media_k_big.png) !important;
}

li.book-short:hover div.media_k,li.book-short:active div.media_k {
	background-image: url(../img/res/media_k_hover.png) !important;
}
/* MediaIcon L
---------------------*/
div.media_l {
	background-image: url(../img/res/media_l.png) !important;
}

div.media_l_big {
	background-image: url(../img/res/media_l_big.png) !important;
}

li.book-short:hover div.media_l,li.book-short:active div.media_l {
	background-image: url(../img/res/media_l_hover.png) !important;
}
/* MediaIcon M
---------------------*/
div.media_m {
	background-image: url(../img/res/media_m.png) !important;
}

div.media_m_big {
	background-image: url(../img/res/media_m_big.png) !important;
}

li.book-short:hover div.media_m,li.book-short:active div.media_m {
	background-image: url(../img/res/media_m_hover.png) !important;
}
/* MediaIcon O
---------------------*/
div.media_o {
	background-image: url(../img/res/media_o.png) !important;
}

div.media_o_big {
	background-image: url(../img/res/media_o_big.png) !important;
}

li.book-short:hover div.media_o,li.book-short:active div.media_o {
	background-image: url(../img/res/media_o_hover.png) !important;
}
/* MediaIcon P
---------------------*/
div.media_p {
	background-image: url(../img/res/media_p.png) !important;
}

div.media_p_big {
	background-image: url(../img/res/media_p_big.png) !important;
}

li.book-short:hover div.media_p,li.book-short:active div.media_p {
	background-image: url(../img/res/media_p_hover.png) !important;
}
/* MediaIcon S
---------------------*/
div.media_s {
	background-image: url(../img/res/media_s.png) !important;
}

div.media_s_big {
	background-image: url(../img/res/media_s_big.png) !important;
}

li.book-short:hover div.media_s,li.book-short:active div.media_s {
	background-image: url(../img/res/media_s_hover.png) !important;
}
/* MediaIcon T
---------------------*/
div.media_t {
	background-image: url(../img/res/media_t.png) !important;
}

div.media_t {
	background-image: url(../img/res/media_t_big.png) !important;
}

li.book-short:hover div.media_t,li.book-short:active div.media_t {
	background-image: url(../img/res/media_t_hover.png) !important;
}
/* MediaIcon V
---------------------*/
div.media_v {
	background-image: url(../img/res/media_v.png) !important;
}

div.media_v_big {
	background-image: url(../img/res/media_v_big.png) !important;
}



li.book-short:hover div.media_v,li.book-short:active div.media_v {
	background-image: url(../img/res/media_v_hover.png) !important;
}
/* MediaIcon X
---------------------*/
div.media_x {
	background-image: url(../img/res/media_x.png) !important;
}

div.media_x_big {
	background-image:url(..img/red/media_x_big.png) !important;
}

li.book-short:hover div.media_x,li.book-short:active div.media_x {
	background-image: url(../img/res/media_x_hover.png) !important;
}

/***********************Raumbelegung*********************
**************************************************************/
#freeRooms p {
	margin: .5em;
}

#freeRooms h3 {
	margin-left: .5em;
	margin-bottom: .3em
}

#roomsHost h3 {
	margin-left: 0em;
	background: #ededed;
	margin-bottom: 0;
}

#roomsHost h3 a.ui-btn {
	text-indent: .3em;
}

#reservationsforroom {
	margin-left: .3em;
	list-style-type: circle;
}

#reservationsforroom li {
	border: none;
	line-height: 2em;
	border-left: 10px solid #DEDEDE;
	padding-left: .5em;
	margin-bottom: 2px;
	background-color: #EDEDED;
}

#freeRooms .ui-btn-icon-left:after {
	background-color: #014260;
}

#roomsHost .ui-collapsible-heading.ui-collapsible-heading-collapsed  .ui-btn
	{
	background-color: #d0dae3;
	color: #014260;
}

#roomsHost .ui-collapsible-heading .ui-btn {
	background-color: #014260;
	color: #fff;
}

#roomsHost .ui-collapsible-heading .ui-btn span{
	color: #fff;
}

#roomsHost .ui-collapsible-heading.ui-collapsible-heading-collapsed .ui-btn span{
	color: #666;
}



#roomsHost .ui-collapsible-content .ui-btn-b {
	background:#ededed;
	border-color:#ededed;
}

#roomsHost .ui-collapsible-content .ui-btn-b:hover {
	background:#d0dae3;
	color:#014260;
}
/***********************Moodle*********************
**************************************************************/
#moodle ul {
	overflow: hidden
}

#moodle .ui-content .ui-listview {
	margin: 0;
}

#moodle .ui-listview.ui-group-theme-c .ui-btn {
	font-size: 16px;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	vertical-align: middle;
	height: auto;
	display: block;
}

#moodle .ui-btn-icon-left:after,#moodle .ui-btn-icon-notext:after {
	position: relative;
	float: right;
	margin-top: -30px;
	padding-right: .3em;
}

#moodle .ui-listview>li h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 95%;
}

/***********************Personensuche*********************
**************************************************************/
#peoples h3.ui-collapsible-heading {
	border-bottom: 0px;
}

#peoples h3.ui-collapsible-heading.ui-collapsible-heading-collapsed {
	border-bottom: 1px;
}

#peoples h3.ui-collapsible-heading a {
	background-image: url(../img/up/people-hover.png) !important;
	background-repeat: no-repeat;
	background-position: 0px 9px;
	padding: 5px 1.5em 0 40px !important;
	display: block;
	background-color: #d0dae3 !important;
}

#peoples h3.ui-collapsible-heading.ui-collapsible-heading-collapsed a {
	background-image: url(../img/up/people.png) !important;
	background-repeat: no-repeat;
	background-color: #ededed !important;
}

#peoples h3.ui-collapsible-heading.ui-collapsible-heading-collapsed a:hover
	{
	background-image: url(../img/up/people-hover.png) !important;
	background-repeat: no-repeat;
	background-color: #d0dae3 !important;
}

#peoples h3 a span {
	margin-bottom: 3px;
	display: inline-block;
}

#peoples .ui-btn-icon-right:after {
	right: -.1em;
}

.mail {
	background-image: url(../img/up/mail-small.png) !important;
	background-repeat: no-repeat;
	background-position: 0px .4em;
	text-indent: 20px;
}

.phone {
	background-image: url(../img/up/phone-small.png) !important;
	background-repeat: no-repeat;
	background-position: 0px .4em;
	text-indent: 20px;
}

#peoples .ui-collapsible-content p {
	padding-left: 25px;
}

/*****error*****************/

.error {
		background:#d0dae3;
		padding:2em;
		margin:10px auto;
}

.error h2 {
		color:#014260;
		font-size:140%;
		margin:3px auto 3px auto;
		font-weight:bold;
}


.error p{
		border-top:2px solid #ededed;
		border-bottom:2px solid #ededed;
		padding:.5em;
		font-size:.8em;
}

@media ( max-width : 35em) {
	.error img {width:55%;
	}
}

@media ( min-width : 35em) {
	.error img {width:20%;
	}

	.error p{
		max-width:25%;
		margin:0 auto;
	}
}

/******lectures *******/

#lectures .ui-collapsible-content.ui-body-inherit {
	background: #cfdae3;
	color: #014260;
	font-size: .8em;
	padding-left: 1.5em;
}

#lectures .ui-collapsible-inset .ui-collapsible-heading .ui-btn {
		padding-left:1em !important;
}

#lectures .ui-select {
	width: 100%;
}

/****grades*****/

table#grades {
	background-color:#d0dae3;


}

@media (min-width: 35em) {
	#grades.ui-table-reflow.ui-responsive {
	display: inline-table;
	}
}


