/*LAYOUT*/

/*Abstände zum inhalt zurücksetzen*/
.ui-content {
	padding:0em;
}

body, .ui-page {
	max-width:600px;
	margin:0 auto;
}

/* margin-top der listview zurücksetzen*/
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset {
margin: 0em 0;
}

/*rechter und linker rand bei listen weg*/
.ui-listview-inset>.ui-li-static, .ui-listview-inset>.ui-li-divider, .ui-listview-inset>li>a.ui-btn {
border-right-width: 0px;
border-left-width: 0px;

}

/* login button  - Höhe*/
#home li.login .ui-btn {
height:38px;

}

#home .ui-page-theme-b .ui-btn, html #home .ui-bar-b .ui-btn, html #home.ui-body-b .ui-btn, html body  #home.ui-group-theme-b .ui-btn, html head + body  #home.ui-btn.ui-btn-b, #home.ui-page-theme-b .ui-btn:visited, html #home.ui-bar-b .ui-btn:visited, html #home .ui-body-b .ui-btn:visited, html body #home .ui-group-theme-b .ui-btn:visited, html head + body #home .ui-btn.ui-btn-b:visited {
border-color: #94bbe3;
}

/* kein Rand Footer/Header, Weite begrenzen*/
.ui-header, .ui-footer {
border-width: 0px;
border-style: solid;
max-width:600px;
}

.ui-header {
	height:38px;
	padding:0;
	margin-bottom:5px;
}

.ui-footer {
position:absolute;
bottom:0;
width:100%;
}

/*tabs*/

.ui-navbar .ui-page-theme-c .ui-btn, 
html  .ui-bar-c .ui-navbar .ui-btn, 
html  .ui-body-c .ui-navbar .ui-btn, 
html body .ui-group-theme-c  .ui-navbar .ui-btn, 
html head + body .ui-navbar .ui-btn.ui-btn-c, 
.ui-page-theme-c .ui-navbar .ui-btn:visited, 
html .ui-bar-c .ui-navbar .ui-btn:visited, 
html .ui-body-c .ui-navbar .ui-btn:visited, 
html body .ui-group-theme-c .ui-navbar .ui-btn:visited, 
html head + body .ui-navbar.ui-btn.ui-btn-c:visited{
	border:none;
	height:35px;
	display:table-cell; 
	vertical-align:middle;
	width:20%;
}

/*suche input*/
.ui-input-search {
	margin:20px; auto;
	width:80%;
	border:2px inset #ededed;
}

/*SCHRIFT*/

.ui-header .ui-title, .ui-footer .ui-title {
	font-size: 1em;
	min-height: 1.1em;
	text-align: left;
	display: block;
	margin: 0 0.5em;
	padding: 0.7em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0!important;
	text-transform:uppercase;
	letter-spacing:0.3em;
	font-weight:bold;
	margin-left:45px;
	text-indent:10px;
}

#home .ui-btn {
	font-size: 16px;
	margin: 0 0;
	padding: 0em 1em;
	text-align: right;
	text-transform:uppercase;
	font-weight:normal;
	/* vertikal zentrieren*/
	display:table-cell; 
	vertical-align:middle;
	height:78px;
	width:600px;
}

.ui-listview.ui-group-theme-c .ui-btn {
	font-size: 16px;
	margin: 0 0;
	padding: 0em 1em;
	text-align: right;
	text-transform:uppercase;
	font-weight:normal;
	/* vertikal zentrieren*/
	display:table-cell; 
	vertical-align:middle;
	height:78px;
	width:600px;
}

/*Schrift in Tabs*/
.ui-navbar li .ui-btn {
	font-size: 12.5px;
	font-weight:normal;
	text-transform:uppercase;
}

/*allgemein*/

h2 {
	color:#1e516b;
	text-transform:uppercase;
	font-size:1.2em;
	font-weight:normal;
	margin-left:1em;
}
 
html  .ui-body-c .speiseplan a,
html body  .ui-group-theme-c .speiseplan a{font-weight:normal;color:#000;font-size:.6em;}

.speiseplan h3 span {
	font-weight:bold;
	color:#1e516b;
	font-size:1.4em;
}

/*Bilder*/

/*header*/

#home .ui-header .ui-title {
	background-image:none;
	margin-left:10px;
}

.ui-header .ui-title {
	background-image:url(../img/up/seperator.png);
	background-repeat:no-repeat;
	background-position:top left;
	
}

/*1. icons startseite*/
#home .ui-listview.ui-group-theme-b  li a span{
	background-image:url(../img/up/arrow-darkblue.png) !important;
	background-repeat:no-repeat;
	background-position:right;
	width:20px;height:12px;
	display:inline-block;
}

#home .ui-listview.ui-group-theme-b  li.news a:hover span{
	background-image:url(../img/up/arrow-darkblue.png) !important;
	background-repeat:no-repeat;
	background-position:right;
	width:20px;height:12px;
	display:inline-block;
}

#home .ui-listview.ui-group-theme-b  li.news a:hover {
	color:#04305e;
}

#home .ui-listview.ui-group-theme-b  li.news a span{
	background-image:url(../img/up/arrow-white.png) !important;
	background-repeat:no-repeat;
	background-position:right;
	width:20px;height:12px;
	display:inline-block;
}

#home .ui-listview.ui-group-theme-b  li.news a {
	background-image:url(../img/up/news.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#home .ui-listview.ui-group-theme-b  li.study a {
	background-image:url(../img/up/study.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#home .ui-listview.ui-group-theme-b  li.around a {
	background-image:url(../img/up/around.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#home .ui-listview.ui-group-theme-b  li.plans a {
	background-image:url(../img/up/plans.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

#home .ui-listview.ui-group-theme-b  li.search a {
	background-image:url(../img/up/search.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

/*2. Back button*/

.ui-page-theme-a .ui-btn.back, 
html .ui-bar-a .ui-btn.back, 
html .ui-body-a .ui-btn.back, 
html body .ui-group-theme-a .ui-btn.back, 
html head + body .ui-btn.ui-btn-a.back, 
.ui-page-theme-a .ui-btn.back:visited, 
html .ui-bar-a .ui-btn.back:visited, 
html .ui-body-a .ui-btn.back:visited, 
html body .ui-group-theme-a .ui-btn.back:visited, 
html head + body .ui-btn.ui-btn-a.back:visited{
	
	border:none;
	color:#cfdae3;
	background-color:transparent;
	background-image:url(../img/up/arrow-back.png);
	background-repeat:no-repeat;
	text-indent:-400000px;
	position:relative;
	float:left;
	margin-left:5px;
}

/*hover*/
.ui-page-theme-a .ui-btn.back:hover, 
html .ui-bar-a .ui-btn.back:hover, 
html .ui-body-a .ui-btn.back:hover, 
html body .ui-group-theme-a .ui-btn.back:hover, 
html head + body .ui-btn.ui-btn-a.back:hover {
	background-color:none;
	border:none;
	color:#cfdae3;
	background-image:url(../img/up/arrow-back-hover.png);
	
}

/*Menubutton*/
.menubutton.ui-link.ui-btn-left.ui-btn, .menubutton.ui-link.ui-btn-left.ui-btn:visited  {
position:relative;
float:left; 
padding-left:33px;
text-indent:-40000px;
background-image:url(../img/up/menubutton.png) !important;
background-repeat:no-repeat;
background-position:top right;
background-color:transparent;
border:none;
left:0;
top:0;
margin:0;
height:100%;
}

/*icons akkordion*/
.speiseplan .ui-icon-plus:after {
	background-image:url(../img/up/arrow-down.png);
}

.speiseplan .ui-icon-minus:after {
	background-image:url(../img/up/arrow-up.png);
}

.speiseplan .ui-btn-icon-left:after, 
.speiseplan .ui-btn-icon-notext:after {
	border-radius:0em;
	background-color:transparent;
}
/* mensa piktogramme */

.speiseplan h3 img {
	display:inline-block;
	margin-right:10px;
	float:left;
}

/*icons akkordion*/
.speiseplan .ui-icon-plus:after {
    background-image:url(images/icons-up/arrow-down.png);
}

.speiseplan .ui-icon-minus:after {
    background-image:url(images/icons-up/arrow-up.png);
}

.speiseplan .ui-btn-icon-left:after, 
.speiseplan .ui-btn-icon-notext:after {
    border-radius:0em;
    background-color:transparent;
    position:relative;
    float:right;

    
}
/* mensa piktogramme */

.speiseplan .mensaicons{
    width:80px;
    float:left;
    
}

.speiseplan h3 img {
	width: 30px;
	height: 30px;
}

.speiseplan img{
    margin-left:5px;
    vertical-align:middle;
}
.speiseplan .mensatext {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    padding-right:5px;
}

/*3. icons studium onlinedienste*/

.ui-listview.ui-group-theme-c  li a span{
	background-image:url(../img/up/arrow-darkblue.png) !important;
	background-repeat:no-repeat;
	background-position:right;
	width:20px;height:12px;
	display:inline-block;
}

.ui-listview.ui-group-theme-c  li.calendar a {
	background-image:url(../img/up/calendar.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.calendar:hover a {
	background-image:url(../img/up/calendar-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.lecturesdir a {
	background-image:url(../img/up/lecturesdir.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.lecturesdir:hover a {
	background-image:url(../img/up/lecturesdir-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.grades a {
	background-image:url(../img/up/grades.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.grades:hover a {
	background-image:url(../img/up/grades-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.moodle a {
	background-image:url(../img/up/moodle.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.moodle:hover a {
	background-image:url(../img/up/moodle-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.itservices a {
	background-image:url(../img/up/itservices.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.itservices:hover a {
	background-image:url(../img/up/itservices-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

/*4. icons rund ums studium*/
.ui-listview.ui-group-theme-c  li.events a {
	background-image:url(../img/up/events.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.events:hover a {
	background-image:url(../img/up/events-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.mensa a {
	background-image:url(../img/up/mensa.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.mensa:hover a {
	background-image:url(../img/up/mensa-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.emergency a {
	background-image:url(../img/up/emergency.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.emergency:hover a {
	background-image:url(../img/up/emergency-hover.png);
	background-repeat:bottom no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.sports a {
	background-image:url(../img/up/sports.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.sports:hover a {
	background-image:url(../img/up/sports-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

/*4. icons plaene orte*/
.ui-listview.ui-group-theme-c  li.sitemaps a {
	background-image:url(../img/up/sitemaps.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.sitemaps:hover a {
	background-image:url(../img/up/sitemaps-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.rooms a {
	background-image:url(../img/up/rooms.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.rooms:hover a {
	background-image:url(../img/up/rooms-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.opening a {
	background-image:url(../img/up/opening.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.opening:hover a {
	background-image:url(../img/up/opening-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.transport a {
	background-image:url(../img/up/transport.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}

.ui-listview.ui-group-theme-c  li.transport:hover a {
	background-image:url(../img/up/transport-hover.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}


/* Datebox*/

.ui-input-datebox {
width:100%;
background-image: none;
padding: .4em;
font-size: 16px;
display: block;
padding-top: 0;
padding-bottom: 0;
background-color: #1e516b;
}

.ui-input-datebox input {
	color:#fff;
	text-shadow:none;
}

label.showfirst {
padding-top: 0;
padding-bottom: 0;
line-height:2.9em;
display: block;
color:red;
white-space:nowrap;
font-weight:normal;
}

/*speiseplan*/

.speiseplan .ui-btn-icon-notext:after, 
.speiseplan .ui-btn-icon-left:after, 
.speiseplan .ui-btn-icon-right:after {
	position:relative; float:right;
}

.speiseplan .ui-btn-icon-left {
	padding-left:.5em;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	border-right-width:0px;
	border-left-width:0px;
	background:#cfdae3;
	text-shadow:none;
	border-bottom:none;
}

.ui-collapsible-inset .ui-collapsible-heading-collapsed .ui-btn {
	
	background:#ededed;
}

.speiseplan .ui-collapsible-content.ui-body-inherit {
	background:#cfdae3;
	color:#000;
	font-size:.8em;
	padding-left:50px;
}


/* popup panel */

#nav-panel ul.nav-search  li a, #nav-panel2 ul.nav-search  li a, #nav-panel3 ul.nav-search  li a {
	background-image:url(../img/up/arrow-darkblue.png);
	background-repeat:no-repeat;
	background-position:right;
	border-right:15px solid #d0dae3;
}

#nav-panel ul.nav-search  li a:hover, #nav-panel2 ul.nav-search  li a:hover, #nav-panel3 ul.nav-search  li a:hover {
	background-image:url(../img/up/arrow-white.png);
	border-right:15px solid #014260;
	border-top:0;
	border-bottom:0;
}
#nav-panel ul.nav-search  li:first-child a, #nav-panel2 ul.nav-search  li:first-child a, #nav-panel3 ul.nav-search  li:first-child a {
	background-image:url(../img/up/close.png);
}

#nav-panel ul.nav-search  li:first-child:hover a, #nav-panel2 ul.nav-search  li:first-child:hover a, #nav-panel ul.nav-search  li:first-child:hover a {
	background-image:url(../img/up/close-hover.png);
	
}

/* Sorter
-------------------- */
#sorter .ui-li.ui-li-static.ui-btn-up-c {
    height: 3.8%;
    padding: 0;
    font-size: 8px;
    padding-left: 5px;
    line-height: 1.8em;
}
#sorter{
    position: fixed;
    top: 60px;
    right: 0;
    width: 20px;
    z-index: 1;
}
#sorter ul{
    height: 100%;
}
#sortedList{
    padding-right: 35px;
}


/*Liste - Öffnungszeiten
-------------------- */
.ui-bar-inherit.ui-li-divider {  /*Zeilen für A, B, C ....*/	
	background:#dedede !important;
	border:none;
}

.ui-listview>.ui-li-static {
	padding:0px;
	
}


html .ui-body-c .ui-body-inherit.ui-collapsible-collapsed, html .ui-body-c .ui-body-inherit.ui-collapsible {
	border-color:#cccccc;
}

.ui-listview>li h3 {
	margin:0 0;
	
}

li.ui-collapsible h3.ui-collapsible-heading.ui-collapsible-heading-collapsed a {
		
	background:#ededed;
	border:none;
}

ui-collapsible-heading-toggle, li.ui-collapsible h3.ui-collapsible-heading a,ui-collapsible-heading-toggle {
	background:#cfdae3;
}


html .ui-body-c .ui-body-inherit.ui-collapsible-content {
	background:#cfdae3;
	padding-left:45px;
}

html .ui-body-c .ui-body-inherit.ui-collapsible-content h4 {
	color:#1e516b;
	font-size:.8em;
	
}

/* Circles 
-------------------- */

.both{
	display:block;
	float:left;
     height:0px;
     width:0px;
    border-right:10px solid #990808;
	border-top:10px solid #459909;
	border-left:10px solid #459909;
	border-bottom:10px solid #990808;
	-moz-border-radius: 10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	 margin-right:10px;
}

.closed{
	display:block;
	float:left;
     height: 20px; 
    width: 20px; 
    background-color: #990808; 
	-moz-border-radius:  150px;
	-webkit-border-radius: 150px;
    border-radius: 150px;
     margin-right:10px;
}

.open{
	display:block;
	float:left;
     height: 20px; 
    width: 20px; 
    background-color: #459909; 
	-moz-border-radius:  150px;
	-webkit-border-radius: 150px;
    border-radius: 150px;
    margin-right:10px;
}

/*arrow up - arrow down 
-------------------- */

.ui-icon-arrow-down:after {
	background-image: url(../img/up/arrow-down.png);
	background-color:transparent;
}

.ui-icon-arrow-up:after {
	background-image: url(../img/up/arrow-up.png);
	background-color:transparent;
}

/*table  öffnungszeiten
---------------------------------*/

#opening table thead tr th {display:none;}
#opening table {
	display:block;
	font-size:.8em;
	margin-bottom:20px !important;
	
}

#opening .table-stripe tbody tr:nth-child(odd) th {

background-color: rgba(255, 255, 255, 0.4);
}

.table-stripe tbody tr:nth-child(odd) td, .table-stripe tbody tr:nth-child(odd) th {

background-color: rgba(255, 255, 255, 0.4);
}

#opening .table-stripe tbody tr:nth-child(even) th {

background-color: rgba(255, 255, 255, 0.8);
}

.table-stripe tbody tr:nth-child(even) td, .table-stripe tbody tr:nth-child(even) th {

background-color: rgba(255, 255, 255, 0.8);
}

/*öffnungszeiten - button hover 
----------------------------------*/

#opening.ui-page-theme-a .ui-btn:hover {
	background: #dedede !important;
	color: #1e516b;

}

